.my-report{
    background: #fff;
    /* margin-top: 4.5rem; */
    padding-top: 1rem;  
    margin-bottom: 1.9rem;
}
.report-width{
    min-width: 300px;
    max-width: 400px;
    width: 30%;
}
h4{
    font-size: 16px;
}
.removeBorder {
    border-right: 0px!important
}

.table-cell {
    position: relative;
}

.table-cell:before {
    position: absolute;
    content: "";
    top: 0;
    left: -1px;
    background-color: black!important;
    width: 1px;
    height: 100%;
}

.row-bg1 {
    background:#b0f3c5!important;
}

.row-bg2 {
    background: #a4d5f9 !important;
}
th{
    background: #131b8a;
    color: #fff;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #a5abb1;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.0);
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);
}
hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.accordion>.card{
    margin-bottom: 0.5rem;
}
.accordion>.card>.card-header {
    margin-bottom: 0px;
}
.card-header a{
    color:#000 !important;
    text-decoration: none !important;
}
.card-body{
    padding: 0 0 1rem !important;
}
.show{
    background-color: rgb(243, 254, 255);
}
.reply {
    margin: 1rem 3rem 0 1rem;
    border-radius: 0rem 1rem 1rem;
    padding: 0.75rem;
    float: left;
    min-width: 300px;
    background: #fff;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.09);
    border: 1px solid #f3f3f3;
}
.reply1 {
    margin: 1rem 1rem 0 3rem;
    border-radius: 1rem 0rem 1rem 1rem;
    padding: 0.75rem;
    float: right;
    min-width: 300px;
    background: #54c8ff;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.09);
    border: 1px solid #54c8ff;
}

.botReplyText{
    color: #00a91d;
    font-size: 15px;
    padding-bottom: 0.25rem;
}
.reply1 .botReplyText{
    color:#04618e;
}
.replyTxt{
    color: #000;
}
.reply1 .replyTxt{
    color: rgb(255, 255, 255);
}
.botReplyTime{
    font-size: 12px;
    color: #6b6b6b;
    text-align: right;
}
.reply1 .botReplyTime{
    color: rgba(255, 255, 255, 0.7);
}

