/* .pg-height{
    height: calc(100vh - 155px);
    overflow: auto;
} */
.actions-area{
    border-top: 1px solid #cecece;
    box-shadow: 0 0 3px 0px rgba(8, 8, 8, 0.17);
    position: fixed;
    bottom: 30px;
    width: 100%;
    z-index: 1;
}
.actions-area-height{
    height: 48px;
}
