<div class="chat-main-container">
  <header class="chat-header flex-ends">
    <div class="bold font15 text-dotdot" *ngIf="!auctionData">
      <span class="darkgrayfont mr-2 participant-menu" title="Participants" (click)="seeParticipants()"> <i class="fas fa-bars"></i>
      </span>
      <span class="" [matTooltip]="(checked)? translateText.CHAT_ALL:selectedSupplier.supplierName1"> Auction
        Id:{{auctionID}} | {{(checked)? translateText.CHAT_ALL:selectedSupplier.supplierName1}}</span>

    </div>
    <div class="bold font15 text-dotdot" *ngIf="auctionData">
       <span class="" [matTooltip]="auctionData.auctionLeader.name+ '(Buyer)'"> Auction
        Id:{{auctionID}} | {{auctionData.auctionLeader.name}}(Buyer)</span>
    </div>
    <div>
      <span class="font16 darkgrayfont ml-3">
        <i class="fas  fa-times" style="cursor:pointer;" (click)="closeChat()"> </i>
      </span>
    </div>
  </header>
  <div class="chat-participants participant-slide" *ngIf="!auctionData">
    <div [class]="(common.commonStatus==auctionStatusList.CO)?'px-3 py-2':'px-3 pt-3'">
      <input type="text" class="full-width form-control form-control-sm" [(ngModel)]="textSearch" placeholder="Search Participants" (keyup)="onTextSearch()" >
    </div>
    <div class="text-right font13 px-3 py-2" *ngIf="!chatAllVisible">
      Select All <mat-checkbox class="mr-2" [(ngModel)]="checked" (change)="(checked)?seeParticipants():''"></mat-checkbox>
    </div>
    <div class="chat-participants-list">
      <div class="chat-participant" *ngFor="let supplier of supplierList" (click)="(supplier.supplierID==selectedSupplier.supplierID)?seeParticipants():getSupplierQueryByID(supplier)"
        [ngClass]="{'selected': (!checked && supplier.supplierID==selectedSupplier.supplierID),'no-click':checked}">
        <div> <img [src]="imageURL+'assets/images/person.png'" class="chat-participant-img"> </div>
        <div class="">
          <div class="bold"> {{supplier.supplierName1}} </div>
          <!-- <div class="font13"> arun.nayak@ril.com</div> -->
        </div>
        <i *ngIf="(supplier.notifyFlag && !checked)" class="fa fa-circle" style="color:green;right: 10px;
        position: absolute; "></i>
       
        <!-- <div class="chat-participants-unread" *ngIf="(supplier.notifyFlag && !checked)"> 20 </div> -->
      </div>
    </div>
  </div>
  <div class="chat-overlay hide" (click)="seeParticipants()"  *ngIf="!auctionData"></div>
  <div class="chatting-interface">
    <div class="botBody" >
      <div class="chatText">
        <div *ngIf="!checked" class="chatTextArea scrollbar-outer" [scrollTop]="myScrollVariable" #scrollMe>
          <div *ngFor="let query of queryList">
            <div *ngIf="query.sendFlag=='to'" class="botReply">
              <div class="botImg">
                <span>
                  <img [src]="imageURL+'assets/images/person.png'" />
                </span>

              </div>
              <div class="clear"></div>
              <div class="reply">
                <div class="botReplyText">
                  <span class="bold" *ngIf="issealedBidDis"> {{ifSealedBidgetPartName(query)}}: </span>
                  <span class="bold" *ngIf="!issealedBidDis"> {{query.createdBy }}: </span>
                  {{query.longDesc}}
                </div>
                <div class="botReplyTime">
                  {{query.createdAt | date:'medium'}}
                </div>
              </div>
              <div class="clear"></div>
            </div>
            <div *ngIf="query.sendFlag=='from'" class="perReply">
              <div class="perImg">
                <span>
                  <img [src]="imageURL+'assets/images/person.png'" />
                </span>

              </div>
              <div class="clear"></div>
              <div class="ask">
                <div class="perAskText">
                  <span class="bold"> {{query.createdBy }}: </span>
                  {{query.longDesc}}
                </div>
                <div class="perReplyTime">
                  {{query.createdAt | date:'medium'}}
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear" *ngIf="common.commonStatus==auctionStatusList.OP"></div>
      <div class="MsgArea" *ngIf="common.commonStatus==auctionStatusList.OP">
        <div class="msgTestArea" *ngIf="checked">
          <input type="text" class="inputArea enterText" [(ngModel)]="allDesc" placeholder="Type your text here."
            (keyup.enter)="onSubmitQuery(true)">
          <div class="send">
            <!-- <button class="garkgrayfont"><i class="fas fa-paperclip"></i> </button> -->
            <button (click)="onSubmitQuery(true)"><i class="fas fa-paper-plane"></i> </button>
          </div>
        </div>
        <div class="msgTestArea" *ngIf="(!chatAllVisible && !checked)">
          <input type="text" class="inputArea enterText" [(ngModel)]="longDesc" placeholder="Type your text here."
            (keyup.enter)="(checked)?onSubmitQuery(true):((queryList.length==0)?onSubmitQuery():updateQueryData())">
          <div class="send">
            <!-- <button class="garkgrayfont"><i class="fas fa-paperclip"></i> </button> -->
            <button (click)="(checked)?onSubmitQuery(true):((queryList.length==0)?onSubmitQuery():updateQueryData())"><i
                class="fas fa-paper-plane"></i> </button>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>