<div class="row font14">
    <!-- start Suppliers -->
    <div class="col-md-3" *ngIf="!issealedBidDis">
        <mat-form-field class="full-width">
            <mat-label>Participants</mat-label>
            <mat-select [(ngModel)]="selectedSupplier" (selectionChange)="onOptionsSelected()">
                <mat-option>
                    <ngx-mat-select-search [placeholderLabel]="'search participants'"
                        [noEntriesFoundLabel]="'no record found'" [formControl]="supplierFilterCtrl">
                        <i class="fas fa-times dialog-closex" ngxMatSelectSearchClear></i>
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option value="" *ngIf="!supplierFilterCtrl.value">
                    Select All
                </mat-option>
                <mat-option *ngFor="let suppName of supplierDrop" [value]="suppName.supplierID" 
                    [hidden]="selectedTabIndex ? suppName.status !== 'Suspended' : suppName.status == 'Suspended'">
                    {{suppName.supplierName1}}
                </mat-option>

            </mat-select>
        </mat-form-field>
    </div>
    <!-- end Suppliers -->

    <!-- start Bid Reference ID -->
    <div class="col-md-3" *ngIf="auctionData.isSealedBidAuction">
        <mat-form-field class="full-width">
            <mat-label>Bid Reference ID</mat-label>
            <mat-select [(ngModel)]="selectedReference" (selectionChange)="onOptionsSelected()">
                <mat-option>
                    <ngx-mat-select-search [placeholderLabel]="'search bid reference'"
                        [noEntriesFoundLabel]="'no record found'" [formControl]="supplierbidref">
                        <i class="fas fa-times dialog-closex" ngxMatSelectSearchClear></i>
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option value="" *ngIf="!supplierbidref.value">
                    Select All
                </mat-option>
                <mat-option *ngFor="let bid of bidreference" [value]="bid">
                    {{bid}}
                </mat-option>

            </mat-select>
        </mat-form-field>
    </div>
    <!-- end Bid Reference ID -->

    <!-- start Lots -->
    <div class="col-md-3">
        <mat-form-field class="full-width">
            <mat-label>Lots</mat-label>
            <mat-select [(ngModel)]="selectedLot" (selectionChange)="onOptionsSelected()">
                <mat-option>
                    <ngx-mat-select-search [placeholderLabel]="'search lot'" [noEntriesFoundLabel]="'no record found'"
                        [formControl]="lotFilterCtrl">
                        <i class="fas fa-times dialog-closex" ngxMatSelectSearchClear></i>
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option value="" *ngIf="!lotFilterCtrl.value">
                    Select All
                </mat-option>
                <mat-option *ngFor="let lname of bidService.summaryList" [value]="lname.lotID">
                    {{lname.lotName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- end Lots -->

    <!-- start item -->
    <div class="col-md-3">
        <mat-form-field class="full-width">
            <mat-label>Items</mat-label>
            <mat-select [(ngModel)]="selectedItem" (selectionChange)="onOptionsSelected()">
                <mat-option>
                    <ngx-mat-select-search [placeholderLabel]="'search item'" [noEntriesFoundLabel]="'no record found'"
                        [formControl]="itemFilterCtrl">
                        <i class="fas fa-times dialog-closex" ngxMatSelectSearchClear></i>
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option value="" *ngIf="!itemFilterCtrl.value">
                    Select All
                </mat-option>
                <mat-option *ngFor="let item of itemFilter" [value]="item.itemID">
                    {{item.itemName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- end item -->

    <!-- start Bids -->
    <div class="col-md-3" *ngIf="!issealedBidDis">
        <mat-form-field class="full-width">
            <mat-label>Bids</mat-label>
            <mat-select [(ngModel)]="selectedBid" (selectionChange)="onOptionsSelected()">
                <mat-option value=""> Select All </mat-option>
                <mat-option value="1">Valid</mat-option>
                <mat-option value="0">Invalid</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- end Bids -->
</div>
<div class="table-responsive">
    <mat-tab-group animationDuration="0ms" (selectedIndexChange)="selectedIndexChange($event)">
        <mat-tab label="Active Participants">
            <ng-container *ngTemplateOutlet="tableTemplate;context:{control: 'active_par' }">
            </ng-container>
        </mat-tab>
        <mat-tab label="Suspended Participants">
            <ng-container *ngTemplateOutlet="tableTemplate;context:{control: 'suspend_par' }">
            </ng-container>
        </mat-tab>
    </mat-tab-group>
    <ng-template #tableTemplate let-control="control">
        <table class="table cust-table">
            <thead>
                <tr>
                    <th scope="col"> Sr.No. </th>
                    <th scope="col"> Lot </th>
                    <th scope="col" style="min-width: 105px;"> Item
                        <button class="ascending disabled" (click)='sortByColumn("itemName", "asc")'
                            [ngClass]='{"activeTab":sortBy.columnName == "itemName" && sortBy.type=="asc"}'
                            matTooltip="Ascending Sort">
                            <i class="fas fa-arrow-up"></i>
                        </button>
                        <button class="ascending disabled" (click)='sortByColumn("itemName", "desc")'
                            [ngClass]='{"activeTab":sortBy.columnName == "itemName" && sortBy.type=="desc"}'
                            matTooltip="Descending Sort">
                            <i class="fas fa-arrow-down"></i>
                        </button>
                    </th>
                    <th scope="col">Reliance Quantity </th>
                    <th scope="col">Round </th>
                    <th *ngIf="auctionData.isSealedBidAuction" scope="col">Bid Reference ID</th>
                    <ng-container *ngIf="!issealedBidDis">
                        <th scope="col" style="cursor:pointer; min-width: 200px;">Best Bid Unit Rate
                            <button class="ascending disabled" (click)='sortByColumn("baseCost", "asc")'
                                [ngClass]='{"activeTab":sortBy.columnName == "baseCost" && sortBy.type=="asc"}'
                                matTooltip="Ascending Sort">
                                <i class="fas fa-arrow-up"></i>
                            </button>
                            <button class="ascending disabled" (click)='sortByColumn("baseCost", "desc")'
                                [ngClass]='{"activeTab":sortBy.columnName == "baseCost" && sortBy.type=="desc"}'
                                matTooltip="Descending Sort">
                                <i class="fas fa-arrow-down"></i>
                            </button>
                        </th>
                        <th scope="col" style="cursor:pointer; min-width: 200px;"> Best Bid Total Value
                            <button class="ascending disabled" (click)='sortByColumn("variableCost", "asc")'
                                [ngClass]='{"activeTab":sortBy.columnName == "variableCost" && sortBy.type=="asc"}'
                                matTooltip="Ascending Sort">
                                <i class="fas fa-arrow-up"></i>
                            </button>
                            <button class="ascending disabled" (click)='sortByColumn("variableCost", "desc")'
                                [ngClass]='{"activeTab":sortBy.columnName == "variableCost" && sortBy.type=="desc"}'
                                matTooltip="Descending Sort">
                                <i class="fas fa-arrow-down"></i>
                            </button>
                        </th>
                        <!-- Landed -->
                        <th scope="col" style="min-width: 100px;" *ngIf="afMfEnabled"> Landed Cost </th>
                        <!-- Total Landed -->
                        <th scope="col" style="min-width: 130px;" *ngIf="afMfEnabled"> Total Landed Cost </th>

                        <th scope="col" style="cursor:pointer; min-width: 110px;" *ngIf="control =='active_par'">Rank
                            <button class="ascending disabled" (click)='sortByColumn("rank", "asc")'
                                [ngClass]='{"activeTab":sortBy.columnName == "rank" && sortBy.type=="asc"}'
                                matTooltip="Ascending Sort">
                                <i class="fas fa-arrow-up"></i>
                            </button>
                            <button class="ascending disabled" (click)='sortByColumn("rank", "desc")'
                                [ngClass]='{"activeTab":sortBy.columnName == "rank" && sortBy.type=="desc"}'
                                matTooltip="Descending Sort">
                                <i class="fas fa-arrow-down"></i>
                            </button>
                        </th>
                        <th scope="col">Status </th>
                        <th scope="col" style="min-width: 105px;">Participant Name </th>
                        <th scope="col" style="cursor:pointer; min-width: 130px;">Bid Time
                            <button class="ascending disabled" (click)='sortByColumn("time", "asc")'
                                [ngClass]='{"activeTab":sortBy.columnName == "time" && sortBy.type=="asc"}'
                                matTooltip="Ascending Sort">
                                <i class="fas fa-arrow-up"></i>
                            </button>
                            <button class="ascending disabled" (click)='sortByColumn("time", "desc")'
                                [ngClass]='{"activeTab":sortBy.columnName == "time" && sortBy.type=="desc"}'
                                matTooltip="Descending Sort">
                                <i class="fas fa-arrow-down"></i>
                            </button>
                        </th>
                    </ng-container>
                    <th scope="col" *ngIf="auctionData.status === 'Paused' && control =='active_par'">Action </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bid_data of data | bidHisFilterPipe:control; index as i">
                    <td> {{i+1}} </td>
                    <td> {{bid_data.lotName}} </td>
                    <td> {{bid_data.itemName}} </td>
                    <td> {{bid_data.minimumDesiredQuantity}} </td>
                    <td> {{bid_data.roundID}} </td>
                    <td *ngIf="auctionData.isSealedBidAuction"> {{bid_data.uniqueBidID}} </td>
                    <ng-container *ngIf="!issealedBidDis">
                        <td>
                            <best-bid-col [columnName]="'Best Bid Unit Rate BidHistory'" [exchangeRate]="exchangeRate" [itemData]="bid_data" [auctionData]="auctionData"></best-bid-col>
                        </td>
                        <td> 
                            <best-bid-col [columnName]="'Best Bid Total Value BidHistory'" [exchangeRate]="exchangeRate" [itemData]="bid_data" [auctionData]="auctionData"></best-bid-col>
                        </td>
                         <!-- Landed -->
                        <td *ngIf="afMfEnabled">
                            {{ bid_data.primaryCurrency }} {{ bid_data.landedCost  | number:currDeciPlac }}</td>
                         <!-- Total Landed -->
                        <td *ngIf="afMfEnabled">
                            {{ bid_data.primaryCurrency }} {{ bid_data.totalLandedCost  | number:currDeciPlac }}
                        </td>
                        <td *ngIf="control =='active_par'"> {{bid_data.rank}} </td>
                        <td> {{(bid_data.isLeading ==0)?'Previous':'Current'}} </td>
                        <td> {{bid_data.bidderID | supplierName:allSupplierInviteList:'bidHis'}}
                            ({{bid_data.bidderID}}) </td>
                        <td> {{bid_data.createdAt| date: 'dd/MM/yyyy HH:mm:ss'}} IST</td>
                    </ng-container>
                    <td *ngIf="auctionData.status === 'Paused' && control =='active_par'">
                        <button class="header-sm-btn  redfont" (click)="removeBid(bid_data)">
                            <i class="far fa-trash-alt font13"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>
    <div [hidden]="data && data.length > 0" style="text-align: center;">
        {{commonheader?.NO_REC_FOU}}
    </div>
</div>