@media (min-width: 992px) {
    .col-md-12 {
        width: 90%;
    }
}
@media (device-width: 768px) {
    .table-responsive {
        width: 88%;
    }
}
@media (device-width: 1024px) {
    .table-responsive {
        width: 98%;
        margin-left:-4px;
    }
}
