<button class="header-sm-btn-ico mr-2 tealbg" [ngClass]="{'filCol':itemboundClick}" matTooltip="Filter Columns"
  (click)="itemboundClick = !itemboundClick;saveItemCustFil()">
  <i class="fas fa-columns"></i>
</button>
<div id="myDropdown" class="fliter-dropdown-content" [hidden]="!itemboundClick">
  <input type="text" placeholder="Search Filter Columns.." id="myInput" [(ngModel)]="term">
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let col of columnNames | displayCol:term;let i = index"
      [cdkDragDisabled]="col.disable" cdkDrag>
      <mat-checkbox [checked]="col.selected && !col.disable" [disabled]="col.disable" (change)="onSelectCustomFil($event.checked,col)">
        <span *ngIf="col.item_text && col.item_text.length>22">
          {{col.item_text | slice:0:19}} <span matTooltip="{{col.item_text}}">...</span>
        </span>
        <span *ngIf="col.item_text && col.item_text.length<=22">
          {{col.item_text}}
        </span>
      </mat-checkbox>
    </div>
  </div>
</div>