<div class="border-card border-blue p-3 mb-3 wow bounceInUp animationdelay" data-wow-delay=".45s">
  <div class="border-card-header mb-2 d-flex justify-content-between align-items-center pad-block">
    <div class="bold mb-2"> {{commonheader.ITEMS}} ({{buyerService.itemDetails?.length}})</div>
    <div>
        <button class="header-sm-btn  mr-2" [style.pointer-events]="buyerService.auctionData.auctionID  ? 'inherit' : 'none'"
          (click)="createLot();">
          <i class="fas fa-plus"> </i> {{commonheader.LOT}}
        </button>
      <span *ngIf="(aucStatus === 'draft' || aucStatus === 'suspended' || !aucStatus) && !common.auctionLeader.host">
        <button [disabled]="auctionReadOnly" class="header-sm-btn  mr-2" (click)="createItem();" [style.pointer-events]="buyerService.auctionData.auctionID  ? 'inherit' : 'none'">
          <i class="fas fa-plus"> </i> {{commonheader.NEW_ITEM}}
        </button>
        <button  [disabled]="auctionReadOnly" class="header-sm-btn  mr-2" *ngIf="!common.isMobile" (click)="exportAsXLSX('Item');" [style.pointer-events]="buyerService.auctionData.auctionID  ? 'inherit' : 'none'">
          <i class="fas fa-download"> </i> Template
        </button>
        <span class="header-sm-btn  mr-2" [style.pointer-events]="buyerService.auctionData.auctionID ? 'inherit' : 'none'">
          <label  for="file-upload1"> <i class="fas fa-upload"> </i>Upload Items</label>
          <input  [disabled]="auctionReadOnly" type="file" id="file-upload1" placeholder="Upload file" (change)="incomingfile($event)" accept=".xlsx"
            style="display: none;">
        </span>
      </span>
      <button class="header-sm-btn mr-2 no-mobile" [ngClass]="{'active': viewlist === 'card'}" (click)="createcard('card')">
        <i class="fas fa-th-large"> </i> {{commonheader.CARD}}
      </button>
      <button class="header-sm-btn active no-mobile" [ngClass]="{'active': viewlist === 'list'}" (click)="createcard('list')">
        <i class="fas fa-list-ul"> </i> {{commonheader.LIST}}
      </button>

    </div>
  </div>
  <div class=" border-card-header d-flex justify-content-between align-items-center mb-3" *ngIf="buyerService.itemDetails.length>0">
    <div >
      <span class="custom-sort mr-2">
        <select class="custom-sort-input" [(ngModel)]="selectFilterLot" (change)="itemSortingLot()">
          <option *ngFor="let filterLot of itemFilterLot" [value]="filterLot.id"> {{filterLot.value}} </option>
        </select>        
        <button class="ascending" [ngClass]="{'disabled': lotWiseSortOrder == 'desc'}" matTooltip="Ascending Sort" (click)="itemSortingLot('asc')">
          <i class="fas fa-long-arrow-alt-up"></i> </button>
        <button class="descending" [ngClass]="{'disabled': lotWiseSortOrder == 'asc'}" matTooltip="Descending Sort" (click)="itemSortingLot('desc')">
          <i class="fas fa-long-arrow-alt-down"></i> </button>
      </span>
        <span class="custom-sort mr-2">
          <select class="custom-sort-input" [(ngModel)]="selectFilter" (change)="itemSorting()">
            <option *ngFor="let filter of itemFilter" [value]="filter.id"> {{filter.value}} </option>
          </select>        
          <button class="ascending" [ngClass]="{'disabled': itemWiseSortOrder == 'desc'}" matTooltip="Ascending Sort" (click)="itemSorting('asc')">
            <i class="fas fa-long-arrow-alt-up"></i> </button>
          <button class="descending" [ngClass]="{'disabled': itemWiseSortOrder == 'asc'}" matTooltip="Descending Sort" (click)="itemSorting('desc')">
            <i class="fas fa-long-arrow-alt-down"></i> </button>
        </span>
    </div>
    <div class="text-right" *ngIf="(aucStatus === 'draft' || aucStatus === 'suspended' || !aucStatus) && !common.auctionLeader.host">
        <mat-checkbox [disabled]="auctionReadOnly" class="mr-3 font13 mb-0" [(ngModel)]="allchecked" (change)="selectAll($event.checked)"> Select All</mat-checkbox>
        <button [disabled]="auctionReadOnly" class="header-sm-btn redfont" (click)="deleteItems()"><i class="far fa-trash-alt"></i> Delete </button>
   </div>
  </div>
	<div class="card-content">
		<swiper [config]="sliderConfig" #usefulSwiper *ngIf="viewlist=='card'">
			<div class="swiper-wrapper">
				<div class="swiper-slide" *ngFor="let item of buyerService.itemDetails;let i = 'index'">
					<ITEM-CARD
						*ngIf="item"
						[item]="item"
						[index]="i"
						[buyerService]="buyerService"
						[crud]="crud"
						[itemService]="itemService"
						[customFieldList]="customFieldList"
						[common]="common"
						[commonheader]="commonheader"
						[translateSer]="translateSer"
						></ITEM-CARD>
				</div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</swiper>
		<div *ngIf="viewlist=='list'">
			<div class="row">
				<div class="col-md-12" *ngFor="let item of buyerService.itemDetails ;let i = 'index'">
					<LIST-ITEM         
						*ngIf="item"
						[item]="item"
						[index]="i"
						[buyerService]="buyerService"
						[crud]="crud"
						[itemService]="itemService"
						[customFieldList]="customFieldList"
						[common]="common"
						[commonheader]="commonheader"
						[translateSer]="translateSer"
						[itemcoloum]="itemcoloum"
					></LIST-ITEM>
				</div>
			</div>
		</div>
	</div>
</div>