.hidden-date{
    position: absolute;
    top: 46px;
    left: 13px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    width: 1px;
}
.mockLabel{
    font-size: 12px;
    font-weight: 600;
    color: #717171;
    /* margin-bottom: 3px; */
}
.fake-input-group-button{
    border-bottom: 1px solid #949494;
}
.fakeBtn{
    cursor: pointer!important;
    color: #293790;
    margin-left: 5px;
    font-size: 20px;
    display: inline-block;
}