ul.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .demo li {
      float:left;
       margin-left :10px;
       font-size: 12px;
    }
.modal-body .mat-input-element:disabled {
      color: #333;
  }
.my-custom-class-red .cal-event{
    background-color:#e21717 !important;
    color: white;
}
.my-custom-class-green .cal-event{
    background-color:#18ad18 !important;
    color: white;
}
.my-custom-class-blue .cal-event{
    background-color:#254399 !important;
    color: white;
}
.my-custom-class-yellow .cal-event{
    background-color:#e8a119 !important;
    color: white;
}