<div class="container-body">
  <div class="container-fluid">
    <div class="alt-header font14">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" (click)="onRou()"> Home </li>
          <li class="breadcrumb-item active" aria-current="page">Calendar</li>
        </ol>
      </nav>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay('')">
            Previous
          </div>
          <div class="btn btn-outline-secondary" (viewDateChange)="closeOpenMonthViewDay('today')" mwlCalendarToday
            [(viewDate)]="viewDate">
            Today
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay('')">
            Next
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month">
            Month
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
            Week
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
            Day
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ul class="demo">
          <li *ngFor="let sta of showStatusColor">
            <span *ngIf="sta.value !== 'totalauctions'"> <i class="fa fa-circle" [ngStyle]="{'color':sta.color}"
                matTooltip="{{sta.status}}"></i>
              {{sta.status}}</span>
            <span *ngIf="sta.value == 'totalauctions'" style="font-weight: 500;"
              matTooltip="{{sta.status}} - {{events.length}}"> {{sta.status}}(<b
                class="blink">{{events.length}}</b>)</span>
          </li>
        </ul>
      </div>
    </div>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
  </div>
</div>

<br /><br /><br />
<ng-template #modalContent let-close="close">
  <div class="modal-header dialog-header p-2">
    <span class="dialog-header-txt">Basic Details</span>
    <i class="dialog-closex fas fa-times" (click)="close()"> </i>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <mat-label>Auction Name</mat-label>
          <input matInput [value]="basicinfodata?.auctionName" title="{{basicinfodata?.auctionName}}" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <mat-label>Auction ID</mat-label>
          <input matInput [value]="basicinfodata?.auctionID" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <mat-label>Auction Type</mat-label>
          <input matInput style="text-transform: capitalize;" [value]="basicinfodata?.type" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <mat-label>Auction Status</mat-label>
          <input matInput [value]="basicinfodata?.status" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <mat-label>Start Date</mat-label>
          <input matInput [value]="basicinfodata?.startDate | date:'MM/dd/yyyy HH:mm'" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <mat-label>End Date</mat-label>
          <input matInput [value]="basicinfodata?.endDate | date:'MM/dd/yyyy HH:mm'" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <mat-label>Auction Leader</mat-label>
          <input matInput [value]="basicinfodata?.auctionLeader.email" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <mat-label>Total Items</mat-label>
          <input matInput [value]="basicinfodata?.itemCount" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <mat-label>Total Participants</mat-label>
          <input matInput [value]="basicinfodata?.supplierCount" disabled>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="border-radius: 0px 0 5px 5px; position: relative;">
    <span class="sealedbid-img" title="{{translateSerCommon?.SEALED_BID}}" *ngIf="basicinfodata?.isSealedBidAuction">
      <img [src]="imageURL+'assets/images/sealed-bid-icon.png'">
    </span>
    <button mat-flat-button color="warn" (click)="close()">Close </button>
  </div>
</ng-template>