.table-sort{ 
    color: rgba(255, 255, 255, 0.5);
    width: 20px;
    display: inline-block;
    font-size: 0.75rem;
    text-align: center;
    cursor: pointer;
}
.table-sort.activeTab { 
    color: #fff;
}
.table-blue tr th{
    position: sticky;
    top: -1px;
}