
<div class="mb-2" >
  <form [formGroup]="filterForm" (submit)='filterPoHistory(filterForm.value)'>
    <div class="row">
      <div class="col-md-3">
        <mat-form-field class="full-width font14">
          <input matInput id="basicOpenDate" [matDatepicker]="dtStart" placeholder="Start Date"
           required formControlName="startDate" >
          <mat-datepicker-toggle matSuffix [for]="dtStart"></mat-datepicker-toggle>
          <mat-datepicker #dtStart disabled="false"></mat-datepicker>
        </mat-form-field>
        <!-- <input type="date" [(ngModel)]='StartDate' name="startDate" class="form-control" required> -->
      </div>
      <div class="col-md-3">
        <mat-form-field class="full-width font14">
          <input matInput id="basicCloseDate"   [matDatepicker]="dtEnd" placeholder="End Date" 
          formControlName="endDate" required >
          <mat-datepicker-toggle matSuffix [for]="dtEnd"></mat-datepicker-toggle>
          <mat-datepicker #dtEnd  disabled="false"></mat-datepicker>
        </mat-form-field>
        <!-- <input type="date" [(ngModel)]='EndDate' name='endDate' class="form-control" required> -->
      </div>
      <div class="col-sm-6 pt-3">
        <button mat-flat-button type="submit" class="btn-blue mr-3 mb-2"> Filter </button>

        <button mat-flat-button type="button" class="btn-green mb-2" (click)='resetForm()'> Reset </button>
      </div>
    </div>
  </form>
</div> 
<div class="" style="max-height: calc(90vh - 220px); overflow: auto; position: relative;">
  <table class="table-blue table">
    <thead >
      <tr> 
      <!-- <th>PO Date (MM-DD-YYYY)
        <button class="ascending disabled" (click)='sortByColumn("asc")' [ngClass]='{"activeTab":sortType =="asc"}' matTooltip="Ascending Sort" >
          <i class="fas fa-arrow-up"></i> 
      </button>
      <button class="ascending disabled" (click)='sortByColumn("desc")' [ngClass]='{"activeTab":sortType =="desc"}' matTooltip="Descending Sort">
          <i class="fas fa-arrow-down"></i>
      </button>
      </th> -->
      <th class="width: 130px">PO Date
        <span class="table-sort" (click)='sortByColumn("desc")' [ngClass]='{"activeTab":sortType =="desc"}' matTooltip="Ascending Sort" >
          <i class="fas fa-arrow-up"></i> 
        </span>
      <span class="table-sort" (click)='sortByColumn("asc")' [ngClass]='{"activeTab":sortType =="asc"}' matTooltip="Descending Sort">
          <i class="fas fa-arrow-down"></i>
      </span>
      </th>
      <th>PO Number</th>
      <th>PO Item</th>
      <th>Service/Item Code</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>UoM</th>
      <th>PO Price</th>
      <th>PO Currency</th>
      <th>Incoterms 1 and 2</th>
      <th>Payment Terms</th>
      <th>Purchasing Group</th>
      <th>Buyer Name</th> 
      <th>Vendor Code</th>
      <th>Vendor Name</th>
      <th>Select</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let history of poHistoryList">
        <td style="min-width: 150px;">{{history.createdAt}}</td>
        <td>{{history.poNumber}}</td>
        <td>{{history.lineItem}}</td>
        <td>{{history.itemCode}}</td>
        <td>{{history.description}} </td>                 
        <td>{{history.quantity}}</td>
        <td>{{history.UOM}}</td>
        <td>{{history.price}}</td>
        <td>{{history.currency}}</td>
        <td>{{history.incoterm1}}/{{history.incoterm2}}</td>
       <td>{{history.paymentTerms}} </td> 
        <td>{{history.purchaseGroup}}</td>        
        <td>{{history.buyerName}}</td>
        <td>{{history.vendorCode}}</td>
        <td>{{history.vendorName}}</td>
        <td class="text-center"><input ([ngModel])='history.isSelected' (click)="selectPoReport(history)" type="radio" name="history"></td>
      </tr>
      <tr *ngIf='poHistoryList.length == 0'>
        <td colspan="7" class="p-5 text-center "><span class="bold font18"> No History Found </span></td>
      </tr>
    </tbody>
  </table>
</div>
