.my-report{
    background: #fff;
    /* margin-top: 4.5rem; */
    padding-top: 1rem;  
    margin-bottom: 3rem;
}
h4{
    font-size: 16px;
}
.removeBorder {
    border-right: 0px!important
}

.table-cell {
    position: relative;
}

.table-cell:before {
    position: absolute;
    content: "";
    top: 0;
    left: -1px;
    background-color: black!important;
    width: 1px;
    height: 100%;
}

.row-bg1 {
    background:#b0f3c5!important;
}

.row-bg2 {
    background: #a4d5f9 !important;
}
th{
    background: #131b8a;
    color: #fff;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #a5abb1;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.0);
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.1);
}
hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.table2 thead tr:nth-child(1) th:nth-child(2n + 6), .table2-row  {
    background: #e3f3ff;
    color: #000;
}
.table2 thead tr:nth-child(1) th:nth-child(2n + 7), .table2-row:nth-child(4n), .table2-row:nth-child(4n + 1) {
    background: #f7ffba;
    color: #000;
}
.table2 thead tr:nth-child(1) th:last-child {
    background: #797979;
}
/* .table2-row {
    background: #7287a2;
} */
.table3 tbody:nth-child(odd){
    background: #f3f3f3;
}
.table3 tbody:nth-child(odd) .table3-row td {
    background: #f3f3f3;
}
.table3 tbody:nth-child(odd) .table3-row:nth-child(4n) td , .table3 tbody:nth-child(odd) .table3-row:nth-child(4n + 1) td{
    background: #f7ffba;
}

/* .table3 tbody:nth-child(even) .table3-row td {
    background: #ceffa9;
} */
.table3 tbody:nth-child(even) .table3-row:nth-child(4n) td , .table3 tbody:nth-child(even) .table3-row:nth-child(4n + 1) td{
    background: #e3f3ff;
}



