<div class="container-fluid" style="margin-top:10px;">
  <form class="example" style="margin:auto;max-width:700px;display:flex;">
    <input type="text"  class="form-control" placeholder="Search.." name="search" [(ngModel)]="searchEmail">
    <button type="submit" class="btn btn-info" (click)="searchButt()" *ngIf="!loader"><i class="fa fa-search"></i></button>
    <button type="submit" class="btn btn-info"  *ngIf="loader" style="cursor:none;"><i class="fa fa-spinner fa-spin"></i></button>
  </form>
  <div class="container reset_form" id="demo" *ngIf="userDetails && !loader" style="margin-top:10px;max-width:700px" >
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="fname">First Name</label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="userDetails.name.firstname" disabled>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="userDetails.name.lastname" disabled>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="User_Id">Email Id</label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="userDetails.email" disabled>
        <a href="javascript:void(0)" style="text-decoration: underline;font-size: 14px;" (click)="resetfield = !resetfield"><b>Reset
            Password</b></a>
      </div>
      <!-- <div class="unlock">
        <button type="submit" [title]="userDetails.isActive ? 'Unlock' : 'Lock'">
          <i class="fa fa-unlock" *ngIf="userDetails.isActive"></i>
          <i class="fa fa-lock" *ngIf="!userDetails.isActive"></i>
        </button>
      </div> -->
    </div>
    <div *ngIf="resetfield" class="resetpassordform">
      <form [formGroup]="resetForm" (ngSubmit)="resetFormSub()">
        <div class="row form-group">
          <div class="col-sm-4">
            <label for="password">Password</label>
          </div>
          <div class="col-sm-8 input-wrapper">
            <input type="{{p_type}}"  class="form-control" (click)="submit = false" placeholder="Your password.." min="8" maxLength="30"
              formControlName="password" id="stuff" />
            <label for="stuff" *ngIf="f.password.value" class="fa input-icon" [ngClass]="p_type=='text' ? 'fa-eye-slash' :'fa-eye'" (click)="p_type=='text' ? p_type='password':p_type='text'"></label>
            <div style="color:red;" *ngIf="f.password.errors && submit">{{f.password.errors.onlyAllowed}}</div>
            <div style="color:red;" *ngIf="!f.password.value && submit">Enter your password</div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4">
            <label for="confirm password">Confirm Password</label>
          </div>
          <div class="col-sm-8 input-wrapper">
            <input type="{{Cp_type}}" class="form-control" (click)="submit = false" placeholder="Your confirm password.." min="8" maxLength="30"
              formControlName="confirm_password" id="stuff1">
            <label for="stuff1" class="fa input-icon" *ngIf="f.confirm_password.value" [ngClass]="Cp_type=='text' ? 'fa-eye-slash' :'fa-eye'" (click)="Cp_type=='text' ? Cp_type='password':Cp_type='text'"></label>
            <div style="color:red;" *ngIf="!f.confirm_password.value && submit">Enter your password</div>
            <div style="color:red;" *ngIf="f.confirm_password.errors && submit">{{f.confirm_password.errors.onlyAllowed}}</div>
            <div style="color:red;" *ngIf="!f.confirm_password.errors && f.confirm_password.value && resetForm.errors && resetForm.errors.passwordNotMatch && submit">Passwords
              must match</div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-4">
            <label for="confirm password">Justification</label>
          </div>
          <div class="col-sm-8 input-wrapper">
            <input type="text" class="form-control" (click)="submit = false" placeholder="Please enter justification for password change" min="8" maxLength="150"
              formControlName="resetPasswordJustification"> 
            <div style="color:red;" *ngIf="!f.resetPasswordJustification.value && submit">Enter the justification</div>
          </div>
        </div>


        <div class="row form-group">
          <div class="col-sm-4"> </div>
          <div class="col-sm-8">
            <input type="submit" class="btn btn-success" [disabled]="resetButLoad" [value]="!resetButLoad ? 'Submit' : 'Loading...'">
          </div>
        </div>
      </form>
      <div class="right">
        <div class="text-content">
          <h3>Note:</h3>
          <ul>
            <li>Password must meet at least 1 uppercase character(A-Z)</li>
            <li>At least 1 lowercase character(a-z)</li>
            <li>At least 8 characters and at most 30 characters.</li>
            <li>At least 1 digit(0-9)</li>
            <li>At least 1 special character</li>
          </ul>
        </div>
        <i></i>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label for="role">Role</label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="roleArrStr" disabled>
      </div>
    </div>
    <div class="row form-group" *ngIf='isBuyer'>
      <div class="col-sm-4">
        <label for="Company code">Company Code</label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="userDetails.companycode" disabled>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="Mobile number">Mobile Number</label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="userDetails.mobile" disabled>
      </div>
    </div>
    <div class="row form-group" *ngIf="userDetails?.settings?.ril.empcode && isBuyer">
      <div class="col-sm-4">
        <label for="Employee Id">Employee Id</label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="userDetails?.settings?.ril.empcode" disabled>
      </div>
    </div>
     <div class="row form-group" *ngIf="userDetails?.settings?.ril.vendorcode && isSupplier">         <!--  -->
      <div class="col-sm-4">
        <label for="Vendor Id">Vendor Id</label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="userDetails?.settings?.ril.vendorcode" disabled>
      </div>
    </div>
    <div class="row form-group" *ngIf="userDetails.settings.ril.customerCode.length>0 && isSupplier" >
      <div class="col-sm-4">
        <label for="Customer Id">Customer Id</label>
      </div>
      <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="userDetails?.settings?.ril.customerCode" disabled>
      </div>
    </div> 


    <!-- <div class="row form-group">
        <input type="submit" value="Submit">
      </div> -->
  </div>
</div>