.right {
    min-width: 317px;
    max-width: 317px;
    top: 50%;
    left: 100%;
    margin-left: 20px;
    transform: translate(0, -50%);
    padding: 0;
    color: #EEEEEE;
    background-color: #444444;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    transition: opacity 0.8s;
    visibility: visible;
    opacity: 1;
} 

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 50%;
  }   


  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 50%;
  }  
  
  
.mat-form-field{
  font-size: 14px;
  width: 100%;
}
.mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
.mat-form-field-label-wrapper { top: -1.4em; }

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0px !important;
  right: 0 !important;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button{
  width: 2em !important;
  height: 2em !important;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-datepicker-toggle-default-icon, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 1.2em !important;
  height: 1.2em !important;
}




/* NAV Theme */

.examle-fill-remaining-space {
  flex: 1 1 auto;
}

.mat-badge-medium.mat-badge-overlap.cust-badge-pos.mat-badge-after .mat-badge-content {
  right: -7px;
  top: -7px;
}
/*nav {
position: fixed;
width: 100%;
z-index: 1;
}
*/
/*.headercontainer {
position: fixed;
width: 100%;
background: red
}*/

nav {
  color: #fff;
  background-color: #22297a;
  width: 100%;
  height: auto;
  box-shadow: none;
  padding: 7px 0 0 0;
}

nav .logo {
  margin-bottom: 8px;
  padding: 12px 0 10px 30px;
}

.profile {
  text-align: right
}

.profile img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  float: right;
  margin: -9px 0 0 5px
}

.header-r ul {
  float: right;
  margin: 9px 0 0 0;
  height: 45px
}

.header-r ul li {
  display: inline-block;
  padding: 7px 15px 23px 15px;
}

.header-r ul li span {
  color: #fff;
  font-size: 15px
}

.header-r ul li span .fa {
  margin-right: 3px
}

.head-links {
  background: #22297a;
  color: #22297a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 2px
}

.head-links-active {
  background: #fff5e4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.head-links-active>span {
  color: #22297a!important;
  text-decoration: none
}

.head-links:hover {
  background: #fff5e4;
  color: #22297a!important;
  cursor: pointer
}

.head-links:hover span {
  color: #22297a!important;
  text-decoration: none
}

@media screen and (max-width: 767px) {
  .header-r ul {
      margin: 2px 0 0 0;
  }
  .header-r ul li {
      padding: 7px 3px 14px 3px!important;
  }
  .profile {
      position: absolute;
      right: 0;
      top: -54px;
  }
  nav {
      padding: 0px 0 0 0!important;
  }
}

.rhs-menu-control-btn1 {
  background: rgba(0, 0, 0, 0) !important;
  font-size: 14px;
  color: #2b2d3b;
  border: none !important;
  cursor: pointer;
}

/*Nav css*/

ul.navbar-list {
  margin: 0px;
  padding:0px;
  overflow: hidden;
}
.navbar-list li{
  list-style-type: none;
  float: left;
  margin: 0px;
  padding: 0px 25px;
  line-height: 40px;
  font-size: 15px;
  cursor: pointer;
  border-left: 1px solid #ded8cd;
  
}

.navbar-list li.active, .navbar-list li.active:hover {
  background-color: #bfa161;
  color: #fff;
  font-weight: bold;
}

.navbar-list li:hover, .navbar-list li:focus {
  background-color: #f5ebdb;
}

.navsecbg {
  background-color: #fff5e4;
  border-bottom: 1px solid #ded8cd;
}



.button-footer {
  position: fixed;
  bottom: 18px;
  right: 0;
  width: 100%;
  background: #fff;
  padding: 15px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  z-index: 999;
}

.btn {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.btn-danger {
  color: #fff;
  background-color: #e34C4C;
  border-color: #e34C4C;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-primary {
  color: #fff;
  background-color: #22297a;
  border-color: #22297a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.footer {
  font-size: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0;
  bottom: 0;
  background: #fff;
  height: 18px;
  line-height: 18px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color:rgba(119, 137, 186, 1)!important;
}

/* 

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: red!important;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color:rgba(119, 137, 186, 1)!important;
}


::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color:rgba(119, 137, 186, 1)!important;
}


::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
}


::ng-deep .mat-input-element {
    caret-color: rgba(119, 137, 186, 1)!important;
} */


/* ::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: red!important;
}


::ng-deep .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
     color: $mainColor!important;
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #r22337e!important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red!important;
} */

/* mat-icon{
  color: #29329f
} */






form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 0;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}


.resetpassordform {
  border: 1px solid;padding: 20px;position:relative;margin-bottom: 15px;
}


.reset_form input[type=text],input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.reset_form label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.reset_form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 13px;
}

.reset_form input[type=submit]:hover {
  background-color: #45a049;
}

.reset_form input:disabled {
  background-color: white;
}
.dis {
  background-color: #4CAF50!important ;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.col-68 {
  float: left;
  width: 68%;
  margin-top: 6px;
}
.unlock {
  float: left;
  width: 5%;
  margin-top: 6px;
}

.unlock button {
  /* width: 10%; */
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  /* border: 1px solid grey; */
  border-left: none;
  cursor: inherit;
  border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#demo .tooltip .right {
  min-width: 317px;
  max-width: 317px;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  transform: translate(0, -50%);
  padding: 0;
  color: #EEEEEE;
  background-color: #444444;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0,0,0,0.5);
  /* visibility: hidden; */
  /* opacity: 0; */
  transition: opacity 0.8s;
  visibility: visible;
    opacity: 1;
}

#demo .tooltip {
  /* display: inline-block; */
  position: relative;
  border-bottom: 1px dotted #666;
  text-align: left;
}

.tooltip {
  text-decoration: none;
  /* border-bottom: 1px dotted #004b6b; */
  color: #004b6b;
  outline: none;
  /* position: static;
  display: inline; */
  opacity: 1;
}

#demo .tooltip .right i {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
}

#demo .tooltip .right i::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translate(50%,-50%) rotate(-45deg);
  background-color: #444444;
  box-shadow: 0 1px 8px rgba(0,0,0,0.5);
}
#demo .tooltip .text-content {
  padding: 5px 9px;
}

.right>.text-content {
  padding: 3px;
}
.example> button {
  width: 45px;
    margin-left: 7px;
}
.input-wrapper{
  position: relative;
}
.input-icon{
  position: absolute;
  right: 16px;
  top: calc(14% - 0.5em);
}
.capital{
  text-transform: capitalize;
}
