<div>
  <div class="container-body">
    <!-- Page Alt Header -->
    <div class="container-fluid alt-header-fix" *ngIf="pageLocation">
      <div class="alt-header pad-block font14">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page" routerLink="{{routerconfig?.buyer_router_links.BUYER_DASHBOARD}}"> Home </li>
            <li class="breadcrumb-item">Auctions List</li>
            <!-- <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus.toLowerCase() === 'draft'"> DRAFT </span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus.toLowerCase() === 'today'"> TODAYS_AUC </span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus.toLowerCase() === 'coming soon'">COMING_SOON</span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus.toLowerCase() === 'closed'"> CLOSED </span>
            <span class="custom-chip green-chip ml-2" *ngIf="aucStatus.toLowerCase() === 'open'"> OPEN </span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus.toLowerCase() === 'paused'"> PAUSED </span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus.toLowerCase() === 'all'"> ALL </span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus.toLowerCase() === 'published'"> PUBLISHED </span> -->
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus === 'draft'"> {{translateSer?.DRAFT}} </span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus === 'today'"> {{translateSer?.TODAYS_AUC}}
            </span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus === 'coming soon'">{{translateSer?.COMING_SOON}}</span>
            <span class="custom-chip red-chip ml-2" *ngIf="aucStatus === 'closed'"> {{translateSer?.CLOSED}} </span>
            <span class="custom-chip green-chip ml-2" *ngIf="aucStatus === 'live'"> {{translateSer?.OPEN}} </span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus === 'paused'"> {{translateSer?.PAUSED}} </span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus === 'all'"> {{translateSer?.ALL}} </span>
            <span class="custom-chip blue-chip ml-2" *ngIf="aucStatus === 'published'"> {{translateSer?.PUBLISHED}}
            </span>
          </ol>
        </nav>
        <div class="header-buttons mobile-scroll">
          <!-- <span class="font13 bold darkfont mr-2"> <input type="radio" /> Item View </span>
          <span class="font13 bold darkfont mr-2"> <input type="radio" /> Supplier View </span> -->
          <span class="dropdown" ngbDropdown>
            <button class="header-sm-btn-ico mr-2 dropdown-toggle" ngbDropdownToggle>
              <i class="fas fa-filter"> </i> 
            </button>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right font13">
              <a class="dropdown-item" href="javascript:void(0)" *ngFor="let type of aucStatusList" [ngClass]="{'active' : type.name === aucStatus}"
                (click)="aucFilter(type)">{{type.name}}</a>
            </div>
          </span>
          <button class="header-sm-btn-ico darkgraybg no-mobile" matTooltip="List" (click)="viewType('list')" *ngIf="auctionList && auctionList.length > 0"
            [ngClass]="{'active' : view === 'list'}" style="border-radius: 50% 0 0 50%;">
            <i class="fas fa-list-ul "></i> 
          </button>
          <button class="header-sm-btn-ico darkgraybg mr-2 no-mobile" matTooltip="Card" (click)="viewType('card')" *ngIf="auctionList && auctionList.length > 0"
            [ngClass]="{'active' : view === 'card'}" style="border-radius:0 50% 50% 0;">
            <i class="fas fa-th-large "></i> 
          </button>
          <!-- <button class="header-sm-btn-alt">
            <i class="fas fa-caret-right font16"></i> Live
          </button> -->
        </div>
      </div>
    </div>
    <div class="alt-header-filler pad-header-filler"></div>
    <!-- Page Alt Header END -->

    <!-- Auction Page blocking  -->
    <div class="container-fluid">
      <!-- card portion -->

      <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
        [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
        <ngx-masonry>
          <div class="row" *ngIf="view === 'card'">
            <div class=" col-lg-4 col-md-4 col-sm-6" ngxMasonryItem *ngFor="let list of auctionList;let i = index;">
              <div class="border-card mb-3 darkfont card-radius" [class.border-green]="list.auction?.status == 'Open'">
                <div class="card-content font14">
                  <div class="flex-ends p-3 graybg mouse-hov" (click)="openSupplierBidding(list.auction.auctionID,list?.supplierList?.status)"
                    [ngClass]="{'pointer' : list.status != 'Draft'}">
                    <div class="pr-3">
                      <span *ngIf="list?.auction?.auctionName.length>80">
                        {{list?.auction.auctionName | slice:0:80}} <span matTooltip="{{list.auction.auctionName}}">...</span>
                      </span>
                      <span *ngIf="list?.auction?.auctionName.length<=80">
                        {{list?.auction?.auctionName}}
                      </span>
                    </div>
                    <div class="font15"> 
                      <div class="bold">
                      {{list?.auction?.auctionID}} / {{list?.auction?.type | aucType}}
                    </div>
                      <div class="font14"  *ngIf="list?.auction?.roundData">
                        ({{list?.auction?.roundData}})
                     </div>
                    </div>
                    <div class="live-animate" *ngIf="list.auction.status == 'Open'"> LIVE </div>
                  </div>
                  <!-- <div class="text-center px-3 py-2" *ngIf="list.status === 'Draft'">
                  {{list.auctionLeader.name}}
                </div> -->
                  <!-- <div class="text-center px-3 py-2 lightbluebg whitefont" >
                    Top Supplier: Some Name Here
                  </div> -->
                  <div class="text-center px-3 py-2">
                    <span class="font13 grayfont "> Auction Leader: </span>
                    <span class="font13 bold capitalize"> {{list.auction.auctionLeader.name}} </span>
                  </div>
                  <div class="flex-ends p-3">
                    <div>
                      <div class="font12 grayfont"> Start Date & Time</div>
                      <div class="font16 bold date-height">
                        <span *ngIf="list?.auction?.startDate">{{list.auction.startDate | date:'dd MMM yyyy HH:mm'}}</span>
                      </div>
                    </div>
                    <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                    <div>
                      <div class="font12 grayfont"> Close Date & Time</div>
                      <div class="font16 bold date-height">
                        <span *ngIf="list?.auction?.endDate">{{list.auction.endDate | date:'dd MMM yyyy HH:mm'}}</span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!list?.auction?.republishRequired" class="bluefont text-center">
                    {{list?.auction?.TimeRemaining}}
                  </div>
                  <div *ngIf="list?.auction?.republishRequired" class="redfont text-center">
                    Under Amendment!
                  </div>
                  <div></div>
                  <div class="make-relative py-2 ">
                    
                    <div class="line darkgraybg"></div>
                    <div class="pos-right pr-3 whitebg">
                      <span class="custom-chip bluebg" *ngIf="list?.auction?.status === 'Published'"> PUBLISHED
                      </span>
                      <span class="custom-chip green-chip" *ngIf="list?.auction?.status === 'Open'"> OPEN
                      </span>
                      <span class="custom-chip redbg" *ngIf="list?.auction?.status === 'Closed'"> CLOSED
                      </span>
                      <span class="custom-chip darkgraybg" *ngIf="list?.auction?.status === 'Cancelled'"> Cancelled
                        </span>
                      <span class="custom-chip yellow-chip" *ngIf="list?.auction?.status === 'Paused'"> PAUSED
                      </span>
                    </div>
                    <!-- <div class="pos-left whitebg pl-3">
                      <span class="font13 bluefont" style="cursor: pointer;">
                        <i class="fas fa-paperclip orangefont"></i> ({{ list.attachmentList ?
                        list.attachmentList.length
                        : '0' }})
                      </span>
                    </div> -->
                  </div>
                  <div>
                    <div class="text-center darkgrayfont font14 mt-1 "> {{translateSer?.SUPPLIERS}} </div>
                    <div class="flex-between grayfont pt-1 pb-2 font13">
                      <div> Status <span class="bold font16 darkfont"> {{list?.supplierList?.status}} </span></div>
                      <!-- <div> Accepted <span class="bold font16 darkfont"> {{list.supplierAccepted +
                          list.supplierBidded}}</span></div>
                      <div> Bidded <span class="bold font16 darkfont"> {{list.supplierBidded}} </span></div> -->
                    </div>
                  </div>
                  <div class="line darkgraybg "></div>
                  <!-- <div class="m-3 graybg" style=" height:130px" *ngIf="list.lessMore === 'less'">
                  <img src="../../../../assets/images/profile.jpg" *ngIf="!list.profilePicture" alt="" style="height: 130px;
                width: 100%;">
                  <img [src]="list.profilePicture" *ngIf="list.profilePicture" alt="" style="height: 130px;
                width: 100%;">
                </div> -->
                </div>
                <div class="p-2 graybg text-right" style="position: relative;">
                 
                  <button class="header-sm-btn-ico mr-2" *ngIf="list.auction.testUse"  style="float:left;margin-left:50px;" [ngStyle]='{"margin-left":list.auction.isSealedBidAuction?"50px;":"0px"}'>
                    <span matTooltip="Test Use">
                       <i class="fa fa-text-height"> </i>  
                      </span>
                    </button>
                  <span class="sealedbid-img" matTooltip="{{translateSerCommon?.SEALED_BID}}" *ngIf="list.auction.isSealedBidAuction">
                    <img [src]="imageURL1+'assets/images/sealed-bid-icon.png'">
                  </span>
                  <button class="header-sm-btn-ico mr-2 make-relative" (click)="downloadReport(list.auction.auctionID);" 
                   matTooltip="Download">
                    <i class="fa fa-download"></i> 
                  </button>
                  <button class="header-sm-btn-ico mr-2 make-relative" (click)="queryDialog(list.auction.auctionID);" 
                  *ngIf="list.status !== 'Draft'" matTooltip="Query History">
                    <i class="far fa-comments"></i> 
                  </button>
                  <!-- <button class="dashboard-btn" (click)="viewSummaryDialog(list.auction.auctionID)"> </button>  -->
                  <button class="header-sm-btn-ico " matTooltip="View" (click)="viewSummaryDialog(list.auction.auctionID)"> 
                    <i class="far fa-eye"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ngx-masonry>
      </div>
      <!-- card portion ENDS -->


      <!-- List portion -->
      <div class="row" *ngIf="view === 'list'">
        <div class="col-md-12">
          <div class="border-card  mb-3 darkfont" [hidden]="(auctionList.length>0)" *ngFor="let list of auctionList"
            [class.border-yellow]="list.auction.status == 'Draft'" [class.border-green]="list?.auction?.status == 'Open'">
            <div class="flex-ends px-2 py-1 font14 block992">
              <div class="flex-ends make25">
                <!-- <div class="list-img-container">
                  <img src="../../../../assets/images/img.png" *ngIf="!list.profilePicture">
                  <img [src]="list.profilePicture" *ngIf="list.profilePicture" alt="" style="height: 75px;
                width: 100px;">
                </div> -->
                <div>
                  <div class="font16 bold"> {{list?.auction?.auctionID}}
                  </div>
                  <div class="font13 mouse-hov">
                    <span *ngIf="list?.auction?.auctionName.length>80">
                      {{list?.auction?.auctionName | slice:0:80}} <span matTooltip="{{list?.auction?.auctionName}}">...</span>
                    </span>
                    <span *ngIf="list?.auction?.auctionName.length<=80">
                      {{list?.auction?.auctionName}}
                    </span>
                  </div>
                  <!-- <div class="font13 grayfont"> {{list.auctionLeader.name}} </div> -->
                </div>
              </div>
              <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
              <div class="flex-ends">
                <div class="mr-2">
                  <div class="font13 grayfont"> Auction Type </div>
                  <div class="font16 bold" style="min-height: 25px;">
                    <span *ngIf="list?.auction?.type">{{list.auction.type}}</span>
                  </div>
                </div>
              </div>
              <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
              <div class="flex-ends make45">
                <div class="make55">
                  <!-- <div class="mx-2"> -->
                  <div class="flex-ends">
                    <div class="mr-2">
                      <div class="font13 grayfont"> Start Date & Time </div>
                      <div class="font16 bold" style="min-height: 25px;">
                        <span *ngIf="list?.auction?.startDate">{{list?.auction?.startDate | date:'dd MMM yyyy HH:mm'}}</span>
                      </div>
                    </div>
                    <div class="mx-2">
                      <div class="font13 grayfont"> Close Date & Time </div>
                      <div class="font16 bold " style="min-height: 25px;">
                        <span *ngIf="list?.auction?.endDate">{{list?.auction?.endDate | date:'dd MMM yyyy HH:mm'}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="bluefont text-center" *ngIf="list?.auction?.status !== 'Open'">
                    {{list?.auction?.TimeRemaining}}
                  </div>
                  <!-- </div> -->
                </div>
                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                <div class="flex-ends">
                  <div class="mx-2">
                    <div class="font14 text-center "> {{translateSer?.SUPPLIERS}} </div>
                    <div class="flex-ends">
                      <div class="mr-2">
                        <div class="font13 grayfont"> Status </div>
                        <div class="font16 bold "> {{list?.supplierList?.status}} </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                <div class="flex-between make25">
                  <!-- <div class="vertical-line align-self-stretch darkgraybg mx-2" *ngIf="list.auction.status === 'Open'"></div> -->
                  <div class="mx-2">
                    <span class="custom-chip yellow-chip ml-2" *ngIf="list.auction?.status === 'Published'">
                      PUBLISHED </span>
                    <span class="custom-chip green-chip ml-2" *ngIf="list.auction?.status === 'Open'"> Open
                    </span>
                    <span class="custom-chip yellow-chip ml-2" *ngIf="list.auction?.status === 'Closed'"> Closed
                    </span>
                    <span class="custom-chip ml-2" *ngIf="list.auction?.status === 'Cancelled'"> Cancelled
                      </span>
                    <span class="custom-chip yellow-chip ml-2" *ngIf="list.auction?.status === 'Paused'"> Paused
                    </span>
                  <button class="header-sm-btn-ico mr-2"  *ngIf='list.auction.testUse'>
                    <span matTooltip="Test Use">
                      <i class="fas fa-pen"> </i> 
                      </span>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- List portion -->
      <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
        [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
      <div class="row" *ngIf="view === 'list'">
        <div class="col-md-12">
          <div class="border-card  mb-3 darkfont make-relative" *ngFor="let list of auctionList" [class.border-yellow]="list.auction.status == 'Draft'"
            [class.border-green]="list.auction.status == 'Open'">
            <div class="live-animate" *ngIf="list.auction.status == 'Open'"> LIVE </div>
            <div class="flex-ends px-2 py-1 font14 block992">
              <div class="flex-ends make25">
                <!-- <div class="list-img-container">
                  <img src="../../../../assets/images/img.png" *ngIf="!list.profilePicture">
                  <img [src]="list.profilePicture" *ngIf="list.profilePicture" alt="" style="height: 75px;
                width: 100px;">
                </div> -->
                <div>
                  <div class="bold font15"> {{list.auction.auctionID}} / {{list.auction.type | aucType}}</div>
                  <div class="font13" (click)="list.auction.status != 'Draft' ? openSupplierBidding(list.auction.auctionID) : return;"
                    [ngClass]="{'breadcrumb-item' : list.auction.status != 'Draft'}">
                    <span *ngIf="list.auction.auctionName.length>80">
                      {{list.auction.auctionName | slice:0:80}} <span matTooltip="{{list.auction.auctionName}}">...</span>
                    </span>
                    <span *ngIf="list.auction.auctionName.length<=80">
                      {{list.auction.auctionName}}
                    </span>
                  </div>
                  <div *ngIf="list.auction.isSealedBidAuction">
                    <span class="font13 bold uppercase" style="color: red;"> {{translateSerCommon?.SEALED_BID}} </span>
                  </div>
                  <!-- <div class="font13 grayfont"> {{list.auctionLeader.name}} </div> -->
                </div>
              </div>
              <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
              <div class="flex-ends make45">
                <div class="make55">
                  <!-- <div class="mx-2"> -->
                  <div class="flex-ends">
                    <div class="mr-2">
                      <div class="font13 grayfont"> Start Date & Time </div>
                      <div class="font16 bold" style="min-height: 25px;">
                        <span *ngIf="list.auction.startDate">{{list.auction.startDate | date:'dd MMM yyyy HH:mm'}}</span>
                      </div>
                    </div>
                    <div class="mx-2">
                      <div class="font13 grayfont"> Close Date & Time </div>
                      <div class="font16 bold " style="min-height: 25px;">
                        <span *ngIf="list.auction.endDate">{{list.auction.endDate | date:'dd MMM yyyy HH:mm'}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="bluefont text-center" *ngIf="list.auction.status !== 'Open'">
                    {{list.auction.TimeRemaining}}
                  </div>
                  <!-- </div> -->
                </div>

                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                <div class="flex-ends">
                  <div class="mx-2">
                    <div class="font14 text-center "> {{translateSer?.SUPPLIERS}} </div>
                    <div class="flex-ends">
                      <div class="mr-2">
                        <div class="font13 grayfont"> Status </div>
                        <div class="font16 bold "> {{list.supplierList.status}} </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-between make25">
                <!-- <div class="vertical-line align-self-stretch darkgraybg mx-2" *ngIf="list.auction.status === 'Open'"></div>
                
                <div class="vertical-line align-self-stretch darkgraybg mx-2" *ngIf="list.auction.status === 'Open'"></div> -->
                <!-- <div class="mx-2" *ngIf="list.auction.status === 'Open'">
                  <div class="font13 grayfont "> Current Bid </div>
                  <div class="font16 bold "> INR {{list.currentBid}} Cr </div>
                </div> -->

                <div class="mx-2">
                  <span class="custom-chip yellow-chip ml-2" *ngIf="list.auction.status === 'Published'">
                    Published </span>
                  <span class="custom-chip green-chip ml-2" *ngIf="list.auction.status === 'Open'"> Open
                  </span>
                  <span class="custom-chip yellow-chip ml-2" *ngIf="list.auction.status === 'Closed'"> Closed
                  </span>
                  <span class="custom-chip darkgraybg ml-2" *ngIf="list.auction.status === 'Cancelled'"> Cancelled
                    </span>
                  <span class="custom-chip yellow-chip ml-2" *ngIf="list.auction.status === 'Paused'"> Paused
                  </span>
                </div>
                <div class="mx-2">
                  <button class="header-sm-btn-ico mr-2 mb-2" matTooltip="Query History" (click)="queryDialog(list.auction.auctionID)">
                   <i class="fas fa-comments"> </i> 
                  </button>
                  <button class="header-sm-btn-ico mr-2 mb-2" matTooltip="View" (click)="viewSummaryDialog(list.auction.auctionID)">
                    <i class="fas fa-eye"> </i> 
                   </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- List portion ENDS-->
      <div [hidden]="auctionList.length > 0" style="text-align: center;">
        No Records Found..
      </div>
    </div>
    <!-- Auction Page blocking ENDS -->
  </div>

</div>