.dashboard-btn{
    width:25px;
    height: 25px;
    background: #e7f268 url('../../../../assets/images/chart.png') no-repeat 0 0;
    background-size: 24px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 8px;
}

/* .su-anal{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 8px;
} */