<!-- Header-->
<div class="dialog-header p-2">
    <span class="dialog-header-txt"> {{dialogMessage}} </span>
    <i class="dialog-closex fas fa-times"  (click)="MatDialogRef.close()" > </i>
</div>

  
<!-- Body -->
<div class="dialog-content p-2">
    <live-participant-remark  *ngIf="liveRemarkObj.flag" [liveRemarkObj]="liveRemarkObj"> </live-participant-remark>
    <mat-tab-group  *ngIf="!liveRemarkObj.flag" [selectedIndex]="selectedIndex" >
        <mat-tab label="Email Recipient Confirmation">
            <participant-mail-popup [readOnly]="readOnly" [supplierList]="supplierList"></participant-mail-popup>
            <host-cohost-mail-popup [readOnly]="readOnly" [cohostList]="cohostList"></host-cohost-mail-popup>
        </mat-tab>
        <mat-tab label="Remarks" *ngIf="remark?.flag">
            <app-remark [viewData]="remark?.data"  showRemark="true">
            </app-remark>
        </mat-tab>
    </mat-tab-group>
    
</div>


<!-- Footer -->
<div class="dialog-footer">
    <div class="col-md-12 mb-2 mt-2 text-right">
    <button *ngIf="!liveRemarkObj.flag" mat-flat-button class="mr-2 btn-blue" (click)="onPositiveBtn()">
        {{dialogPositiveBtn}}
    </button>
    <button *ngIf="liveRemarkObj.flag" mat-flat-button class="mr-2 btn-blue" (click)="onPositiveBtnLiveRemark()">
        {{dialogPositiveBtn}}
    </button>
    </div>
</div>