
  <div class=" activity-mob-scroll">
    <div class=" acti-parti-height" style="background: #fff;">
      <!-- <div class="ppl-list"> -->
      <!-- <div class="ppl-list-block flex-ends border-bottom">
          <div class=" grayfont">
            Names
          </div>
          <div class="flex-ends grayfont">
            <div class="mr-3 " style=" min-width: 40px;"> Bids </div>
            <div class="text-center" style=" min-width: 45px;"> Status </div>
          </div>

        </div> -->
      <!-- <div class="ppl-list-block-height"> -->
      <!-- <div class="ppl-list-block flex-ends py-2" *ngFor="let supplier of buyerService.supplierDetails">
            <div>
              <div> 
                <span class="greenfont" style="font-size: 10px;"> <i class="fas fa-circle"></i> </span>
                <span class=" bold pl-2">{{supplier.supplierName1}}</span>
              </div>
            </div>
            <div class="flex-ends ">
              <div class="mr-3 darkgrayfont bold" style=" min-width: 40px;"> 34 </div>
              <div class="yellowfont text-center" style=" min-width: 45px;">
                <i class="fas fa-minus-circle"></i>
              </div>
            </div>

          </div> -->
      <!-- </div> -->
      <!-- <div class="ppl-list-block flex-ends selected py-2">
          <div>
            <div>
              <span class="greenfont" style="font-size: 10px;"> <i class="fas fa-circle"></i> </span>
              <span class=" bold pl-2"> Satyajeet Thakre</span>
              <span class="font12 grayfont"> (Chetan Shirbhate )</span>
            </div>
          </div>
          <div class="flex-ends ">
            <div class="mr-3 darkgrayfont bold" style=" min-width: 40px;"> 34 </div>
            <div class="yellowfont text-center" style=" min-width: 45px;">
              <i class="fas fa-minus-circle"></i>
            </div>
          </div>

        </div> -->

      <!-- </div> -->

      <table class="table cust-table">
        <thead>
          <tr>
            <th scope="col"> Status </th>
            <th scope="col">Participant / Participant User</th>
            <th scope="col">#Bids</th>
            <th scope="col">Time Since Last Bid </th>
            <th scope="col" *ngIf="auctionData.status === 'Open' && showDelete">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of bidService.participantsArr; index as i">
            <td>
              <div class="text-center" style="font-size: 10px;">
                <i class="fa fa-circle" style="color:#4267b2;" matTooltip="Logged In" *ngIf="item.user.status === 'Online'"></i>
                <i class="fa fa-circle" style="color:gray;" matTooltip="Not Accepted" *ngIf="item.user.status === 'Invited'"></i>
                <i class="fa fa-circle" style="color:black;" matTooltip="Logged Out" *ngIf="item.user.status === 'Offline'"></i>
                <i class="fa fa-circle" style="color:yellow;" matTooltip="Logged In, No Bids Last 10 minutes" *ngIf="item.user.status === 'No Bids Last 10 minutes'"></i>
                <i class="fa fa-circle" style="color:red;" matTooltip="Suspended" *ngIf="item.user.status === 'Suspended'"></i>
              </div>
            </td>
            <td [ngStyle]="{'text-decoration':item.user.status === 'Suspended' ? 'line-through' : 'inherit' }" *ngIf="!issealedBidDis">{{item.user.name}}</td>
            <td [ngStyle]="{'text-decoration':item.user.status === 'Suspended' ? 'line-through' : 'inherit' }" *ngIf="issealedBidDis">Participant {{i+1}}</td>
            <td>{{item.totalBids}}</td>
            <td>{{item.lastBid}}</td>
            <td *ngIf="auctionData.status === 'Open' && showDelete">
              <div matTooltip="Delete" class="yellowfont text-center pointer" (click)="removeParticipant(item)" *ngIf="item.user.auctionStatus !== 'Closed' && item.user.status !== 'Suspended' && !common.auctionLeader.host">
                <i class="fas fa-minus-circle"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <!-- <div class="col-md-5 acti-parti-height">
      <div class="mt-2 pb-2 border-bottom">
        <span class="font15 bold "> Chat Name Here </span>       
      </div>
      <app-chat-bot></app-chat-bot>
    </div> -->
    <!-- <div class="col-md-4 acti-parti-height" style="border-left: 1px solid #bfbfbf;">
      <div class="timeline-main">
        <div class="mt-2 pb-2 border-bottom">
          <span class="font15 bold "> All Activities </span>
          <span class="custom-chip red-chip ml-2"> 001 </span>
        </div>
        <ul class="timeline-block clearfix">
          <li class="timeline-container make-relative clearfix timeline-green">
            <div class="timeline-date float-left">
              <div class="font14 bold"> 08:45 PM</div>
              <div class="font12 grayfont"> 05-03-2019 </div>
            </div>
            <div class="timeline-circle float-left">
              <i class="fas fa-circle"></i>
            </div>
            <div class="timeline-information make-relative float-left">
              <h2> Order status changed from Available to Payment Hold</h2>
              <h4> Admin Does Not Require Fraud Verification/Fraud Verification Received</h4>
            </div>
          </li>
          <li class="timeline-container make-relative clearfix timeline-green">
            <div class="timeline-date float-left">
              <div class="font14 bold"> 08:45 PM</div>
              <div class="font12 darkgrayfont"> 05-03-2019 </div>
            </div>
            <div class="timeline-circle float-left">
              <i class="fas fa-circle"></i>
            </div>
            <div class="timeline-information make-relative float-left">
              <h2> Order status changed from Available to Payment Hold</h2>
              <h4> Admin Does Not Require Fraud Verification/Fraud Verification Received</h4>
            </div>
          </li>
          <li class="timeline-container make-relative clearfix timeline-green">
            <div class="timeline-date float-left">
              <div class="font14 bold"> 08:45 PM</div>
              <div class="font12 grayfont"> 05-03-2019 </div>
            </div>
            <div class="timeline-circle float-left">
              <i class="fas fa-circle"></i>
            </div>
            <div class="timeline-information make-relative float-left">
              <h2> Order status changed from Available to Payment Hold</h2>
              <h4> Admin Does Not Require Fraud Verification/Fraud Verification Received</h4>
            </div>
          </li>
          <li class="timeline-container make-relative clearfix">
            <div class="timeline-date float-left">
              <div class="font14 bold"> 08:45 PM</div>
              <div class="font12 grayfont"> 05-03-2019 </div>
            </div>
            <div class="timeline-circle float-left">
              <i class="fas fa-circle"></i>
            </div>
            <div class="timeline-information make-relative float-left">
              <h2> Order status changed from Available to Payment Hold</h2>
              <h4> Admin Does Not Require Fraud Verification/Fraud Verification Received</h4>
            </div>
          </li>

        </ul>
      </div>
    </div> -->
  </div>


  <ng-template #modalContent1 let-close="close">
    <div class="modal-header dialog-header p-2">
      <span class="dialog-header-txt" [innerHTML]="alertMsg"></span>
      <i class="dialog-closex fas fa-times" (click)="close()"> </i>
    </div>
    <div class="modal-body" style="padding-top: 5px;padding-bottom: 0px;">
        <mat-form-field class="example-full-width" style="width: 100%;">
          <mat-label>Enter Remark</mat-label>
          <textarea matInput [(ngModel)]="dialogContent.remark"></textarea>
        </mat-form-field>
    </div>
      <div class="modal-footer" style="border-radius: 0px 0 5px 5px; position: relative;">
        <button mat-flat-button class="mr-2" color="primary" [disabled]="!dialogContent.remark" (click)="callDeleteApi()">Yes</button>
        <button mat-flat-button color="warn" (click)="close()">No</button>
      </div>
  </ng-template>