.acti-parti-height{
    height: calc(55vh - 40px);
    overflow: auto;
    background: #f3f3f3;
}
.ppl-list-block-height{
    max-height: calc(55vh - 80px);
    overflow: auto;
}
.cust-table {
    background: #F8F8F8;
    font-size: 11px;
    width: calc(100% - 2px);
}

@media (max-width: 768px) { 
    .activity-mob-scroll{
        max-height: calc(55vh - 40px) !important;
        overflow: auto;
    }
}

/* ::ng-deep .my-popupclass .modal-dialog { 
    max-width: 500px;
} */