<div class="border-card border-blue p-3 mb-3 wow bounceInUp animationdelay" data-wow-delay=".60s">
	<!-- title -->
	<div class="border-card-header mb-2 d-flex justify-content-between align-items-center">
		<div class="bold"> Host/Co-Hosts ({{coHostDetails.length}})</div>
		<div>
			<button 
				*ngIf="(auctionStatus=='Draft' || auctionStatus=='Published') && !common.auctionLeader.host" 
				class="header-sm-btn  mr-2 no-mobile" 
				(click)="onAddButtonClick()">
				<i class="fas fa-plus"> </i> Add
			</button>
			<button class="header-sm-btn  mr-2" *ngIf="(auctionStatus=='Draft' || auctionStatus =='Published')" [style.pointer-events]="buyerService.auctionData.auctionID  ? 'inherit' : 'none'"
			 (click)="mailBodyOpen();">
				<i class="fa fa-envelope"> </i> Mail Template
			</button>
			<button class="header-sm-btn mr-2 no-mobile" [ngClass]="{'active': viewlist === 'card'}" (click)="createcard('card')">
				<i class="fas fa-th-large"> </i> {{commonheader.CARD}}
			</button>
			<button class="header-sm-btn active no-mobile" [ngClass]="{'active': viewlist === 'list'}" (click)="createcard('list')">
				<i class="fas fa-list-ul"> </i> {{commonheader.LIST}}
			</button>
		</div>

	</div>
	<div class=" border-card-header d-flex justify-content-between align-items-center mb-3" *ngIf="coHostDetails.length > 0">
		<div>
			<span class="custom-sort mr-2">
				<select class="custom-sort-input" [(ngModel)]="selectedValue" (change)="hostSorting(2)">
					<option *ngFor="let filter of hostFilter"> {{filter.value}} </option>
				</select>
				<button class="ascending" [ngClass]="{'disabled':sorting}" matTooltip="Ascending Sort" (click)="hostSorting(0)">
					<i class="fas fa-long-arrow-alt-up"></i> </button>
				<button class="descending" [ngClass]="{'disabled':!sorting}" matTooltip="Descending Sort" (click)="hostSorting(1)">
					<i class="fas fa-long-arrow-alt-down"></i> </button>
			</span>
		</div>
		<div class="text-right" *ngIf="(auctionStatus=='Draft' || auctionStatus=='Published') &&!common.auctionLeader.host">
			<mat-checkbox [disabled]="auctionReadOnly" class="mr-3 font13 mb-0" [(ngModel)]="allchecked" (change)="selectCheckbox($event.checked,'all','')">
				Select All</mat-checkbox>
			<button  [disabled]="auctionReadOnly" class="header-sm-btn redfont" (click)="selectDelete()"><i class="far fa-trash-alt"></i> Delete </button>
		</div>
	</div>
	<div class="card-content">
		<div *ngIf="viewlist=='card'" class="row">
			
			<!-- card container -->
			<div [ngClass]="(auctionStatus=='Draft' || auctionStatus=='Published') && !common.auctionLeader.host?'col-md-11 col-sm-9 mb-2':'col-md-12 col-sm-12 mb-2'">
				<swiper [config]="config">

					<div class="swiper-wrapper">
						<div class="swiper-slide" *ngFor="let coHost of coHostDetails;let i = index;">
							<div class="flat-tile tealbg p-2" style="cursor: initial;">
								<div class=" d-flex justify-content-between align-items-center ">
									<div class="bold">
										<mat-checkbox  [disabled]="auctionReadOnly"  [checked]="coHost.checked" (change)="selectCheckbox($event.checked,'',i)" *ngIf="(auctionStatus=='Draft' || auctionStatus=='Published') && !common.auctionLeader.host"></mat-checkbox>
										{{i+1}}. {{coHost.employeeName}}
									</div>
									<div>
										<div class="dropdown" ngbDropdown *ngIf="!common.auctionLeader.host">
											<button type="button" class="flat-tile-dd dropdown-toggle no-dropdown-icon" ngbDropdownToggle>
												<i class="fas fa-ellipsis-v"></i>
											</button>
											<div ngbDropdownMenu class="dropdown-menu dropdown-menu-right font13">
												<a class="dropdown-item" href="javascript:void(0)" (click)="auctionReadOnly? return : deleteCoHost(coHost)">Delete</a>

											</div>
										</div>
									</div>
								</div>
								<div class="mb-2 text-left font13">
									{{coHost.employeeMail}}
								</div>
								<div class="line  my-1"></div>
								<div class="bold">
									{{coHost.status}}
								</div>
								<div class="mb-2 text-left font13">
									{{coHost.employeeID}}
								</div>
								<!-- <div class="mb-2 text-left font13">
									Description
								</div> -->
								<span *ngIf="coHost.orgDrop">
								<div class="line  my-1 mb-2"  *ngIf="(auctionStatus=='Draft' || auctionStatus=='Published') && !common.auctionLeader.host"></div>
								<div class="card-white-input">
									<ng-container *ngTemplateOutlet="templateHost;context:{coHost:coHost}"></ng-container>
								</div>
							</span>
							<div *ngIf="!coHost.orgDrop" style="height:65px;"></div>
							

							</div>
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</swiper>
			</div>
			<!-- add button -->
			<div 
				*ngIf="(auctionStatus=='Draft' || auctionStatus=='Published') && !common.auctionLeader.host" 
				[ngClass]="(auctionStatus=='Draft' || auctionStatus=='Published')?'col-md-1 col-sm-3 add-supp mb-2':''"
			 	(click)="onAddButtonClick()">
				<div class="whitefont p-2 bluebg pointer d-flex flex-column justify-content-center font16" style="height: 100%;  border-radius: 5px;">
					<div class="text-center font20"> <i [class]="(!IsHidden1)?'fas fa-plus':'fas fa-minus'"> </i></div>
					<div class="bold text-center"> {{(!IsHidden1)?('Add'):'Close'}} </div>
				</div>
			</div>

		</div>
		<div *ngIf="viewlist=='list'">
			<!-- List Template portion -->
			<div class="row">
				<div class="col-md-12" *ngFor="let coHost of coHostDetails;let i = index;">
					<div class="border-card border-blue mb-3 darkfont">
						<div class="flex-ends p-2 font14 ">
							<div class="flex-ends make25">
								<div>
									<div class="font16 bold">
										<mat-checkbox [disabled]="auctionReadOnly" [checked]="coHost.checked" (change)="selectCheckbox($event.checked,'',i)" *ngIf="(auctionStatus=='Draft' || auctionStatus=='Published') && !common.auctionLeader.host"></mat-checkbox>
										{{i+1}}. {{coHost.employeeName}}
									</div>
									<div class="font13">
										{{coHost.employeeMail}}
									</div>
								</div>
								<div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
							</div>
							<div class="flex-ends make25">
								<div>
									<div class="font16 bold">
										{{coHost.employeeID}}
									</div>
									<div class="font13">
										{{coHost.status}}
									</div>
								</div>
								<div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
							</div>
							<div class="flex-ends make25"  *ngIf="(auctionStatus=='Draft' || auctionStatus=='Published') && !common.auctionLeader.host && coHost.orgDrop">
								<ng-container *ngTemplateOutlet="templateHost;context:{coHost:coHost}"></ng-container>
								<div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
							</div>
							<div class="flex-between justify-content-end make25">

								<div class="mr-2" *ngIf="!common.auctionLeader.host">
									<button class="header-sm-btn  redfont" (click)="auctionReadOnly? return : deleteCoHost(coHost)">
										<i class="far fa-trash-alt font13"></i> Trash
									</button>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- List Template portion ENDS-->
		</div>
	</div>
</div>


<!-- serach -->
<div class="border-card p-3 mb-3 top-tri make-relative" *ngIf="IsHidden1" style="border-color: #293790 !important;">
	<div class="px-3">
		<div class="row">
			<div class=" col-sm-12 p-0 search-box1">
				<button class="search-slide-icon">
					<i class="fas fa-search "></i>
				</button>
				<input class="header-search-input" placeholder="Search Co/Hosts Here" type="text" autocomplete="off"
				 [ngModelOptions]="{standalone: true}" [(ngModel)]="searchName"  (ngModelChange)="this.userQuestionUpdate.next($event)">
				<button (click)="clearSearch()" class="search-slide-close"><i class="fas fa-times "></i>
				</button>

			</div>

			<div class=" col-sm-12 pt-1 mt-2 search-participant-height">
				<div class="spinner-border text-primary" *ngIf="loadStatus" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<mat-accordion class="full-width" *ngIf="!loadStatus">
					<mat-expansion-panel *ngFor="let element of hostSource" (opened)="openDetail(element)">
						<mat-expansion-panel-header class="font14 darkgrayfont">
							<div class=" d-flex justify-content-between align-items-center ">
								<div class=" d-flex flex-row align-items-center">
									<div>
										<img class="searchpic" src="{{element.profilePic ? element.profilePic : imageURL+'assets/images/profile-2.svg'}}"
										 (error)="errorHandler($event);" />
									</div>
									<div class="ml-3 darkfont word-break">
										<div class="">
											<span class="bold "> {{element.displayName}} </span>
											<span class="bold  px-1"> | </span>
											<span> {{element.email}}</span>
										</div>
										<div class="font13 darkfont">
											<span class="bold "> {{element.employeeID}} </span>
											<span class="bold  px-1"> | </span>
											<span> {{element.domainId}} </span>
										</div>
									</div>
								</div>
								<div *ngIf="!element.isAdded">
									<i class="fas fa-plus greenfont icon-btn mr-4 ml-3 " (click)="addHost($event, element)"> </i>
								</div>
								<div *ngIf="element.isAdded">
									<i class="fas fa-minus redfont icon-btn mr-4 ml-3 " (click)="removeCoHost($event, element)"> </i>
								</div>
							</div>
						</mat-expansion-panel-header>
						<div>
							<div *ngIf="element.details" class="row font14 darkgrayfont py-2 participant-border ">
								<div class="col-sm-3 mb-2">
									<div class="bold"> Department</div>
									<div class=""> {{element.details.department}} </div>
								</div>
								<div class="col-sm-4 mb-2">
									<div class="bold"> Contact Number </div>
									<div class=""> {{element.details.mobile}} | {{element.details.telephone}} </div>
								</div>
								<div class="col-sm-5 mb-2">
									<div class="bold"> Address </div>
									<div class=""> {{element.details.address}} , {{element.details.state}} </div>
								</div>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
	</div>
</div>

<ng-template let-coHost="coHost" #templateHost>
	<mat-form-field *ngIf="!common.auctionLeader.host" class="full-width white-input">
		<mat-label>Organisation</mat-label>
		<mat-select [(ngModel)]="coHost.org" (selectionChange)="changeOrg(coHost);" [disabled]="!(auctionStatus=='Draft' || auctionStatus=='Published')">
			<mat-option>
				<ngx-mat-select-search [placeholderLabel]="'search organisation'" [noEntriesFoundLabel]="'no record found'" ngModel
				 (ngModelChange)="filterBanks($event,coHost)"></ngx-mat-select-search>
			</mat-option>
			<mat-option *ngFor="let org of coHost.orgList" [value]="org._id">
				{{org.name}}
			</mat-option>
			<!-- <mat-option value="">
				Select Organisation
			</mat-option> -->
		</mat-select>
	</mat-form-field>
	<div class="" *ngIf="coHost.error">
		<button class="header-sm-btn redfont" matTooltip="Please select organisation">
			<i class="fas fa-info-circle"> </i>
		</button>
	</div>
</ng-template>