.search-box1{
    border: 1px solid #e4e3e3;
    background: #fff;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.14);
    border-bottom: 2px solid #eacb86;
}
.search-slide-icon, .search-slide-close, .header-search-input{
    color: #676767 !important;
    font-size: 16px !important;
    line-height: 45px !important;
    height: 45px !important;
}

.search-participant-height{
    max-height: 300px;
    overflow: auto;
}

:host >>> .flat-tile .mat-checkbox-checkmark-path{
    stroke: #293790!important;
}

:host >>> .mat-content{
    display: inline-block !important;
}
:host >>> .mat-expansion-panel{
    margin-bottom: 0.5rem !important;
}
:host >>> .mat-expansion-panel-header{
    padding: 5px 24px !important;
    height: initial !important;
}
:host >>> .mat-expansion-panel-content{
    /* padding-top: 0.5rem !important; */
    background: #f1f8ff !important;
}
:host >>> .mat-expansion-panel-body {
    padding: 8px 24px 16px !important;
}
.participant-border{
    border-bottom: 1px solid #dadada;
}
.participant-border:last-child{
    border-bottom: none ;
}

.top-tri::before{
    content: "\A";
    border-style: solid;
    border-width: 0px 10px 14px 10px;
    border-color: transparent transparent #293790 transparent;
    position: absolute;
    right: 40px;
    /* left: 40px; */
    top: -15px;
}



/* ------------- */
/* .paneHeadContainer {
    display: flex;
    justify-content: space-between;
} */
 .searchpic {
     width: 50px;
     height: 50px;
     border-radius: 50%;
 }
/* .paneHeadContainer .displayName {
    line-height: 50px;
    margin-left: 15px;
 } */
 /* .paneHeadContainer .plus-but {
    margin-right: 5%;
    display: flex;
    align-items: center;
    padding: 10px 15px;
} */

/* ----------- */

.search-slide-icon {
    width: 40px;
    background: transparent !important;
    border: none !important;
    cursor: auto;
}

.search-slide-search{
    width: 45px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    line-height: 38px;
    background: #e34646 !important;
    border: none !important;
    vertical-align: top;
    margin-top: 7px;
    border-radius: 0 5px 5px 0;
}

.search-slide-close {
    width: 45px;
    font-size: 20px;
    color: #c7c7c7;
    cursor: pointer;
    line-height: 55px;
    background: transparent !important;
    border: none !important;
    position: absolute;
    right: 0;
}

.header-search-input {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 82px);
    padding: 5px;
    border: none;
}

.header-search-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cecece;
    opacity: 1;
    /* Firefox */
}

.header-search-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cecece;
}

.header-search-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #cecece;
}

:host >>> .card-white-input .white-input .mat-form-field-label, 
:host >>> .card-white-input .white-input .mat-select-arrow, 
:host >>> .card-white-input .white-input .mat-select-value-text {
    color: #fff !important ;
}

:host >>> .card-white-input .white-input .mat-form-field-underline {
    background-color: #fff !important ;
}




@media (max-width: 576px) {
    .participant-border {
        border: 1px solid #b1afaf !important;
        margin-bottom: 0.5rem;
    }
    .participant-border:last-child {
        border-bottom: 1px solid #b1afaf !important;
    }
}