
.myStyleChild  {
    background-color: #f7fafd;
    font-size: 12px;
}
.myStyleChild thead tr, .myStyleChild thead tr th {
    background-color: #c9e1f7;
    color: #355a90; 
}

.yourStyleChild {
    background-color: #ffffe0;
    font-size: 12px;
}

.yourStyleChild thead tr, .yourStyleChild thead tr th {
    background-color: #fafad2;
    color: #9e5a05;
}
.fixtable-height{
    max-height: 300px;
}

.fixed-header th{
    position:sticky;
    top:0;
    z-index: 2;
}