<div class="dialog-header" >
	<span class="dialog-header-txt" *ngIf="drawerData?.data.type == 'create'"> {{column.CREATE_ITEM}}
	</span>
	<span class="dialog-header-txt" *ngIf="drawerData?.data.type == 'update'"> {{column.EDIT_ITEM}} </span>
	<span class="custom-chip red-chip ml-2 " *ngIf="showSelected"> Selected {{selectedMMCSArr.length}} </span>
	<span class="custom-chip red-chip ml-2 " *ngIf="finalSelected"> {{ selectedMMCSArr.length == 0 ? index : index+1 }} / {{selectedMMCSArr.length}} </span>
</div>
<mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabindexChanged($event)">
	<mat-tab label="Items Details">
		<div style="height: calc(100vh - 95px);">
			<app-item-popup  style="position:relative"
				#childItem
				*ngIf="!fullReset"
				(saveDisabledEvent)="saveDisabled($event)"
				[viewData]="viewData" 
				[auctionId]="auctionId"  
				[customFieldList]="drawerData?drawerData.customFieldList:[]"
				(onSearchEnabled)="onMMCSSearchEnabled($event)"
				(onMMCSselect)="selectedMMCS($event)"
				(addNext)="nextAddition($event)"
				(itemCodeSelected)="enableAttachFetch($event)"
				(resetAll)="reset($event)"
				></app-item-popup>
		</div>
	</mat-tab>
	<mat-tab label="Attachments" [disabled]="attachTabDisabled">
		<div style="height: calc(100vh - 95px);">
			<app-attach-document			 
			 #childAttach
			 *ngIf="tab == 1 && !fullReset"
			 [selectedMMCSArr]="selectedMMCSArr"
			 [sapcode]="sapcode" 
			 [page]="drawerData"
			 [formObj]="formObj"
			 [viewData]="viewData"
			 (changeTab)="changeTab()" 
			 [auctionId]="auctionId"></app-attach-document>
		</div>
	</mat-tab>
</mat-tab-group>