.myStyle {
    background-color: #f0f8ff;
}


.yourStyle {
    background-color: #fff;
}  
.fixtable-height {
    position:relative;
    overflow: auto;
    max-height: 520px;
}
.blue-header th {
    position:sticky;
    color: #fff;
    background: #0b2ba5;
    top:-1px;
    z-index:4;
}

.header-sm-btn-ico{
    background: transparent;
    color: #0b2ba5;
}

.minWidth102 {
    min-width: 102px;
}

.minWidth200 {
    min-width: 200px;
}

