<div id="wrapper_setup_new">
    <!-- <app-header></app-header> -->
    <app-header [newMenu]="'noNav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont">
            <div class="col-md-3 apointmnet-left">
                <div class="row mt-20">
                    <div class="col-md-12 appointment-button-sidenav">
                        <a class="btn btn-default mb-5 chkout-button" [routerLink]="['/checkout/newticket']">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> New Ticket</a>
                        <br />
                        <a class="btn btn-default mb-5 chkout-button" (click)="showMembershipsModal()">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Memberships</a>
                        <br />
                        <a class="btn btn-default mb-5 chkout-button" (click)="showRefundsModal()">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Refunds</a>
                        <br />
                        <a class="btn btn-default mb-5 chkout-button" [routerLink]="['/checkout/refund/noclient']">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Refunds NO CLIENT</a>
                        <br />
                        <a class="btn btn-default mb-5 chkout-button" [routerLink]="['/cashinout']">
                            <img width="12px" src="assets/images/plusminus.png"> Cash In / Out</a>
                        <br />
                        <a class="btn btn-default mb-5 chkout-button" [routerLink]="['/checkout/cashcounting']">
                            <img width="12px" src="assets/images/plusminus.png"> Cash Counting</a>
                    </div>
                </div>

            </div>
            <div class="col-md-9 apointmnet-right">

                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th *ngIf='apptId' class="thcss">Include</th>
                                <th class="thcss">Ticket #</th>
                                <th class="thcss">Client</th>
                                <th class="thcss">Services</th>
                                <th *ngIf='apptId' class="thcss">Balance Due</th>
                                <th class="thcss">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let checkoutlist of checkOutList; let i='index'">
                                <td *ngIf='apptId'>
                                    <ng-container *ngIf="checkoutlist.appId!==apptId">
                                        <input type="checkbox" [(ngModel)]="checkoutlist.include">
                                    </ng-container>
                                </td>
                                <td class="tbl-txt" [routerLink]="['/checkout/' + checkoutlist.appId]">{{checkoutlist.ticketNumber}}</td>
                                <td *ngIf="checkoutlist.clientId==null">NO CLIENT</td>
                                <td class="tbl-txt" *ngIf="checkoutlist.clientId!=null" [routerLink]="['/client/edit/' + checkoutlist.clientId]">{{checkoutlist.clientName}}</td>
                                <td>{{checkoutlist.serviceName}}</td>
                                <td *ngIf='apptId'>{{checkoutlist.balancedue | number: '1.2-4'}}</td>
                                <td>{{checkoutlist.Date | date:'MM/d/yyyy' }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="row" *ngIf="apptId">
                    <div class="text-center mt-40">
                        <button class="save-btn" (click)="addTickets()" type="button">Include Unpaid Tickets</button>
                        <button class="cancel-btn" type="button" (click)='cancelMembershipsModal()'>{{'BUTTON.CANCEL' | translate}}</button>
                        <div class="text-center">
                            *Once a ticket with an unpaid balance has been included, the ticket being included can no longer be edited.
                        </div>
                    </div>
                </div>
                <!-- memberships modal starts -->
                <div bsModal #membershipsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" (click)="cancelMembershipsModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body clearfix">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="input-group">
                                        <input type="text" style="width:100%" class="form-control searchinput" [(ngModel)]="searchKey" (keyup.enter)="searchClients()"
                                            placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" (click)="searchClients()">Search!</button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </div>
                                <div class="clearfix"></div>
                                <div class="row mt-20 res-mt-15">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <p-dataTable [responsive]="true" [value]="DataObj" [rows]="rowsPerPage" expandableRows="true">
                                                <p-column field="Active__c" header="{{ 'COMMON.ACTIVE' | translate }}">
                                                    <ng-template let-user="rowData" pTemplate="body">
                                                        <span *ngIf='user.Active__c == 1'>
                                                            <input type="checkbox" checked />
                                                        </span>
                                                        <span *ngIf='user.Active__c == 0'>
                                                            <input type="checkbox" />
                                                        </span>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="FullName" header="{{'CLIENTS.FULL_NAME'| translate }}">
                                                    <ng-template let-user="rowData" pTemplate="body">

                                                        <span class="tbl-txt" [routerLink]="['/membershipedit/' + user.Id]">
                                                            {{user.FullName}}
                                                        </span>
                                                    </ng-template>
                                                </p-column>

                                                <p-column field="Phone" header="{{'CLIENTS.PRIMARY_PHONE'| translate }}"></p-column>
                                                <p-column field="MobilePhone" header="{{'CLIENTS.MOBILE_PHONE'| translate }}"></p-column>
                                                <p-column field="Email" header="{{'CLIENTS.PRIMARY_EMAIL'| translate }}"></p-column>
                                            </p-dataTable>


                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center mt-40">
                                        <button class="cancel-btn" type="button" (click)='cancelMembershipsModal()'>{{'BUTTON.CANCEL' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                </div>
                <!-- memberships modal ends -->
                <!-- refunds modal starts -->
                <div bsModal #refundsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" (click)="cancelModal()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body clearfix">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="input-group">
                                        <input type="text" style="width:100%" class="form-control searchinput" [(ngModel)]="searchKey" (keyup.enter)="searchClients()"
                                            placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" (click)="searchClients()">Search!</button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </div>
                                <div class="clearfix"></div>
                                <div class="row mt-20 res-mt-15">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <p-dataTable [responsive]="true" [value]="DataObj" [rows]="rowsPerPage" expandableRows="true">
                                                <p-column field="Active__c" header="{{ 'COMMON.ACTIVE' | translate }}">
                                                    <ng-template let-user="rowData" pTemplate="body">
                                                        <span *ngIf='user.Active__c == 1'>
                                                            <input type="checkbox" checked />
                                                        </span>
                                                        <span *ngIf='user.Active__c == 0'>
                                                            <input type="checkbox" />
                                                        </span>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="FullName" header="{{'CLIENTS.FULL_NAME'| translate }}">
                                                    <ng-template let-user="rowData" pTemplate="body">

                                                        <span class="tbl-txt" [routerLink]="['/refunddetails/' + user.Id]">
                                                            {{user.FullName}}
                                                        </span>
                                                    </ng-template>
                                                </p-column>

                                                <p-column field="Phone" header="{{'CLIENTS.PRIMARY_PHONE'| translate }}"></p-column>
                                                <p-column field="MobilePhone" header="{{'CLIENTS.MOBILE_PHONE'| translate }}"></p-column>
                                                <p-column field="Email" header="{{'CLIENTS.PRIMARY_EMAIL'| translate }}"></p-column>
                                            </p-dataTable>


                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center mt-40">
                                        <button class="cancel-btn" type="button" (click)='cancelModal()'>{{'BUTTON.CANCEL' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                </div>
                <!-- refunds modal ends -->

            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>