.dialog_close{
    
    text-align: right;
    cursor: pointer;
  }
  .notificationList{
    list-style: none;
    padding-left:0px;
    margin: 0;
    max-height:469px;
    overflow:auto;
  }
  .headNotice{
    padding:10px;
    border-bottom: solid 1px #ccc;
  }
  .listBell{
   padding-left:5px;
  }
  .noticeTxt{
   padding-left:7px;
   font-size: 18px;
  }
  .listContent{
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: solid 1px #ccc;
    border-left: solid 5px Red;
    font-size:15px;
    background:#efefef;
  }
  .listContent.read {
    background-color: #ffffff;
    border-left: solid 5px #3232e6;
  }
  .notifDate{
     color:#3232e6;
     text-align: right;
  }
  .notiViewAll{
    text-align: center;
    color:#3232e6;
    cursor: pointer;
    padding-top: 8px;
  }