<div>
  <div class="container-body">
      <!-- to be used in future -->
      <!-- <div class="container-fluid ">
          <div class="home-search py-4">
              <div class="input-group ">
                  <select class="form-control select-filter">
                      <option> All </option>
                      <option> Forward Auction </option>
                      <option> Reverse Auction </option>
                  </select>
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="input-group-append">
                      <button class="btn search-btn" type="button">
                          <i class="fas fa-search"></i>
                      </button>
                  </div>
              </div>
          </div>
      </div> -->
      <div class="whitebg py-4">
        <div class="cust-container">
            <div class="row cust-row-margin">
                <!-- <div class="col-md-3  col-6 cust-col-pad wow bounceInUp animationdelay" data-wow-delay=".55s">
                    <div class="flat-tile d-flex align-items-center orangebg" style="min-height: 120px;" >
                        <div class=" text-center full-width ">
                            <div class="flat-tile-content-big1"> 0 </div>
                            <div class="">Pending Work</div>   
                        </div>
                    </div>
                </div> -->
                <div class="col-md-3 col-6 cust-col-pad wow bounceInUp animationdelay" data-wow-delay=".65s">
                    <div class="flat-tile d-flex align-items-center bluebg" style="min-height: 120px;" (click)="onType('today')">
                        <div class=" text-center full-width ">
                            <div class="flat-tile-content-big1"> {{buyerData?.todaysAuctionCountVal}} </div>
                            <div class="">Todays Auctions</div>
                        </div>
                    </div>
                </div>   
                <div class="col-md-3 col-6 cust-col-pad wow bounceInUp animationdelay" data-wow-delay=".75s">
                    <div class="flat-tile d-flex align-items-center bluebg" style="min-height: 120px;" (click)="onType('published')">
                        <div class=" text-center full-width ">
                            <div class="flat-tile-content-big1"> {{buyerData?.pulishedAuctionCountVal}} </div>
                            <div class="">Published Auctions</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6 cust-col-pad wow bounceInUp animationdelay" data-wow-delay=".75s">
                  <div class="flat-tile d-flex align-items-center bluebg" style="min-height: 120px;" (click)="onType('live')">
                        <div class=" text-center full-width ">
                            <div class="flat-tile-content-big1"> {{buyerData?.liveAuctionCountVal}} </div>
                            <div class="">Live Auctions</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6 cust-col-pad wow bounceInUp animationdelay" data-wow-delay=".65s">
                    <div class="flat-tile d-flex align-items-center redbg" style="min-height: 120px;" (click)="onType('closed')">
                        <div class=" text-center full-width ">
                            <div class="flat-tile-content-big1"> {{buyerData?.closeCountVal}} </div>
                            <div class="">Closed Auctions</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6 cust-col-pad wow bounceInUp animationdelay" data-wow-delay=".65s">
                    <div class="flat-tile d-flex align-items-center bluebg" style="min-height: 120px;" (click)="onType('All')">
                        <div class=" text-center full-width ">
                            <div class="flat-tile-content-big1"> {{buyerData?.allCountVal}} </div>
                            <!-- <div class="flat-tile-content-big1"> {{buyerData?.todaysAuctionCountVal+buyerData?.pulishedAuctionCountVal+buyerData?.liveAuctionCountVal+buyerData?.closeCountVal}} </div> -->
                            <div class="">All Auctions</div>
                        </div>   
                    </div>
                </div>
                
            </div>
        </div>
    </div>
      <!-- <button class="dashboard-btn"> </button> -->


  </div>
</div>