<!-- header message start-->
<div class="dialog-header p-2">
    <!-- <i class="fas fa-plus"> </i> -->
    <span class="dialog-header-txt"> {{dialogMessage}} </span>
    <i class="dialog-closex fas fa-times" (click)="MatDialogRef.close()"> </i>
</div>
<!-- header message end-->

<!-- confirm message start-->
<span>
    <div class="dialog-content p-2">

    <div>
        <div class="container-fluid py-3">
			<div class="row">
				<div class="col-md-12">            
				<mat-checkbox class="cust-checkbox" [checked]="selectAllHeaderFlag1" (change)="allHeaderSelection($event)">
				Select All Header Fields
				</mat-checkbox>
				</div>
			</div>        
			<hr>
			<div class="row">

				<div class="col-md-4" *ngFor="let item of dialogContent.headerList; let i = index">
				<div class="p-1">
					<mat-checkbox class="cust-checkbox" [disabled]="item.disable" [checked]="item.selected" (change)="pickHeader($event, item)">
					{{ camelToTitle(item.fieldName).replace("I D", "Id") }}
					</mat-checkbox>
				</div>
				</div>

			</div>
        </div>
    </div>
    <div >
        <div class="container-fluid py-3">
			<div class="row">
				<div class="col-md-12"> 
					<mat-checkbox class="cust-checkbox" [checked]="pickAllItemFlag1" (change)="pickAllItem($event)">
						Select All Item Fields
						</mat-checkbox>
				</div>
			</div>     
			<hr>
			<div class="row">
				<ng-container *ngFor="let item of dialogContent.itemColumnNames; let i = index">
					<div class="col-md-4" *ngIf="allowedFields(item)">
						<div class="p-1">
							<mat-checkbox class="cust-checkbox" [disabled]="item.disable" [checked]="item.selected" (change)="pickItem($event, item)">
							{{ camelToTitle(item.fieldName).replace("I D", "Id").replace("Initial Val", "Initial Bid") }}
							</mat-checkbox>
						</div>
					</div>
				</ng-container>				
			</div>			   
			<hr>
			<div class="row">
				<div class="col-md-12"> 
					Custom Fields
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4" *ngFor="let cust of dialogContent.custColNames; let i = index">
				<div class="p-1">
					<mat-checkbox class="cust-checkbox" [disabled]="cust.disable" [checked]="cust.selected" (change)="cust.selected = !cust.selected">
					{{ camelToTitle(cust.fieldName)}}
					</mat-checkbox>
				</div>
				</div>
			</div>

        </div>
    </div>
    </div>
    <div class="dialog-footer">
        <div class="col-md-12 mb-2 mt-2 text-right">
            <button mat-flat-button class="mr-2 btn-blue" (click)="positiveBtn()">{{dialogPositiveBtn}} </button>
            <button mat-flat-button color="warn" type="button" (click)="negativeBtn()"> {{dialogNegativeBtn}} </button>
        </div>
    </div>
</span>