.form-bg {
    background: #fff;
    padding: 20px 20px 0 20px;
    border-radius: 5px;
    margin-bottom: 20px
}
.summary-form .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: rgba(29, 58, 140, .60);
}

.summary-form .mat-input-element:disabled {
    color: #333;
}

.summary-form .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: #666;
}
.table tbody+tbody {
    border-top: none !important;
}
.printPreview{
    // max-height: 70vh;
    // overflow-x: hidden;
    // overflow-y: auto;
    position: relative;

    .printViewBox{
        strong{
            font-size: 14px;
            display: block;
        }
        span{
            font-size: 15px;
        }
    }

}

.logo-rauction {
    width: 100%;
    text-align: center;
    padding-bottom: 25px
} 

.printViewBox{
    strong{
        font-size: 14px;
        display: block;
        font-weight: 500;
    }
    span{
        font-size: 15px;
    }
}

hr{
      margin: 5px 0;
  }

 

@media print {
  body * {
    visibility:hidden;
  }
  #print-section, #print-section * {
    visibility:visible;
  }
  #print-section {
    position:absolute;
    left:0;
    top:0;
  }
  h5{
      font-size:25px;
  }
hr{
    opacity: 0;
}

}