/* .backBTN{
    position: absolute;
    width: 100%;
    bottom: -3rem;
} */
.table thead tr {
    background: #e4e4e4;
    border: 1px solid #e4e4e4;
}
.card-content{
    height: 411px;
    overflow: auto;
}