<div class="">
  <table class="table cust-table">
    <thead>
      <tr>
        <th scope="col"> No </th>
        <th scope="col"> Lot </th>
        <th scope="col"> Item </th>
        <th scope="col"> Reliance Quantity </th> 
        <th scope="col">Round </th>
        <th scope="col"> My Unit Rate </th>
        <th scope="col"> My Total Value </th>
        <th scope="col" *ngIf="additionMultiplicationFactor"> Landed Cost </th>
        <th scope="col" *ngIf="additionMultiplicationFactor"> Total Landed Cost </th>
        <th scope="col"> Status </th>
        <th scope="col"> Bid Time </th>
        <th scope="col" *ngIf="auctionData?.isSealedBidAuction"> Bid Reference ID </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bid_data of bidhistorylist; index as i">
        <td> {{i+1}} </td>
        <td> {{bid_data.lotName}} </td>
        <td> {{bid_data.itemName}} </td>
        <td> {{bid_data.minimumDesiredQuantity}} </td>
        <td>{{bid_data.roundID}}</td>
        <td> {{bid_data.baseCost | number:decimalplace}} </td>
        <td> {{bid_data.variableCost | number:decimalplace}} </td>
        <td *ngIf="additionMultiplicationFactor">{{ bid_data.convertedLandedCost  | number:currDeciPlac}}</td>
        <td *ngIf="additionMultiplicationFactor"> {{ bid_data.convertedTotalLandedCost  | number:currDeciPlac }}</td>
        <td> {{(bid_data.isLeading==0)?'Previous':'Current'}} </td>
        <td> {{bid_data.submitDate| date: 'dd/MM/yyyy HH:mm:ss'}} IST </td>
        <td *ngIf="auctionData?.isSealedBidAuction"> {{bid_data.uniqueBidID}}</td>
      </tr>
    </tbody>
  </table>
</div>