<mat-drawer-container>
    <mat-drawer [opened]="attachDisplay" disableClose="true" position="end" mode="over" *ngIf="drawerData">
        <app-moreoption *ngIf="drawerData?.pageFrom=='basic' && drawerData?.flag == 'openAttach'" [currency]="currencyData" [remarks]="remarks"></app-moreoption>
        <div class="add-doc-noheader" style="height: calc(100vh - 95px);" *ngIf="drawerData?.pageFrom=='header_attachment'">
            <app-attach-document [selectedMMCSArr]="" [page]="drawerData" [viewData]="drawerData.data"></app-attach-document>
        </div>

        <app-lot-popup *ngIf="drawerData?.pageFrom=='lot'" [itemList]="drawerData?.data.itemList" [auctionId]="auctionId"></app-lot-popup>
        <!-- CUSTOM FIELD POPUP -->
        <custom-field-popup *ngIf="drawerData?.pageFrom=='customField' && openCustom"
            [customFieldObj]="drawerData?.customFieldObj"
            [customFieldList]="drawerData?.customFieldList"  [auctionId]="auctionId"></custom-field-popup>

        <!-- ITEM POPUP -->
        <app-item-popup-holder [drawerData]="drawerData" [selectedIndex]="selectedIndex" [auctionId]="auctionId" *ngIf="drawerData?.pageFrom=='item' && drawerData?.flag=='openAttach'"></app-item-popup-holder>

        <!-- VENDOR-->
        <app-vendormodification *ngIf="drawerData?.pageFrom=='newvendor' "></app-vendormodification>

        <!-- EDIT VENDOR-->
        <app-vendormodification [contactData]="contactData" *ngIf="drawerData?.pageFrom=='existvendor' && contactData "></app-vendormodification>

        <!-- Mail Template-->
        <app-mail-template [auctionId]="auctionId" [supplier]="supplierFlag" *ngIf="drawerData?.pageFrom=='mailTemplate' && drawerData?.flag=='openAttach'">
        </app-mail-template>

         <!-- SUPPLIER CURRENCY-->
        <app-supplier-currency [supplier_currency]="drawerData.data" *ngIf="drawerData?.pageFrom=='supplier_currency'">
        </app-supplier-currency>

         <!-- SUPPLIER CURRENCY-->
         <app-query-offline *ngIf="(drawerData?.pageFrom=='queryHistory'  || drawerData?.pageFrom=='query_history_auction')" [auctionID]="drawerData.data.auctionID"
         (closeMethod)="closeChat($event);" [page]="drawerData.pageFrom"  [auctionData]="drawerData.data.auctionData" [sealedBID]="drawerData.sealedBid"></app-query-offline>

         <!-- edit-profile -->
        <app-edit-profile *ngIf="drawerData?.pageFrom=='edit-profile'"></app-edit-profile>

        <!-- auction card click show suppliers -->
        <app-show-card-suppliers *ngIf="drawerData?.pageFrom=='show_card_suppliers'" [supplier_details]="drawerData?.data"></app-show-card-suppliers>

        <!-- rounds auction -->
        <app-rounds-auction *ngIf="drawerData?.pageFrom=='roundsAuc'" [auctionData]="drawerData?.data"></app-rounds-auction>

        <!-- Report Generate Status-->
        <app-report-generate-status [drawerData]="drawerData" *ngIf="drawerData?.flag=='openAttach' && drawerData?.pageFrom=='reportstatus'"></app-report-generate-status>

    </mat-drawer>
    <mat-drawer-content>
        <app-header *ngIf="AuthService.getUserData()"></app-header>
        <!-- <app-message></app-message> -->
        <router-outlet></router-outlet>
        <div class="app-footer clearfix">
            <span> © 2020 Reliance Industries Limited. All rights reserved. </span>
            <span class="float-right no-mobile"> Site best viewed in  Chrome 40+ </span>
          </div>
    </mat-drawer-content>
</mat-drawer-container>

<!-- <div class="slider-popup noshow">
    <div class="slider-dark-bg ">
        <div>
            Arun nayak
        </div>
    </div>
</div> -->
<!-- <div [hidden]="!common.loader">
    <div class="loader"></div>
    <div class="overlay"></div>
</div> -->

<div class="slimLoader"  *ngIf="loader.loading">
    <mat-progress-bar mode="indeterminate" color='' style="position: fixed;top: 4.15rem;"></mat-progress-bar>
</div>
<app-loader></app-loader>
<audio  id="myAudio">
    <source src="/assets/connection-failed.mp3" type="audio/mpeg">
</audio>


