.add-doc-noheader {
    height: 100vh !important;
}
:host >>> .add-doc-noheader .item-detail-height {
    height: calc(100vh - 47px) !important;
}
.app-footer{
    width: 100%;
    background: white;
    height: 30px;
    text-align: center;
    font-size: 12px;
    padding: 5px 16px 0;
    color: #929292;
    border-top: 1px solid #dedede;
    position: fixed;
    bottom: 0;
    z-index: 13;
}

.slimLoader {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000000;
}

/* :host >>> .add-doc-noheader .item-detail-height .attached-file-location{
    height: calc(100vh - 230px) !important;
    overflow: auto;
} */