<div class="p-2 darkgrayfont font13" >
    <div class="">
        <div class="bold"> Long Description</div>
        <div class="mb-2">
            {{mmcsLongDesc}}
        </div>
    </div> 
    <!-- chars -->            
    <div class="more-table font14">
        <div class="d-flex border full-width graybg">
            <div class="p-1 bold make45"> Description </div>
            <div class="p-1 bold make25"> Unit </div>
            <div class="p-1 bold"> Values </div>
        </div>
        <div class="more-table-scroll">
            <div class="d-flex border full-width" *ngFor="let char of mmcsCharacteristics">
                <div class="p-1 make45"> 
                    {{char.nvchcharacteristics}} 
                </div>
                <div class="p-1 make25">
                     {{char.nvchuomcode}}
                 </div>
                <div class="p-1"> 
                    {{char.nvchcharvalues}} 
                </div>
            </div>
        </div>
    </div>
    <div class="font14 mt-2" [hidden]="!(companyReferences && companyReferences.length > 0)">
        <!-- <div class=" full-width mb-2 bold font16">
        Company References 
        </div> -->
        <span *ngFor="let item of companyReferences">            
            <div class=" border full-width mb-2 p-2" *ngIf="filterIt(item.referenceType)" >
                <div class="pb-1"> <span class="bold"> {{getDescForCompanyReferences('companyName')}} </span> : {{item.companyName}} </div>
                <div > <span class="bold"> {{getDescForCompanyReferences(item.referenceType)}} </span> : {{item.referenceNo}} </div>
            </div>
        </span>
        
    </div>
</div>