<div>
  <div class="container-body">
    <!-- Page Alt Header -->
    <div class="container-fluid alt-header-fix" *ngIf="pageLocation">
      <div class="alt-header pad-block font14">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" routerLink="{{routerconfig?.buyer_router_links.BUYER_DASHBOARD}}"> Home </li>
            <li class="breadcrumb-item active" aria-current="page">Auctions List</li>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus === 'Draft'"> {{translateSer?.DRAFT}} </span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus === 'Today'"> {{translateSer?.TODAYS_AUC}}
            </span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus === 'Coming Soon'">{{translateSer?.COMING_SOON}}</span>
            <span class="custom-chip red-chip ml-2" *ngIf="aucStatus === 'Closed'"> {{translateSer?.CLOSED}} </span>
            <span class="custom-chip green-chip ml-2" *ngIf="aucStatus === 'Open'"> {{translateSer?.OPEN}} </span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus === 'Paused'"> {{translateSer?.PAUSED}} </span>
            <span class="custom-chip yellow-chip ml-2" *ngIf="aucStatus === 'All'"> {{translateSer?.ALL}} </span>
            <span class="custom-chip blue-chip ml-2" *ngIf="aucStatus === 'Published'"> {{translateSer?.PUBLISHED}}
            </span>
          </ol>
        </nav>
        <div class="header-buttons mobile-scroll">
          <!-- <span class="font13 bold darkfont mr-2"> <input type="radio" /> Item View </span>
          <span class="font13 bold darkfont mr-2"> <input type="radio" /> Supplier View </span> -->
          <!-- <span class="custom-sort mr-2">
            <select class="custom-sort-input">
              <option >  Alpha  </option>
              <option >  beta  </option>
              <option >  gamma  </option>
              <option >  delta  </option>
            </select>
            <button class="ascending" disabled matTooltip="Ascending Sort"> <i class="fas fa-long-arrow-alt-up"></i> </button>
            <button class="descending" matTooltip="Descending Sort"> <i class="fas fa-long-arrow-alt-down"></i> </button>
          </span> -->

          <span class="custom-sort mr-2" *ngIf="auctionList.length>0">
            <select class="custom-sort-input" [(ngModel)]="selectFilter" (change)="auctionSorting(2)">
              <option *ngFor="let filter of auctionFilter"> {{filter.value}} </option>
            </select>
            <button class="ascending" [ngClass]="{'disabled':sorting}" matTooltip="Ascending Sort" (click)="auctionSorting(0)">
              <i class="fas fa-long-arrow-alt-up"></i> </button>
            <button class="descending" [ngClass]="{'disabled':!sorting}" matTooltip="Descending Sort" (click)="auctionSorting(1)">
              <i class="fas fa-long-arrow-alt-down"></i> </button>
          </span>

          <!-- <span class="dropdown" ngbDropdown>
            <button class="header-sm-btn mr-2 dropdown-toggle" ngbDropdownToggle>
              <i class="fas fa-filter"> </i> Filter
            </button>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right font13">
              <a class="dropdown-item" href="javascript:void(0)" *ngFor="let type of aucStatusList" [ngClass]="{'active' : type.name === aucStatus}"
                (click)="aucFilter(type)">{{type.name}}</a>
            </div>
          </span> -->
          <button class="header-sm-btn-ico mr-2" [matMenuTriggerFor]="menu"><i class="fas fa-filter"> </i> </button>
          <mat-menu class="cust-menuList" #menu="matMenu">
            <button class="dropdown-item" mat-menu-item *ngFor="let type of aucStatusList" (click)="aucFilter(type)"
              [ngClass]="{'active' : type.name === aucStatus}">{{type.name}}</button>
          </mat-menu>
          <button class="header-sm-btn-ico darkgraybg no-mobile" matTooltip="List" (click)="viewType('list')" [ngClass]="{'active' : view === 'list'}"
            *ngIf="auctionList && auctionList.length > 0" style="border-radius: 50% 0 0 50%;">
            <i class="fas fa-list-ul "></i> 
          </button>
          <button class="header-sm-btn-ico darkgraybg mr-2 no-mobile" matTooltip="card" (click)="viewType('card')" [ngClass]="{'active' : view === 'card'}"
            *ngIf="auctionList && auctionList.length > 0" style="border-radius:0 50% 50% 0;">
            <i class="fas fa-th-large "></i> 
          </button>
          <button class="header-sm-btn-alt" (click)="openLiveAuction()">
            <i class="fas fa-caret-right font16"></i> Live
          </button>
        </div>
      </div>
    </div>
    <div class="alt-header-filler pad-header-filler"></div>
    <!-- Page Alt Header END -->

    <!-- Auction Page blocking  -->
    <div class="container-fluid">
      <!-- card portion -->
 
      <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
        [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
        <ngx-masonry>
          <div class="row" *ngIf="view === 'card'">
            <div class=" col-lg-4 col-md-4 col-sm-6" ngxMasonryItem *ngFor="let list of auctionList;let i = index;">
              <div class="border-card mb-3 darkfont card-radius " [class.border-yellow]="list.status.toLowerCase() == 'draft' || list.status.toLowerCase() == 'paused'"
                [class.border-green]="list.status.toLowerCase() == 'open'" [class.border-red]="list.status.toLowerCase() == 'closed'">
                <div class="card-content font14">
                  <div class="flex-ends p-3 graybg" [ngClass]="{'pointer mouse-hov' : (list.status != 'Draft' && list.status != 'Cancelled')}"
                    (click)="(list.status != 'Draft' && list.status != 'Cancelled') ? openLiveBidding(list.auctionID) : return;">
                    <div class="pr-3" [ngClass]="{'breadcrumb-item' : list.status != 'Draft' && list.status != 'Cancelled'}">
                      <span *ngIf="list.auctionName.length>80">
                        {{list.auctionName | slice:0:80}} <span matTooltip="{{list.auctionName}}">...</span>
                      </span>
                      <span *ngIf="list.auctionName.length<=80">
                        {{list.auctionName}}
                      </span>
                    </div>
                    <div class="font15" style="min-width: 70px;">
                      <div class="bold">
                        <span *ngIf="list.isTemplate">T - </span>
                        {{list.auctionID}} / {{list.type | aucType}}
                      </div>
                      <div class="font14"  *ngIf="list.roundData">
                         ({{list.roundData}})
                      </div>
                    </div>
                    <div class="live-animate" *ngIf="list.status == 'Open'"> LIVE </div>
                  </div>
                  <div class="text-center px-3 py-2">
                    <span class="font13 grayfont "> Auction Leader: </span>
                    <span class="font13 bold capitalize"> {{list.auctionLeader.name}} </span>
                  </div>
                  <div class="text-center px-3 py-2 lightbluebg whitefont" *ngIf="list.status === 'Closed' && list.topSupplier?.supplierName1">
                    Top Supplier: {{list.topSupplier ? list.topSupplier.supplierName1 : ''}}
                  </div>
                  <div class="flex-ends p-3" *ngIf="!list.isTemplate">
                    <div>
                      <div class="font12 grayfont"> Start Date & Time</div>
                      <div class="font16 bold date-height">
                        <span *ngIf="!list.startDate"></span>
                        <span *ngIf="list.startDate">{{list.startDate | date:'dd MMM yyyy HH:mm'}}</span>
                      </div>
                    </div>
                    <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                    <div>
                      <div class="font12 grayfont"> Close Date & Time</div>
                      <div class="font16 bold date-height">
                        <span *ngIf="!list.endDate"></span>
                        <span *ngIf="list.endDate">{{list.endDate | date:'dd MMM yyyy HH:mm'}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="bluefont text-center" *ngIf="!list.republishRequired">
                    {{list.TimeRemaining}}
                  </div>
                  <div class="redFont text-center" *ngIf="list.republishRequired">
                    Under Amendment !
                  </div>
                  <div *ngIf="list.status === 'Open'"></div>
                  <div class="make-relative py-2 ">
                    <div class="line darkgraybg"></div>
                    <div class="pos-right pr-3 whitebg" *ngIf="!list.isTemplate">
                      <span class="custom-chip yellow-chip" *ngIf="list.status === 'Draft'"> {{translateSer?.DRAFT}}
                      </span>
                      <span class="custom-chip bluebg" *ngIf="list.status === 'Published'">
                        {{translateSer?.PUBLISHED}} </span>
                      <span class="custom-chip green-chip" *ngIf="list.status === 'Open'"> {{translateSer?.OPEN}}
                      </span>
                      <span class="custom-chip redbg" *ngIf="list.status === 'Closed'"> {{translateSer?.CLOSED}}
                      </span>
                      <span class="custom-chip darkgraybg" *ngIf="list.status === 'Cancelled'"> Cancelled
                      </span>
                      <span class="custom-chip yellow-chip" *ngIf="list.status === 'Paused'"> {{translateSer?.PAUSED}}
                      </span>
                    </div>
                    <div class="pos-left whitebg pl-3">
                      <span class="font13 bluefont" style="cursor: pointer;" (click)="seleAtt(list)">
                        <i class="fas fa-paperclip orangefont"></i> ({{ list.attachmentList ?
                        list.attachmentList.length
                        : '0' }})
                      </span>
                    </div>
                  </div>
                  <div *ngIf="!list.isTemplate">
                    <div class="text-center darkgrayfont font14 mt-1 "> {{translateSer?.SUPPLIERS}} </div>
                    <div class="flex-between grayfont pt-1 pb-2 font13 auc_card">
                      <div class="pointer" (click)="showSupplier('Invited',list)"> Invited <span class="bold font16 darkfont"> {{list.supplierInvited + list.supplierAccepted
                          +
                          list.supplierBidded}} </span></div>
                      <div class="pointer" (click)="showSupplier('Accepted',list)"> Accepted <span class="bold font16 darkfont"> {{list.supplierAccepted +
                          list.supplierBidded}}</span></div>
                      <div class="pointer" (click)="showSupplier('Bidded',list)"> Bidded <span class="bold font16 darkfont"> {{list.supplierBidded}} </span></div>
                    </div>
                  </div>
                  <div class="font13 py-2 px-3 border-top text-center" *ngIf="list.rfqNo">
                   <span class="bold">RFQ No: </span>{{list.rfqNo}} 
                  </div>
                  <!-- <div class="line darkgraybg "></div>
                <div class="mt-2">
                  <div class="text-center darkgrayfont font14 "> {{translateSer?.PRICE}} </div>
                  <div class="flex-between grayfont py-2 font13">
                    <div *ngIf="list.status === 'Open'">
                      <div>{{translateSer?.SAVINGS}} </div>
                      <div class="bold font16 darkfont"> {{list.percentSaving}}% </div>
                    </div>
                    <div class="vertical-line align-self-stretch darkgraybg" *ngIf="list.status === 'Open'"></div>
                    <div>
                      <div> {{translateSer?.BASELINE}} </div>
                      <div class="bold font16 darkfont">INR {{list.baseLine}} Cr</div>
                    </div>
                    <div class="vertical-line align-self-stretch darkgraybg" *ngIf="list.status === 'Open'"></div>
                    <div *ngIf="list.status === 'Open'">
                      <div> Current bid </div>
                      <div class="bold font16 darkfont"> INR {{list.currentBid}} Cr </div>
                    </div>
                  </div>
                </div> -->
                  <!-- <div class="m-3 graybg" style=" height:130px" *ngIf="list.lessMore === 'less'">
                  <img src="../../../../assets/images/profile.jpg" *ngIf="!list.profilePicture" alt="" style="height: 130px;
                width: 100%;">
                  <img [src]="list.profilePicture" *ngIf="list.profilePicture" alt="" style="height: 130px;
                width: 100%;">
                </div> -->
                </div>
                <!-- <div class="text-center pb-2">
                <button class="header-sm-btn active " (click)="lessAndMore(i,'more')" *ngIf="list.lessMore === 'less'">
                  Less
                </button>
                <button class="header-sm-btn active " (click)="lessAndMore(i,'less')" *ngIf="list.lessMore === 'more'">
                  More
                </button>
              </div> -->
              <div class="pt-1" *ngIf="list.isTemplate"></div>
                <div class="p-2 graybg text-right" style="border-radius: 0px 0 5px 5px; position: relative;">
                  <button class="header-sm-btn-ico tealbg mr-2" *ngIf="list.status.toLowerCase() == 'closed'"
                    matTooltip="Rounds Auction" (click)="roundAuc(list)">
                    <i class="fas fa-circle-notch"></i>
                  </button>
                 <button class="header-sm-btn-ico mr-2"  *ngIf='list.testUse' style="float:left;">
                  <span matTooltip="Test Use">
                    <i class="fa fa-text-height"> </i> 
                      <!-- {{translateSer?.EDIT}} -->
                    </span>
                  </button>
                  <span class="sealedbid-img" matTooltip="{{translateSerCommon?.SEALED_BID}}" *ngIf="list.isSealedBidAuction">
                    <img [src]="imageURL+'assets/images/sealed-bid-icon.png'">
                  </span>
                  <button class="header-sm-btn-ico orangebg mr-2" *ngIf="list.status.toLowerCase() == 'open' && !list.isHost"
                    (click)="confirmPopup('pauseButt',list)" matTooltip="Pause">
                    <i class="fas fa-pause"></i> 
                    <!-- {{translateSer?.PAUSE}} -->
                  </button>
                  <button class="header-sm-btn-ico greenbg mr-2" *ngIf="list.status.toLowerCase() == 'paused' && !list.isHost"
                    (click)="confirmPopup('playButt',list)" matTooltip="Play">
                    <i class="fas fa-play"></i> 
                    <!-- Play -->
                  </button>
                  <!-- <button class="header-sm-btn redfont mr-2" *ngIf="list.status !== 'Draft' && list.status !== 'Closed'">
                    <i class="fas fa-times"></i> {{translateSer?.FORCE_CLOSE}}
                  </button> -->
                  <button class="header-sm-btn-ico mr-2"  (click)="redirectToEdit(list)">
                    <span matTooltip="Edit" *ngIf="!list.isHost && (list.status.toLowerCase() == 'draft'|| list.status.toLowerCase() == 'published'|| list.status.toLowerCase() == 'paused');else onlyView">
                      <i class="fas fa-pen"> </i> 
                        <!-- {{translateSer?.EDIT}} -->
                      </span>
                    <ng-template #onlyView><span matTooltip="View"><i class="fas fa-eye"> </i> 
                      <!-- View -->
                    </span></ng-template>
                  </button>
                  <!-- <button class="header-sm-btn mr-2">
                    <i class="far fa-list-alt"></i> Audit Log
                  </button> -->
                  <!-- <button class="header-sm-btn mr-2" *ngIf="list.status === 'Closed'">
                    <i class="fas fa-chart-line"></i> Analyze
                  </button> -->


                  <button class="header-sm-btn-ico mr-2 make-relative" (click)="queryDialog(list.auctionID);" 
                  *ngIf="list.status !== 'Draft'" matTooltip="Query History">
                    <i class="far fa-comments"></i> 
                    <!-- Query History -->
                    <!-- // To be enabled when functionality is implemnted. -->
                    <!-- <span class="text-center btn-chip"> 10 </span> -->
                  </button>

                  <button class="header-sm-btn-ico mr-2 " matTooltip="Audit Log" (click)="openAuditLog(list.auctionID)">
                    <i class="fas fa-clipboard-list"></i>                 
                  </button>

                  <button class="header-sm-btn-ico redbg mr-2" matTooltip="Close" (click)="confirmPopup('stopButt',list)" *ngIf="list.status.toLowerCase() == 'open' && !list.isHost" >
                    <i class="fas fa-stop"></i>                 
                  </button>

                  <button class="header-sm-btn-ico redbg mr-2" matTooltip="Cancel" (click)="confirmPopup('canelButt',list)" *ngIf="list.status.toLowerCase() == 'published' && !list.isHost">
                    <i class="fas fa-times"></i>                 
                  </button>

                  <button class="header-sm-btn-ico redbg mr-2" matTooltip="Delete" (click)="confirmPopup('deleteButt',list)" *ngIf="list.status.toLowerCase() == 'draft' && !list.isHost">
                    <i class="fas fa-trash"></i>                 
                  </button>

                  <!-- <button class="header-sm-btn-ico mr-2" id="dropdownBasic1" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>                 
                  </button> -->

                  <a [routerLink]="['/reports/reportset', {auctionID: list.auctionID, breadCrumbStatus: list.status}]"
                  class="header-sm-btn-ico greenbg whitefont mr-2" matTooltip="Analyze" *ngIf="list.status === 'Closed'" style="display: inline-block;"> 
                        <!-- <i class="fas fa-ellipsis-v"></i>     -->
                        <i class="far fa-chart-bar"></i>     
                  </a>

                  <!-- <div ngbDropdown class="d-inline-block" *ngIf="!list.isTemplate">
                    <button class="header-sm-btn dropdown-togglealt px-2" id="dropdownBasic1" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i> More
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-right font13">
                      <a class="dropdown-item px-2 py-1 font13 pointer" (click)="openAuditLog(list.auctionID)"> Audit
                        Log </a>
                      <a class="dropdown-item px-2 py-1 font13 pointer" (click)="confirmPopup('stopButt',list)" *ngIf="list.status.toLowerCase() == 'open' && !list.isHost">
                        Force Stop</a>
                      <a class="dropdown-item px-2 py-1 font13 pointer" (click)="confirmPopup('canelButt',list)" *ngIf="(list.status.toLowerCase() == 'draft' || list.status.toLowerCase() == 'published') && !list.isHost">
                        Cancel</a>
                      <a [routerLink]="['/reports/reportset', {auctionID: list.auctionID, breadCrumbStatus: list.status}]"
                        class="dropdown-item px-2 py-1 font13 pointer" *ngIf="list.status === 'Closed'"> Analyze </a>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </ngx-masonry>
      </div>
      <!-- card portion ENDS -->


      <!-- List portion -->
      <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
        [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
      <div class="row" *ngIf="view === 'list'">
        <div class="col-md-12">
          <div class="border-card  mb-3 darkfont make-relative" *ngFor="let list of auctionList" [class.border-yellow]="list.status == 'Draft' || list.status.toLowerCase() == 'paused'"
            [class.border-green]="list.status == 'Open'" [class.border-red]="list.status.toLowerCase() == 'closed'">
            <div class="live-animate" *ngIf="list.status == 'Open'" style="right: 3px;"> LIVE </div>
            <div class="flex-ends px-2 py-1 font14 block992">
              <div class="flex-ends make25">
                <!-- <div class="list-img-container">
                  <img src="../../../../assets/images/img.png" *ngIf="!list.profilePicture">
                  <img [src]="list.profilePicture" *ngIf="list.profilePicture" alt="" style="height: 75px;
                width: 100px;">
                </div> -->
                <div>
                  <div class="font16 bold"> {{list.auctionID}} / {{list.type | aucType}} <span *ngIf="list.roundData"> / {{list.roundData}}</span> <span class="font13 bluefont ml-2"
                      *ngIf="list.status === 'Closed' && list.topSupplier?.supplierName1">
                      Top Supplier: {{list.topSupplier ? list.topSupplier.supplierName1 : ''}}</span>
                  </div>
                  <div class="font13" (click)="list.status != 'Draft' ? openLiveBidding(list.auctionID) : return;"
                    [ngClass]="{'breadcrumb-item mouse-hov' : list.status != 'Draft'}">
                    <span *ngIf="list.auctionName.length>80">
                      {{list.auctionName | slice:0:80}} <span matTooltip="{{list.auctionName}}">...</span>
                    </span>
                    <span *ngIf="list.auctionName.length<=80">
                      {{list.auctionName}}
                    </span>
                  </div>
                  <!-- <div class="font13 grayfont"> {{list.auctionLeader.name}} </div> -->
                  <div class="text-center">
                    <span class="font13 grayfont "> Auction Leader: </span>
                    <span class="font13 bold capitalize"> {{list.auctionLeader.name}} </span>
                  </div>
                  <div *ngIf="list.isSealedBidAuction">
                    <span class="font13 redFont bold uppercase"> {{translateSerCommon?.SEALED_BID}} </span>
                  </div>
                </div>
              </div>
              <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
              <div class="flex-ends make45">
                <div class="make55">
                  <!-- <div class="mx-2"> -->
                  <div class="flex-ends">
                    <div class="mr-2">
                      <div class="font13 grayfont"> Start Date & Time </div>
                      <div class="font16 bold" style="min-height: 25px;">
                        <span *ngIf="!list.startDate"></span>
                        <span *ngIf="list.startDate">{{list.startDate | date:'dd MMM yyyy HH:mm'}}</span>
                      </div>
                    </div>
                    <div class="mx-2">
                      <div class="font13 grayfont"> Close Date & Time </div>
                      <div class="font16 bold " style="min-height: 25px;">
                        <span *ngIf="!list.endDate"></span>
                        <span *ngIf="list.endDate">{{list.endDate | date:'dd MMM yyyy HH:mm'}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="bluefont text-center" *ngIf="!list.republishRequired">
                    {{list.TimeRemaining}}
                  </div>
                  <div class="redFont text-center" *ngIf="list.republishRequired">
                    Under Amendment !
                  </div>
                  <!-- </div> -->
                </div>
                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>

                <div class="flex-ends">
                  <div class="mx-2">
                    <div class="font14 text-center "> {{translateSer?.SUPPLIERS}} </div>
                    <div class="flex-ends auc_card">
                      <div class="mr-2 pointer" (click)="showSupplier('Invited',list)">
                        <div class="font13 grayfont"> {{translateSer?.INVITED}} </div>
                        <div class="font16 bold "> {{list.supplierInvited + list.supplierAccepted +
                          list.supplierBidded}} </div>
                      </div>
                      <div class="mx-2 pointer" (click)="showSupplier('Accepted',list)">
                        <div class="font13 grayfont"> {{translateSer?.ACCEPTED}} </div>
                        <div class="font16 bold "> {{list.supplierAccepted + list.supplierBidded}} </div>
                      </div>
                      <div class="ml-2 pointer" (click)="showSupplier('Bidded',list)">
                        <div class="font13 grayfont"> {{translateSer?.BIDDED}} </div>
                        <div class="font16 bold "> {{list.supplierBidded}} </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                <!-- <div *ngIf="list.status === 'Open'">
                  <div class="mx-2">
                    <div class="font14"> {{translateSer?.PRICE}} </div>
                    <div class="font13 grayfont"> {{translateSer?.SAVINGS}} </div>
                    <div class="font16 bold"> {{list.percentSaving}}% </div>
                  </div>
                </div> -->
              </div>
              <div class="flex-ends make25">
                <!-- <div class="vertical-line align-self-stretch darkgraybg mx-2" *ngIf="list.status === 'Open'"></div>
                <div class="mr-2">
                  <div class="font13 grayfont "> {{translateSer?.BASELINE}} </div>
                  <div class="font16 bold "> INR {{list.baseLine}} Cr </div>
                </div> -->
                <!-- <div class="vertical-line align-self-stretch darkgraybg mx-2" *ngIf="list.status === 'Open'"></div>
                <div class="mx-2" *ngIf="list.status === 'Open'">
                  <div class="font13 grayfont "> Current Bid </div>
                  <div class="font16 bold "> INR {{list.currentBid}} Cr </div>
                </div> -->
                <!-- <div class="vertical-line align-self-stretch darkgraybg mx-2" *ngIf="list.status === 'Open'"></div> -->
                <div class="mx-2">
                  <div>
                  <span class="custom-chip yellow-chip ml-2" *ngIf="list.status === 'Draft'"> {{translateSer?.DRAFT}}
                  </span>
                  <span class="custom-chip blue-chip ml-2" *ngIf="list.status === 'Published'">
                    {{translateSer?.PUBLISHED}} </span>
                  <span class="custom-chip green-chip ml-2" *ngIf="list.status === 'Open'"> {{translateSer?.OPEN}}
                  </span>
                  <span class="custom-chip red-chip ml-2" *ngIf="list.status === 'Closed'"> {{translateSer?.CLOSED}}
                  </span>
                  <span class="custom-chip darkgraybg ml-2" *ngIf="list.status === 'Cancelled'"> Cancelled
                  </span>
                  <span class="custom-chip yellow-chip ml-2" *ngIf="list.status === 'Paused'"> {{translateSer?.PAUSED}}
                  </span>
                  <button class="header-sm-btn-ico mr-2"  *ngIf='list.testUse'>
                    <span matTooltip="Test Use">
                      <i class="fas fa-pen"> </i> 
                      </span>
                    </button>
                  </div>
                  <div class="font13 pt-1" *ngIf="list.rfqNo">
                    <span class="bold">RFQ No: </span>{{list.rfqNo}} 
                   </div>
                </div>
                <div class="mx-2">
                  <button class="header-sm-btn-ico mr-2 mb-2" (click)="redirectToEdit(list)">
                    <span matTooltip="Edit" *ngIf="!list.isHost && (list.status.toLowerCase() == 'draft'|| list.status.toLowerCase() == 'published'|| list.status.toLowerCase() == 'paused')"><i
                        class="fas fa-pen"> </i>
                      </span>
                    <span matTooltip="View" *ngIf="(list.status.toLowerCase() !== 'draft'&& list.status.toLowerCase() !== 'published'&& list.status.toLowerCase() !== 'paused') || list.isHost"><i
                      class="fas fa-eye"> </i>
                    </span>
                  </button>
                  <div ngbDropdown class="">
                    <button matTooltip="More" class="header-sm-btn-ico dropdown-togglealt px-2" id="dropdownBasic1" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i> 
                      <!-- More -->
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <a class="dropdown-item px-2 py-1 font13 pointer" (click)="roundAuc(list)">Rounds Auction</a>
                      <a class="dropdown-item px-2 py-1 font13 pointer" (click)="openAuditLog(list.auctionID)"> Audit
                        Log </a>
                      <a class="dropdown-item px-2 py-1 font13 pointer" *ngIf="list.status.toLowerCase() === 'open' && !list.isHost"
                        (click)="confirmPopup('pauseButt',list)">
                        Pause </a>
                      <a class="dropdown-item px-2 py-1 font13 pointer" *ngIf="list.status.toLowerCase() === 'paused' && !list.isHost"
                        (click)="confirmPopup('playButt',list)">
                        Play </a>
                      <a class="dropdown-item px-2 py-1 font13 pointer" *ngIf="list.status.toLowerCase() == 'open' && !list.isHost"
                        (click)="confirmPopup('stopButt',list)">
                        Close</a>
                      <a class="dropdown-item px-2 py-1 font13 pointer" (click)="confirmPopup('canelButt',list)" *ngIf="list.status.toLowerCase() == 'published' && !list.isHost">
                        Cancel</a>
                        <a class="dropdown-item px-2 py-1 font13 pointer" (click)="confirmPopup('deleteButt',list)" *ngIf="list.status.toLowerCase() == 'draft' && !list.isHost">
                          Delete</a>
                      <a class="dropdown-item px-2 py-1 font13 pointer" [routerLink]="['/reports/reportset', {auctionID: list.auctionID, breadCrumbStatus: list.status}]"
                        *ngIf="list.status.toLowerCase() === 'closed'"> Analyze </a>
                        <a class="dropdown-item px-2 py-1 font13 pointer" (click)="queryDialog(list.auctionID);" *ngIf="list.status !== 'Draft'"> Query History </a>

                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- List portion ENDS-->



      <!-- List portion -->
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="border-card border-blue mb-3 darkfont">
            <div class="flex-ends p-2 font14 block992">
              <div class="flex-ends">
                <div>
                  <div class="font16 bold"> 12345665
                    <span class="font13 bluefont ml-2"> Top Supplier: RAJ ENTERPRISES</span>
                  </div>
                  <div class="font13"> Fiber Intracity Aerial Sample Text Sample Text </div>
                </div>
                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
              </div>
              <div class="flex-ends">
                <div class="mr-2">
                  <div class="font13 grayfont "> Savings </div>
                  <div class="font16 bold "> INR 23.5 Cr </div>
                </div>
                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                <div class="mx-2">
                  <div class="font13 grayfont "> Baseline </div>
                  <div class="font16 bold "> INR 23.5 Cr </div>
                </div>
                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                <div class="mr-2">
                  <div class="font13 grayfont "> Current Bid </div>
                  <div class="font16 bold "> INR 23.5 Cr </div>
                </div>
                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                <div class="mr-2">
                  <div class="font13 grayfont "> Info Shown On </div>
                  <div class="font16 bold "> INR 23.5 Cr </div>
                </div>
                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                <div class="mr-2">
                  <div class="font13 grayfont "> Current Time </div>
                  <div class="font16 bold "> INR 23.5 Cr </div>
                </div>
              </div>

              <div class="flex-between">

                <div class="mr-2">
                  <div class="font16  bluefont bold"> 03:35:55 </div>
                  <div class="font13 grayfont "> Time Remaining </div>
                  <div class="text-center">
                    <button class="header-sm-btn mr-2"> <i class="fas fa-play"> </i> </button>
                    <button class="header-sm-btn "> <i class="fas fa-stop"> </i> </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- List portion ENDS-->


      <!-- List Template portion -->
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="border-card border-blue mb-3 darkfont">
            <div class="flex-ends p-2 font14 block992">
              <div class="flex-ends">
                <div>
                  <div class="font16 bold">
                    12345665
                  </div>
                  <div class="font13">
                    Fiber Intracity Aerial Sample Text abcd abcdefgh hkjhdkh Sample Text
                  </div>
                </div>
                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
              </div>
              <div class="flex-ends">
                <div class="mr-3">
                  <div class="font13 grayfont "> Type </div>
                  <div class="font16 bold "> Reverse </div>
                </div>

                <div class="mx-3">
                  <div class="font13 grayfont "> Open Time and Date </div>
                  <div class="font16 bold "> 28 Mar 2019 12:00 </div>
                </div>

                <div class="mr-3">
                  <div class="font13 grayfont "> Close Time and Date </div>
                  <div class="font16 bold "> 28 Mar 2019 12:00 </div>
                </div>

                <div class="mr-3">
                  <div class="font13 grayfont "> Business Unit </div>
                  <div class="font16 bold "> JMD </div>
                </div>
                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                <div class="mr-3">
                  <div class="font13 grayfont "> Auction Leader </div>
                  <div class="font16 bold "> Archana Patil </div>
                </div>
              </div>

              <div class="flex-between">

                <div class="mr-2">
                  <button class="header-sm-btn font15 mr-2">
                    <i class="fas fa-paperclip font15"> </i> (3)
                  </button>
                  <button class="header-sm-btn active font15 mr-2">
                    <i class="fas fa-pen font15"> </i> Edit
                  </button>
                  <button class="header-sm-btn font15 redfont">
                    <i class="far fa-trash-alt font15"></i> Trash
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- List Template portion ENDS-->
      <div [hidden]="auctionList.length > 0" style="text-align: center;">
        {{translateSerCommon?.NO_REC_FOU}}
      </div>
    </div>
    <!-- Auction Page blocking ENDS -->
  </div>

</div>