<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <meta content="IE=edge" http-equiv="X-UA-Compatible"> 
    <meta content="width=device-width,initial-scale=1" name="viewport">    
    <title> eAuction </title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script src="js/core.js" type="text/javascript"> </script>
<style>
.slider-popup.slider-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1030;
}
.slider-dark-bg{
    background: rgba(0,0,0,0.2);
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}
.slider-lhs-block{
    background: #fff;
    height: 100vh;
    width: 400px;
    overflow: hidden;
    transition: 0.7s right ease-in-out;
    position: absolute;
    right: 0;
    box-shadow: -2px -1px 6px 0px rgba(0, 0, 0, 0.25);
}
.slider-lhs-move{
    right: -400px;
}
.no-scroll{
    overflow: hidden !important;
}
</style>
<script>
// $(document).ready(function(){
//     $(".slider-dark-bg").click(function(){
//     $(".slider-lhs-block").toggleClass("slider-lhs-move");
//     $("body").toggleClass("no-scroll");
//     });
//     $(".slider-lhs-block").click(function(event){
//         event.stopPropagation();
//     });

// });



</script>
</head>
<body> 
        <header class="text-center fixed-top appheader">
                <div class="pos-left logoImg">
                    <img src="img/logo.png">
                </div> 
                <h1 class="header-title"> Customer Enquiry Form </h1>
                <div class="pos-right text-right">
                    <div class="header-search inline-block">
                        <button type="button" class="header-search-btn ">
                            <i class="fas fa-search"> </i>
                        </button> 
                    </div>
                    <div class="dropdown inline-block">
                        <button type="button" class="user-dd-btn " data-toggle="dropdown">
                            <span class="user-dd-name no-mobile" > Welcome Arun Nayak </span>
                            <span class="user-dd-img"> <img src="img/user.png"/></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="header-dropdown-content px-3 py-2">
                                <div class="">
                                    <div class="text-center font13">
                                        <img class="header-profile-img" src="img/user.png" >
                                        <div class="bold mt-2">
                                            Chetan Shirbhate
                                        </div>
                                        <div class="">
                                            <a class="mailto" href="mailto:Chetan.Shirbhate@ril.com "> Chetan.Shirbhate@ril.com </a>
                                        </div>
                                    </div>
                                    <div class="line darkgraybg my-3"></div>
                                    <div class="mx-2">
                                        <button class="header-sm-btn make-block mb-2 full-width text-left"> 
                                                <i class="fas fa-pen"> </i> Edit Profile
                                        </button>
                                        <button class="header-sm-btn make-block mb-2 full-width text-left"> 
                                                <i class="fas fa-cog"> </i> Settings
                                        </button>
                                        <button class="redfont header-sm-btn make-block mb-2 full-width text-left"> 
                                                <i class="fas fa-power-off"> </i> Logout
                                        </button>
                                    </div>
              
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="search-slide" style="width:0">
                    <button class="search-slide-icon">  
                        <i class="fas fa-search "></i>
                    </button>
                    <input type="text" class="header-search-input" placeholder="Search Text Here">
                    <button class="search-slide-close">  
                        <i class="fas fa-times "> </i>
                    </button>
                   
                </div> 
        </header>
    <div>
        <div class="container-body">
            <!-- Page Alt Header -->
            <div class="container-fluid">
                <div class="alt-header ">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"> Home </li>
                            <li class="breadcrumb-item"> Library </li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                            <span class="custom-chip yellow-chip ml-2"> Draft </span>
                        </ol>
                    </nav>
                    <div class="header-buttons">
                        <span class="font13 bold darkfont mr-2"> <input type="radio" /> Item View </span>
                        <span class="font13 bold darkfont mr-2"> <input type="radio" /> Supplier View </span>
                        <button class="header-sm-btn mr-2"> 
                            <i class="fas fa-filter"> </i> Filter
                        </button>
                        <button class="header-sm-btn mr-2"> 
                            <i class="fas fa-th-large"></i> Card
                        </button>
                        <button class="header-sm-btn active mr-2"> 
                            <i class="fas fa-list-ul"></i> List
                        </button>
                        <button class="header-sm-btn-alt"> 
                            <i class="fas fa-caret-right font16"></i> Live
                        </button>
                    </div>
                </div>
            </div>
            <!-- Page Alt Header END -->

            <!-- Auction Page blocking  -->
            <div class="container-fluid">
                <!-- card portion -->
                <div class="row">
                    <div class=" col-lg-3 col-md-4 col-sm-6">
                        <div class="border-card border-blue mb-3 darkfont" >
                           <div class="card-content font14" >
                            <div class="flex-ends p-3 graybg">
                                <div class="pr-3">  Fiber Intracity Aerial Sample Text Sample Text </div>
                                <div class="bold font16"> 9420353 </div>
                            </div>
                            <div class="text-center px-3 py-2 lightbluebg whitefont">
                                Top Supplier: Some Name Here
                            </div>
                            <div class="flex-ends p-3">
                                <div> 
                                    <div class="font12 grayfont"> Date & Time</div>
                                    <div class="font18 bold"> 
                                        <span > 15 Aug 2019 </span>
                                        <span class="ml-3"> 04:33</span>
                                        <span class="grayfont font12"> PM </span>
                                    </div>
                                </div>
                                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                                <div class="bluefont">
                                    1 day 6 hours remaining.
                                </div>
                            </div>
                            <div class="make-relative py-2 ">
                                <div class="line darkgraybg"></div>
                                <div class="pos-right pr-3 whitebg">
                                    <span class="custom-chip yellow-chip"> Draft </span>
                                </div>
                                <div class="pos-left whitebg pl-3">
                                    <span class="font13" style="cursor: pointer;"> 
                                        <i class="fas fa-paperclip"></i> (9)
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="text-center darkgrayfont font14 "> Supplier </div>
                                <div class="flex-between grayfont py-2 font13"> 
                                    <div> Invited <span class="bold font16 darkfont"> 45 </span></div>
                                    <div> Accepted <span class="bold font16 darkfont"> 40 </span></div>
                                    <div> Bidded <span class="bold font16 darkfont"> 17 </span></div>
                                </div>
                            </div>
                            <div class="line darkgraybg "></div>
                            <div class="mt-2">
                            <div class="text-center darkgrayfont font14 "> Price </div>
                                <div class="flex-between grayfont py-2 font13"> 
                                    <div> 
                                        <div>Savings </div> 
                                        <div class="bold font16 darkfont"> +10% </div>
                                    </div>
                                    <div class="vertical-line align-self-stretch darkgraybg"></div>
                                    <div> 
                                        <div> Baseline </div> 
                                        <div class="bold font16 darkfont">INR 40 Cr</div>
                                    </div>
                                    <div class="vertical-line align-self-stretch darkgraybg"></div>
                                    <div> 
                                        <div> Current bid </div> 
                                        <div class="bold font16 darkfont"> INR 55 Cr </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-3 graybg" style=" height:130px">
                                Empty Spot for Img or Chart
                            </div>
                           </div>
                           <div class="text-center pb-2">                  
                                <button class="header-sm-btn active "> 
                                     More 
                                </button>                                
                            </div>
                            <div class="text-right p-2">                               
                                <button class="header-sm-btn mr-2"> 
                                    <i class="fas fa-pause"></i> Pause
                                </button>
                                <button class="header-sm-btn redfont mr-2"> 
                                    <i class="fas fa-times"></i> Force Close
                                </button>
                                <button class="header-sm-btn bluefont mr-2"> 
                                    <i class="fas fa-pen"> </i> Edit
                                </button> 

                                <button class="header-sm-btn bluefont mr-2"> 
                                    <i class="far fa-list-alt"></i> Audit Log
                                </button> 
                                <button class="header-sm-btn bluefont mr-2"> 
                                    <i class="fas fa-chart-line"></i> Analyze
                                </button> 
                                <button class="header-sm-btn bluefont mr-2 make-relative" > 
                                    <i class="far fa-comments"></i> Query History
                                    <span class="text-center btn-chip"> 10 </span>
                                </button> 

                            </div> 
                        </div>
                    </div>
                </div>
                <!-- card portion ENDS -->


                 <!-- List portion -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="border-card border-blue mb-3 darkfont" > 
                            <div class="flex-ends p-1 font14 block992">
                                <div class="flex-ends">
                                    <div class="list-img-container">  
                                        <img src="img/img.png">
                                    </div>
                                    <div>
                                        <div class="font16 bold">  12345665 <span class="font13 bluefont ml-2"> Top Supplier: RAJ ENTERPRISES</span> </div>
                                        <div class="font13">  Fiber Intracity Aerial Sample Text Sample Text  </div>
                                    </div>
                                    <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                                </div>
                                <div class="flex-ends">                                    
                                    <div class="mr-3">
                                        <div class="font12 grayfont"> Date & Time</div>
                                        <div class="font16 darkgrayfont bold"> 12 Mar 2019  
                                            <span> 04:43</span> 
                                            <span class="font13 grayfont"> PM</span> 
                                        </div>
                                        <div class="font13 bluefont bold"> 30 min to Close </div>
                                    </div>
                                    <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                                    <div class="flex-ends">
                                        <div class="mx-2"> 
                                            <div class="font14 "> Suppliers </div>
                                            <div class="flex-ends">
                                                <div class="mr-2"> 
                                                    <div class="font13 grayfont"> Invited </div>
                                                    <div class="font16 bold "> 50 </div>
                                                </div>
                                                <div class="mx-2"> 
                                                    <div class="font13 grayfont"> Accepted </div>
                                                    <div class="font16 bold "> 50 </div>
                                                </div>
                                                <div class="ml-2"> 
                                                    <div class="font13 grayfont"> Bidded </div>
                                                    <div class="font16 bold "> 50 </div>
                                                </div>
                                            </div>
                                        </div>       
                                    </div>
                                    <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                                    <div>
                                        <div class="mx-2"> 
                                            <div class="font14"> Price </div>
                                            <div class="font13 grayfont"> Savings </div>
                                            <div class="font16 bold"> +85% </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-between">
                                    
                                    <div class="mr-2"> 
                                        <div class="font13 grayfont "> Current Bid </div>
                                        <div class="font16 bold "> INR 23.5 Cr </div>
                                    </div>
                                    <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                                    <div class="mx-2">
                                        <div class="font13 grayfont "> Current Bid </div>
                                        <div class="font16 bold "> INR 23.5 Cr </div>
                                    </div>
                                    <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                                    <div class="mx-2">
                                        <span class="custom-chip yellow-chip ml-2"> Draft </span>
                                    </div>       
                                </div>
                            </div>
                        </div>           
                    </div>
                </div>
                <!-- List portion ENDS-->



                <!-- List portion -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="border-card border-blue mb-3 darkfont" > 
                            <div class="flex-ends p-2 font14 block992">
                                <div class="flex-ends">
                                    <div>
                                        <div class="font16 bold">  12345665                                             
                                            <span class="font13 bluefont ml-2"> Top Supplier: RAJ ENTERPRISES</span> 
                                        </div>
                                        <div class="font13">  Fiber Intracity Aerial Sample Text Sample Text  </div>
                                    </div>
                                    <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>                                       
                                </div>
                                <div class="flex-ends">
                                        <div class="mr-2"> 
                                            <div class="font13 grayfont "> Savings </div>
                                            <div class="font16 bold "> INR 23.5 Cr </div>
                                        </div>
                                        <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                                        <div class="mx-2">
                                            <div class="font13 grayfont "> Baseline </div>
                                            <div class="font16 bold "> INR 23.5 Cr </div>
                                        </div>
                                        <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                                        <div class="mr-2"> 
                                            <div class="font13 grayfont "> Current Bid </div>
                                            <div class="font16 bold "> INR 23.5 Cr </div>
                                        </div>
                                        <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                                        <div class="mr-2"> 
                                            <div class="font13 grayfont "> Info Shown On </div>
                                            <div class="font16 bold "> INR 23.5 Cr </div>
                                        </div>
                                        <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                                        <div class="mr-2"> 
                                            <div class="font13 grayfont "> Current Time </div>
                                            <div class="font16 bold "> INR 23.5 Cr </div>
                                        </div>
                                </div>

                                <div class="flex-between">
                                    
                                    <div class="mr-2"> 
                                        <div class="font16  bluefont bold"> 03:35:55 </div>
                                        <div class="font13 grayfont "> Time Remaining </div>
                                        <div class="text-center"> 
                                            <button class="header-sm-btn mr-2"> <i class="fas fa-play"> </i> </button>
                                            <button class="header-sm-btn "> <i class="fas fa-stop"> </i> </button>
                                        </div>
                                    </div>                              
                                            
                                </div>
                            </div>
                        </div>           
                    </div>
                </div>    
                <!-- List portion ENDS-->


                <!-- List Template portion -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="border-card border-blue mb-3 darkfont" > 
                            <div class="flex-ends p-2 font14 block992">
                                <div class="flex-ends">
                                    <div>
                                        <div class="font16 bold">  
                                            12345665                                          
                                        </div>
                                        <div class="font13">  
                                            Fiber Intracity Aerial Sample Text abcd abcdefgh hkjhdkh Sample Text
                                        </div>
                                    </div>
                                    <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>                                       
                                </div>
                                <div class="flex-ends">
                                    <div class="mr-3"> 
                                        <div class="font13 grayfont "> Type </div>
                                        <div class="font16 bold "> Reverse </div>
                                    </div>
                                    
                                    <div class="mx-3">
                                        <div class="font13 grayfont "> Open Time and Date </div>
                                        <div class="font16 bold "> 28 Mar 2019 12:00 </div>
                                    </div>
                                    
                                    <div class="mr-3"> 
                                        <div class="font13 grayfont "> Close Time and Date </div>
                                        <div class="font16 bold "> 28 Mar 2019 12:00 </div>
                                    </div>
                                    
                                    <div class="mr-3"> 
                                        <div class="font13 grayfont "> Business Unit </div>
                                        <div class="font16 bold "> JMD </div>
                                    </div>
                                    <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
                                    <div class="mr-3"> 
                                        <div class="font13 grayfont "> Auction Leader </div>
                                        <div class="font16 bold "> Archana Patil </div>
                                    </div>
                                </div>

                                <div class="flex-between">
                                    
                                    <div class="mr-2"> 
                                        <button class="header-sm-btn font15 mr-2"> 
                                            <i class="fas fa-paperclip font15"> </i> (3)
                                        </button>
                                        <button class="header-sm-btn active font15 mr-2"> 
                                            <i class="fas fa-pen font15"> </i> Edit
                                        </button>
                                        <button class="header-sm-btn font15 redfont"> 
                                            <i class="far fa-trash-alt font15"></i> Trash
                                        </button>
                                    </div>                              
                                            
                                </div>
                            </div>
                        </div>           
                    </div>
                </div>    
                <!-- List Template portion ENDS-->


            </div>
            <!-- Auction Page blocking ENDS -->
        </div>

    </div>
    <!-- Code for slider below  --------------------------------------------  -->
    <!-- <div class="slider-popup">
        <div class="slider-dark-bg">
            <div class="slider-lhs-block slider-lhs-move">
                Arun nayak
            </div>
        </div>
    </div> -->
    <!-- Code for slider ENDS ----------------------------------------------  -->
</body>
</html>


