<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <meta content="IE=edge" http-equiv="X-UA-Compatible"> 
    <meta content="width=device-width,initial-scale=1" name="viewport">    
    <title> eAuction </title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script src="js/core.js" type="text/javascript"> </script>

</head>
<body> 
        <header class="text-center fixed-top appheader">
                <div class="pos-left logoImg">
                    <img src="img/logo.png">
                </div> 
                <h1 class="header-title"> Customer Enquiry Form </h1>
                <div class="pos-right text-right">
                    <div class="header-search inline-block">
                        <button type="button" class="header-search-btn ">
                            <i class="fas fa-search"> </i>
                        </button> 
                    </div>
                    <div class="dropdown inline-block">
                        <button type="button" class="user-dd-btn " data-toggle="dropdown">
                            <span class="user-dd-name no-mobile" > Welcome Arun Nayak </span>
                            <span class="user-dd-img"> <img src="img/user.png"/></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="header-dropdown-content px-3 py-2">
                                <div class="">
                                    <div class="text-center font13">
                                        <img class="header-profile-img" src="img/user.png" >
                                        <div class="bold mt-2">
                                            Chetan Shirbhate
                                        </div>
                                        <div class="">
                                            <a class="mailto" href="mailto:Chetan.Shirbhate@ril.com "> Chetan.Shirbhate@ril.com </a>
                                        </div>
                                    </div>
                                    <div class="line darkgraybg my-3"></div>
                                    <div class="mx-2">
                                        <button class="header-sm-btn make-block mb-2 full-width text-left"> 
                                                <i class="fas fa-pen"> </i> Edit Profile
                                        </button>
                                        <button class="header-sm-btn make-block mb-2 full-width text-left"> 
                                                <i class="fas fa-cog"> </i> Settings
                                        </button>
                                        <button class="redfont header-sm-btn make-block mb-2 full-width text-left"> 
                                                <i class="fas fa-power-off"> </i> Logout
                                        </button>
                                    </div>
              
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="search-slide" style="width:0">
                    <button class="search-slide-icon">  
                        <i class="fas fa-search "></i>
                    </button>
                    <input type="text" class="header-search-input" placeholder="Search Text Here">
                    <button class="search-slide-close">  
                        <i class="fas fa-times "> </i>
                    </button>
                   
                </div> 
            </header>
    <div>
        <div class="container-body">
            <!-- Page Alt Header -->
            <div class="container-fluid">
                <div class="alt-header">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"> Home </li>
                            <li class="breadcrumb-item"> Library </li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                            <span class="custom-chip yellow-chip ml-2"> Draft </span>
                        </ol>
                    </nav>
                    <div class="header-buttons">
                        <button class="header-sm-btn mr-2"> 
                            <i class="fas fa-filter"> </i> Filter
                        </button>
                        <button class="header-sm-btn mr-2"> 
                                <i class="fas fa-th-large"></i> Card
                        </button>
                        <button class="header-sm-btn active mr-2"> 
                            <i class="fas fa-list-ul"></i> List
                        </button>
                        <button class="header-sm-btn-alt"> 
                            <i class="fas fa-caret-right font16"></i> Live
                        </button>
                    </div>
                </div>
            </div>
            <!-- Page Alt Header END -->

            <!-- Create Page blocking  -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="border-card border-blue p-3 mb-3">
                           <div class="border-card-header mb-2 d-flex justify-content-between align-items-center">
                               <div class="bold"> Header</div>
                               <div> 
                                    <button class="header-sm-btn active mr-2"> 
                                        <i class="fas fa-filter"> </i> Filter
                                    </button>
                                    <button class="header-sm-btn  active mr-2"> 
                                        <i class="fas fa-plus"> </i> Card
                                    </button>
                                    <button class="header-sm-btn active "> 
                                        <i class="fas fa-plus"> </i> List
                                    </button>
                            </div>
                           </div> 
                           <div class="card-content" style="height:100px;">
                                <div class="row">
                                    <div class="col-md-6"> Auction Name </div>
                                    <div class="col-md-3"> Auction Type </div>
                                    <div class="col-md-3"> Currency </div>
                                    <div class="col-md-6"> Descriptions </div>
                                    <div class="col-md-3"> Opening Date/Time </div>
                                    <div class="col-md-3"> Duration </div>
                                    <div class="col-md-4"> Grace Period </div>
                                    <div class="col-md-4"> Extension Time </div>
                                    <div class="col-md-4"> Minimum Bid </div>
                                    <div class="col-md-3"> Bid Info shown </div>
                                    <div class="col-md-3"> Bid Cushion Upper Limit </div>
                                    <div class="col-md-3"> Bid Cushion Lower Limit </div>
                                    <div class="col-md-3"> Bid Cushion Upper Limit </div>
                                </div>
                           </div>
                           <div class="text-right ">                  
                                <button class="header-sm-btn active "> 
                                    <i class="fas fa-plus"> </i> More Options
                                </button>                                
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="border-card border-blue p-3 mb-3">
                           <div class="border-card-header mb-2 d-flex justify-content-between align-items-center">
                               <div class="bold"> Header</div>
                               <div> 
                                    <button class="header-sm-btn active mr-2"> 
                                        <i class="fas fa-filter"> </i> Filter
                                    </button>
                                    <button class="header-sm-btn  active mr-2"> 
                                        <i class="fas fa-plus"> </i> Card
                                    </button>
                                    <button class="header-sm-btn active "> 
                                        <i class="fas fa-plus"> </i> List
                                    </button>
                            </div>
                           </div> 
                           <div class="card-content" >
                            <div class="row cust-row-margin">
                                <div class="col-md-3 col-sm-6 cust-col-pad">
                                        <div class="flat-tile tealbg p-2" style="cursor: initial;">                                    
                                            <div class=" d-flex justify-content-between align-items-center " >
                                                <div class="bold"> 12345678999 </div>
                                                <div> 
                                                        <div class="dropdown ">
                                                            <button type="button" class="flat-tile-dd" data-toggle="dropdown">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right font13">
                                                                <a class="dropdown-item" href="#">Edit</a>
                                                                <a class="dropdown-item" href="#">Delete</a>
                                                                
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="mb-2 text-left font13">   
                                                Fiber Intracity Aerial Sample Text Abcd text sample Sample Text
                                            </div> 
                                            <div class="line  my-1"></div>
                                            <div class="text-center py-1 font15">   
                                                Min bid change + 50
                                            </div>            
                                            <div class=" d-flex justify-content-between align-items-center font12" >
                                                <div class="pr-2"> 
                                                    <div class="mt-1"> Quantity </div>
                                                    <div class="font20"> 999 </div>
                                                </div>
                                                <div class="vertical-line align-self-stretch"></div>
                                                <div class="px-2" > 
                                                    <div class="mt-1"> Start Price </div>
                                                    <div class="font20"> INR 334 Cr</div>
                                                </div>
                                                <div class="vertical-line align-self-stretch"></div>
                                                <div class="pl-2 " > 
                                                    <div class="mt-1"> Historical Price </div>
                                                    <div class="font20"> INR 234 Cr</div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end align-items-center mt-1"> 
                                                <span class="font13" style="cursor: pointer;"> 
                                                    <i class="fas fa-paperclip"></i> (9)
                                                </span>
                                            </div>                                                
                                               
                                        </div>
                                </div>
            
                                <div class="col-md-3 col-sm-6 cust-col-pad">
                                        <div class="flat-tile bluebg p-2">                                    
                                            <div class=" d-flex justify-content-between align-items-center" >
                                                <div class="bold"> Kannungo Steel (India) </div>
                                                <div> 
                                                </div>
                                            </div>
                                            <div class="mb-2 text-left font13 ">   
                                                    Sample Address Text Abcdwdw Department of Ajfhjfhf State 6170
                                            </div> 
                                            <div class="line  my-1"></div>
                                            <div class="text-left font14 mt-2">   
                                                    Name Lastname Sample Text
                                            </div>
                                            <div class="text-left font13">   
                                                    name.lastname@ril.com
                                            </div> 
                                            <div class="text-left bold font13">   
                                                    +919168586668
                                            </div>                                        
                                               
                                        </div>
                                </div>
                            </div>
                           </div>
                           <div class="text-right ">                  
                                     <button class="header-sm-btn active "> 
                                         <i class="fas fa-plus"> </i> More Options
                                     </button>                                
                            </div> 
                        </div>
                    </div>
                </div>

            </div>
            <!-- Create Page blocking ENDS -->
        </div>
        <div class="actions-area mt-2 px-3 py-2 text-right whitebg">
            <button class="btn btn-primary btn-sm mr-2"> Publish </button>
            <button class="btn btn-success btn-sm"> Save </button>        
        </div>
    </div>

</body>
</html>



