.dashboard-btn{
  width:40px;
  height: 40px;
  background: #e7f268 url('../../../../assets/images/chart.png') no-repeat 0 0;
  background-size: 40px;
  border: none;
  border-radius: 50%;
  position: relative;
  top: 4px;
  right: 8px;
}

.btn-blue-faded {
  opacity: 0.5;
}

.chatbot-btn{
    position: fixed;
    bottom: 30px;
    right: 70px;
    width: 52px;
    height: 52px;
    background: url(../../../../assets/images/chatbot.png) no-repeat 0px 2px rgba(255, 255, 255, 0);
    background-size: 45px;
    border-radius: 50%;
    cursor: pointer;
}
.chat-notification{
    color: #fff;
    background: #f44336;
    border-radius: 50%;
    font-weight: 500;
    font-size: 11px;
    padding: 3px 5px;
    position: absolute;
    top: -5px;
    right: -5px;
}
.repeat-animation {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.chatpop{
    background: #fff;
    height: 80vh;
    width: 380px;
    overflow: hidden;
    /* transition: 0.7s right ease-in-out; */
    position: absolute;
    right: 0;
    top:20vh;
    box-shadow: -2px -1px 6px 0px rgba(0, 0, 0, 0.25);
    max-width: 100vw;
    border: 1px solid rgba(0, 0, 0, 0.25);
    z-index: 1030;
}

marquee{
    font-size: 25px;
    font-weight: 800;
    color: #8ebf42;
    font-family: sans-serif;
    }

   /*  */
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;  
}
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 4.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 4.25s;
    -o-animation-duration: 1.25s, 1.25s, 4.25s;
    -ms-animation-duration: 1.25s, 1.25s, 4.25s;
    animation-duration: 1.25s, 1.25s, 4.25s;
  }
  
  @-webkit-keyframes bang {
    to {
      box-shadow: 118px -95.6666666667px #11ff00, 209px -412.6666666667px #ff1500, 235px -95.6666666667px #00ff8c, -219px -373.6666666667px #d9ff00, -83px -296.6666666667px #0400ff, 216px -23.6666666667px #ff8800, 3px -103.6666666667px #0091ff, -243px -105.6666666667px #00d0ff, -63px -68.6666666667px #00ff44, -227px -320.6666666667px #f700ff, -211px -355.6666666667px #ff00c8, 169px -195.6666666667px #00ffd5, 43px -102.6666666667px #00a6ff, 117px -12.6666666667px #00ff40, 187px -188.6666666667px #ff0091, -83px 2.3333333333px #007bff, -92px -399.6666666667px #f700ff, -1px -47.6666666667px #00ffdd, -139px -70.6666666667px #ff009d, -151px -6.6666666667px #b7ff00, 231px -208.6666666667px #ff0044, 232px 12.3333333333px #ff4000, -247px -146.6666666667px #00ff99, 228px -82.6666666667px #ff006f, -203px -213.6666666667px #fb00ff, -29px -94.6666666667px yellow, -85px -197.6666666667px #ff2600, 129px -152.6666666667px #ffaa00, -143px -194.6666666667px #0051ff, -6px -381.6666666667px #00ff66, -177px -275.6666666667px #37ff00, 199px -304.6666666667px #e600ff, -215px -381.6666666667px #ff001e, -124px -210.6666666667px #3300ff, 93px -176.6666666667px #ff0066, 24px -230.6666666667px #2200ff, 102px -288.6666666667px #ff2f00, 128px -396.6666666667px #000dff, -144px -57.6666666667px #ff0022, 94px 61.3333333333px #0d00ff, 149px -414.6666666667px #ff0080, 33px -318.6666666667px #ff0091, -43px 44.3333333333px #ffa600, 5px -257.6666666667px #ffb700, -13px -203.6666666667px #99ff00, -143px -292.6666666667px #00a6ff, 6px -259.6666666667px #5eff00, 23px -55.6666666667px #9900ff, -60px -238.6666666667px #00b3ff, 160px -10.6666666667px #80ff00, 212px -385.6666666667px #004dff;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: 118px -95.6666666667px #11ff00, 209px -412.6666666667px #ff1500, 235px -95.6666666667px #00ff8c, -219px -373.6666666667px #d9ff00, -83px -296.6666666667px #0400ff, 216px -23.6666666667px #ff8800, 3px -103.6666666667px #0091ff, -243px -105.6666666667px #00d0ff, -63px -68.6666666667px #00ff44, -227px -320.6666666667px #f700ff, -211px -355.6666666667px #ff00c8, 169px -195.6666666667px #00ffd5, 43px -102.6666666667px #00a6ff, 117px -12.6666666667px #00ff40, 187px -188.6666666667px #ff0091, -83px 2.3333333333px #007bff, -92px -399.6666666667px #f700ff, -1px -47.6666666667px #00ffdd, -139px -70.6666666667px #ff009d, -151px -6.6666666667px #b7ff00, 231px -208.6666666667px #ff0044, 232px 12.3333333333px #ff4000, -247px -146.6666666667px #00ff99, 228px -82.6666666667px #ff006f, -203px -213.6666666667px #fb00ff, -29px -94.6666666667px yellow, -85px -197.6666666667px #ff2600, 129px -152.6666666667px #ffaa00, -143px -194.6666666667px #0051ff, -6px -381.6666666667px #00ff66, -177px -275.6666666667px #37ff00, 199px -304.6666666667px #e600ff, -215px -381.6666666667px #ff001e, -124px -210.6666666667px #3300ff, 93px -176.6666666667px #ff0066, 24px -230.6666666667px #2200ff, 102px -288.6666666667px #ff2f00, 128px -396.6666666667px #000dff, -144px -57.6666666667px #ff0022, 94px 61.3333333333px #0d00ff, 149px -414.6666666667px #ff0080, 33px -318.6666666667px #ff0091, -43px 44.3333333333px #ffa600, 5px -257.6666666667px #ffb700, -13px -203.6666666667px #99ff00, -143px -292.6666666667px #00a6ff, 6px -259.6666666667px #5eff00, 23px -55.6666666667px #9900ff, -60px -238.6666666667px #00b3ff, 160px -10.6666666667px #80ff00, 212px -385.6666666667px #004dff;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: 118px -95.6666666667px #11ff00, 209px -412.6666666667px #ff1500, 235px -95.6666666667px #00ff8c, -219px -373.6666666667px #d9ff00, -83px -296.6666666667px #0400ff, 216px -23.6666666667px #ff8800, 3px -103.6666666667px #0091ff, -243px -105.6666666667px #00d0ff, -63px -68.6666666667px #00ff44, -227px -320.6666666667px #f700ff, -211px -355.6666666667px #ff00c8, 169px -195.6666666667px #00ffd5, 43px -102.6666666667px #00a6ff, 117px -12.6666666667px #00ff40, 187px -188.6666666667px #ff0091, -83px 2.3333333333px #007bff, -92px -399.6666666667px #f700ff, -1px -47.6666666667px #00ffdd, -139px -70.6666666667px #ff009d, -151px -6.6666666667px #b7ff00, 231px -208.6666666667px #ff0044, 232px 12.3333333333px #ff4000, -247px -146.6666666667px #00ff99, 228px -82.6666666667px #ff006f, -203px -213.6666666667px #fb00ff, -29px -94.6666666667px yellow, -85px -197.6666666667px #ff2600, 129px -152.6666666667px #ffaa00, -143px -194.6666666667px #0051ff, -6px -381.6666666667px #00ff66, -177px -275.6666666667px #37ff00, 199px -304.6666666667px #e600ff, -215px -381.6666666667px #ff001e, -124px -210.6666666667px #3300ff, 93px -176.6666666667px #ff0066, 24px -230.6666666667px #2200ff, 102px -288.6666666667px #ff2f00, 128px -396.6666666667px #000dff, -144px -57.6666666667px #ff0022, 94px 61.3333333333px #0d00ff, 149px -414.6666666667px #ff0080, 33px -318.6666666667px #ff0091, -43px 44.3333333333px #ffa600, 5px -257.6666666667px #ffb700, -13px -203.6666666667px #99ff00, -143px -292.6666666667px #00a6ff, 6px -259.6666666667px #5eff00, 23px -55.6666666667px #9900ff, -60px -238.6666666667px #00b3ff, 160px -10.6666666667px #80ff00, 212px -385.6666666667px #004dff;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: 118px -95.6666666667px #11ff00, 209px -412.6666666667px #ff1500, 235px -95.6666666667px #00ff8c, -219px -373.6666666667px #d9ff00, -83px -296.6666666667px #0400ff, 216px -23.6666666667px #ff8800, 3px -103.6666666667px #0091ff, -243px -105.6666666667px #00d0ff, -63px -68.6666666667px #00ff44, -227px -320.6666666667px #f700ff, -211px -355.6666666667px #ff00c8, 169px -195.6666666667px #00ffd5, 43px -102.6666666667px #00a6ff, 117px -12.6666666667px #00ff40, 187px -188.6666666667px #ff0091, -83px 2.3333333333px #007bff, -92px -399.6666666667px #f700ff, -1px -47.6666666667px #00ffdd, -139px -70.6666666667px #ff009d, -151px -6.6666666667px #b7ff00, 231px -208.6666666667px #ff0044, 232px 12.3333333333px #ff4000, -247px -146.6666666667px #00ff99, 228px -82.6666666667px #ff006f, -203px -213.6666666667px #fb00ff, -29px -94.6666666667px yellow, -85px -197.6666666667px #ff2600, 129px -152.6666666667px #ffaa00, -143px -194.6666666667px #0051ff, -6px -381.6666666667px #00ff66, -177px -275.6666666667px #37ff00, 199px -304.6666666667px #e600ff, -215px -381.6666666667px #ff001e, -124px -210.6666666667px #3300ff, 93px -176.6666666667px #ff0066, 24px -230.6666666667px #2200ff, 102px -288.6666666667px #ff2f00, 128px -396.6666666667px #000dff, -144px -57.6666666667px #ff0022, 94px 61.3333333333px #0d00ff, 149px -414.6666666667px #ff0080, 33px -318.6666666667px #ff0091, -43px 44.3333333333px #ffa600, 5px -257.6666666667px #ffb700, -13px -203.6666666667px #99ff00, -143px -292.6666666667px #00a6ff, 6px -259.6666666667px #5eff00, 23px -55.6666666667px #9900ff, -60px -238.6666666667px #00b3ff, 160px -10.6666666667px #80ff00, 212px -385.6666666667px #004dff;
    }
  }
  @keyframes bang {
    to {
      box-shadow: 118px -95.6666666667px #11ff00, 209px -412.6666666667px #ff1500, 235px -95.6666666667px #00ff8c, -219px -373.6666666667px #d9ff00, -83px -296.6666666667px #0400ff, 216px -23.6666666667px #ff8800, 3px -103.6666666667px #0091ff, -243px -105.6666666667px #00d0ff, -63px -68.6666666667px #00ff44, -227px -320.6666666667px #f700ff, -211px -355.6666666667px #ff00c8, 169px -195.6666666667px #00ffd5, 43px -102.6666666667px #00a6ff, 117px -12.6666666667px #00ff40, 187px -188.6666666667px #ff0091, -83px 2.3333333333px #007bff, -92px -399.6666666667px #f700ff, -1px -47.6666666667px #00ffdd, -139px -70.6666666667px #ff009d, -151px -6.6666666667px #b7ff00, 231px -208.6666666667px #ff0044, 232px 12.3333333333px #ff4000, -247px -146.6666666667px #00ff99, 228px -82.6666666667px #ff006f, -203px -213.6666666667px #fb00ff, -29px -94.6666666667px yellow, -85px -197.6666666667px #ff2600, 129px -152.6666666667px #ffaa00, -143px -194.6666666667px #0051ff, -6px -381.6666666667px #00ff66, -177px -275.6666666667px #37ff00, 199px -304.6666666667px #e600ff, -215px -381.6666666667px #ff001e, -124px -210.6666666667px #3300ff, 93px -176.6666666667px #ff0066, 24px -230.6666666667px #2200ff, 102px -288.6666666667px #ff2f00, 128px -396.6666666667px #000dff, -144px -57.6666666667px #ff0022, 94px 61.3333333333px #0d00ff, 149px -414.6666666667px #ff0080, 33px -318.6666666667px #ff0091, -43px 44.3333333333px #ffa600, 5px -257.6666666667px #ffb700, -13px -203.6666666667px #99ff00, -143px -292.6666666667px #00a6ff, 6px -259.6666666667px #5eff00, 23px -55.6666666667px #9900ff, -60px -238.6666666667px #00b3ff, 160px -10.6666666667px #80ff00, 212px -385.6666666667px #004dff;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(50px);
      -moz-transform: translateY(50px);
      -webkit-transform: translateY(50px);
      -o-transform: translateY(50px);
      -ms-transform: translateY(50px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(50px);
      -moz-transform: translateY(50px);
      -webkit-transform: translateY(50px);
      -o-transform: translateY(50px);
      -ms-transform: translateY(50px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(50px);
      -moz-transform: translateY(50px);
      -webkit-transform: translateY(50px);
      -o-transform: translateY(50px);
      -ms-transform: translateY(50px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(50px);
      -moz-transform: translateY(50px);
      -webkit-transform: translateY(50px);
      -o-transform: translateY(50px);
      -ms-transform: translateY(50px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(50px);
      -moz-transform: translateY(50px);
      -webkit-transform: translateY(50px);
      -o-transform: translateY(50px);
      -ms-transform: translateY(50px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }

 


/*  */