.cust-table{
    background: transparent !important;
}
.table thead tr {
    background: #ffffff !important;
}
.item-btn{
    width: 30px;
    height: 30px;
    line-height: 15px;
    display: inline-block;
    padding: 8px 12px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.redRow td {
    border-top: 1px solid rgb(249, 28, 0) ;
    border-bottom: 1px solid rgb(249, 28, 0) ;
}
.redRow td:first-child {
    border-left: 1px solid rgb(249, 28, 0) ;
}
.redRow td:last-child {
    border-right: 1px solid rgb(249, 28, 0) ;
}

.greenRow td {
    border-top: 1px solid #02ca02 ;
    border-bottom: 1px solid #02ca02 ;
}
.greenRow td:first-child {
    border-left: 1px solid #02ca02 ;
}
.greenRow td:last-child {
    border-right: 1px solid #02ca02 ;
}

.greyRow td  {
    /* border-top: 1px solid grey ;
    border-bottom: 1px solid grey ; */
}
/* .cust-table th:nth-child(3){
    width:75px;
}
.cust-table th:nth-child(4){
    width:55px;
} */
.table thead th{
    position: sticky !important;
    top: 0px;
    background: #ffffff;
    z-index: 1;
}
.item-table-height{
    max-height: 375px;
}