<div class="dialog-content header-popup">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-4 ">
                <mat-form-field class="full-width">
                    <mat-label>Auction Name</mat-label>
                    <input matInput [value]="basicinfodata?.auctionName" autocomplete="off" disabled>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="full-width">
                    <mat-label>Auction ID</mat-label>
                    <input matInput [value]="basicinfodata?.auctionID" autocomplete="off" disabled >  
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="full-width">
                    <mat-label>Auction Type</mat-label>
                    <input matInput [value]="basicinfodata?.type" autocomplete="off"  disabled>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field class="full-width">
                    <mat-label>description</mat-label>
                    <input matInput [value]="basicinfodata?.description"autocomplete="off" disabled >
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput [value]="(contact_info?.name.firstname)+ (contact_info?.name.lastname)"
                        autocomplete="off"  disabled>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="full-width">
                    <mat-label>Contact No</mat-label>
                    <input matInput [value]=" contact_info?.mobile " autocomplete="off" disabled>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput [value]="contact_info?.email" autocomplete="off" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <mat-label>Start Date</mat-label>
                    <input matInput [value]="basicinfodata?.startDate | date:'dd/MM/yyyy HH:mm'" autocomplete="off" disabled>
                </mat-form-field>

            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <mat-label>End Date</mat-label>
                    <input matInput [value]="basicinfodata?.endDate | date:'dd/MM/yyyy HH:mm'" autocomplete="off" disabled>
                </mat-form-field>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="full-width">
                    <mat-label>Grace Period (minutes)</mat-label>
                    <input matInput [value]="convert_grace" autocomplete="off"  disabled>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="full-width">
                    <mat-label>Extention Time (minutes)</mat-label>
                    <input matInput [value]="convert_exeTime" autocomplete="off" disabled>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="full-width">

                    <mat-label *ngIf="!(basicinfodata?.minBidChangeType=='percentage')">Minimum Bid Change</mat-label>
                    <mat-label *ngIf="(basicinfodata?.minBidChangeType=='percentage')">Minimum Bid Change (%)</mat-label>
                    <input matInput [value]="basicinfodata?.minBidChangeValue" autocomplete="off" disabled>
                    <span  matSuffix *ngIf="basicinfodata?.minBidChangeValue">{{currencyCode}}</span>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="full-width">
                    <mat-label>Bid Information Shown to Participant </mat-label>
                    <input matInput [value]="basicinfodata?.infoShownToSupplier" autocomplete="off" disabled>
                </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="authService.roleName != 'supplier'">
                <mat-form-field class="full-width">
                    <mat-label>Best Bid Information Shown Based On
                    </mat-label>
                    <input matInput [value]="basicinfodata?.bestBidInfoShownBy" autocomplete="off" disabled>
                </mat-form-field>
            </div>            
            <div class="col-md-4">
                <mat-form-field class="full-width">
                    <mat-label>Bid Cushion Limit</mat-label>
                    <input *ngIf="basicinfodata?.type =='reverse'" matInput [value]="basicinfodata?.bidCushionTypeLowerLimit" autocomplete="off" disabled>
                    <input *ngIf="basicinfodata?.type !='reverse'" matInput [value]="basicinfodata?.bidCushionTypeUpperLimit" autocomplete="off" disabled>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <button mat-stroked-button color="primary" class="attbut" type="button" (click)="onAttachDocument(basicinfodata?.attachmentList)">
                    <i class="fa fa-paperclip" aria-hidden="true"></i> Attach Document ({{basicinfodata?.attachmentList.length}})
                </button>
            </div>
        </div>



    </div>
</div>