<div class="border-bottom mb-3">
	<mat-accordion *ngIf="showSearch">
		<mat-expansion-panel class="mb-3">
			<mat-expansion-panel-header>
				<mat-panel-title class="whitefont">
					Search
				</mat-panel-title>                            
			</mat-expansion-panel-header>
			<div class="row mt-3 font14">
				<div class="col-md-12">
					<mat-form-field class="full-width">
						<input [readonly]="auctionReadOnly" matInput placeholder="MMCS"  [(ngModel)]="searchTerm" name="searchTerm" >
					</mat-form-field>
				</div>
				<div class="col-md-12 text-right mb-3">
					<button [disabled]="auctionReadOnly" mat-flat-button class="btn-blue" (click)="searchMmcs()" > Search </button>
				</div>


				<!-- MMCS RESULT -->
				<div class="col-md-12" *ngIf="searchResult.length>0">
					<div class="row">
						<div class="col-md-12 border-top pt-3">
							<div class="flex-ends pb-2">
								<div class="bold bluefont font14"> Items </div>
								<div class=""> Select All <mat-checkbox [(ngModel)]="allChecked" (change)="selectAll($event)" style="vertical-align: sub;"></mat-checkbox>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="border-card border-blue mb-3"  *ngFor="let item of searchResult; let index = index">
								<div class="flex-ends p-2 graybg">
									<div>
										<div class="bold font14"> Material Code </div>
										<div class="font14"> {{item.sapcode}} </div>
									</div>
									<div class="">
										<mat-checkbox  [(ngModel)]="item.checked"    (change)="selectOne($event, index)"></mat-checkbox>
									</div>
								</div>
								<!-- Short desc and UOM -->
								<div class="flex-ends px-2 pt-2 font13">
									<div class="">
										<div class="darkgrayfont bold "> Material Description</div>
										<div class=" "> {{item.nvchabbrevdesc}} </div>
									</div>
									<div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
									<div class="">
										<div class="darkgrayfont bold "> Base Unit</div>
										<div class=" ">{{item.uomCode}} </div>
									</div>
								</div>
								<!-- More/less button ... -->
								<div class="text-right px-2">
									<button class="header-sm-btn bluefont " *ngIf="!item.more" (click)="item.more = true">
										More...
									</button>                                            
									<button class="header-sm-btn bluefont " *ngIf="item.more" (click)="item.more = false">
										Less...
									</button>
								</div>
								<!--  Long description -->
								<mmcs-long-desc 
									*ngIf=" item.more && (item.characteristics.length > 0 || item.longdesc)" [companyReferences]="item.companyReferences"
									[mmcsCharacteristics]="item.characteristics" [mmcsLongDesc]="item.longdesc"
									style="display: block;max-height: 200px;overflow: auto;margin: 5px 0 25px 0;border: 1px solid #dee2e6;padding: 7px;">
								</mmcs-long-desc>
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
</div>