<div class="row" *ngIf="tab==='bidAll'">
<div class="col-md-3">
    <mat-form-field class="full-width">
        <mat-label>Bid All</mat-label>
        <input matInput autocomplete="off" [decimalValue]="auctionData.currencyDecimalPlace" [(ngModel)]="aucAmount"
            (keyup)="textValidationAuc($event.target.value);" numberDecimal>
        <span matSuffix>%</span>
    </mat-form-field>
</div>
<div class="col-md-3">
    <button class="btn btn-success btn-sm mr-2" (click)="saveCalculate();" [disabled]="aucAmount.length==0 || calculateDisable"> Calculate
    </button>
</div>
</div>
<div style="margin-top:-5px;">
  <table class="table cust-table spacer-table">
      <thead>
          <tr>
              <th scope="col">{{((tab==='bidAll')?'Lot/':'')+'Item Name'}}</th>
              <th scope="col">Reliance Quantity</th>
              <th scope="col">Minimum Bid Change</th>
              <th scope="col">Currency</th>
              <th scope="col">Unit Cost</th>
              <th scope="col">Total Unit Cost</th>
              <!-- Temporarily commented -->
              <!-- <th scope="col" *ngIf="landedFlag">Landed Cost</th>
              <th scope="col"  *ngIf="landedFlag">Total Landed Cost</th> -->
            </tr>

      </thead>

      <!-- table view start -->
      <tbody *ngFor="let item of dialogData">
          <tr>
              <td>{{((tab==='bidAll')?(item.lotName+'/'):'')+item.itemName}}</td>
              <td>{{item.minimumDesiredQuantity}}</td>
              <td>
                <span *ngIf="!item.minimumChangeValue">
                  <span *ngIf="auctionData && auctionData.minBidChangeValue">
                    {{(auctionData.minBidChangeValue/biddingCurrency.exchangeRate).toFixed(auctionData.currencyDecimalPlace)}}
                  </span>
                  {{ ((auctionData?.minBidChangeType=='amount')?'':'%')}}
                </span>
                <span *ngIf="item.minimumChangeValue">
                  <span *ngIf="auctionData">
                    {{(item.minimumChangeValue/biddingCurrency.exchangeRate).toFixed(auctionData.currencyDecimalPlace)}}
                  </span>
                    {{((item.minChangeType=='amount')?'':'%')}}
                </span>
              </td>
              <td>{{(!item.currency)?supplierData.supplierCurrency.currencyCode:item.currency}}</td>
              <td>{{(((!item.amount)?item.baseCost:item.amount))|filter:[]:0:null:null:null:null:null:auctionData.currencyDecimalPlace}}</td>
              <td>{{((item.minimumDesiredQuantity *((!item.amount)?item.baseCost:item.amount)))|filter:[]:0:null:null:null:null:null:auctionData.currencyDecimalPlace}}</td>
              <!-- Temporarily commented -->
              <!-- <td  *ngIf="landedFlag">{{item.landedCost|filter:[]:0:null:null:null:null:null:auctionData.currencyDecimalPlace}}</td>
              <td *ngIf="landedFlag">{{item.totalLandedCost|filter:[]:0:null:null:null:null:null:auctionData.currencyDecimalPlace}}</td> -->

         </tr>
      </tbody>
      <tbody *ngIf="tab==='bidAll'">
        <tr class="bold" style="background: #d8d8d8;">
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{totalItemCost |filter:[]:0:null:null:null:null:null:auctionData.currencyDecimalPlace}}</td>
            <!-- Temporarily commented -->
            <!-- <td *ngIf="landedFlag"></td>
            <td *ngIf="landedFlag"></td> -->
        </tr>
      </tbody>
      <!-- tree view end -->
  </table>
</div>
