.file-attachment{
    border: 2px dashed #c5c5c5;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.file-attachment:hover {
    background: #f9f9f9;
}

.attachment-input{
    position: absolute;
    top: -50px;
    left: 0;
    height: 200px;
    width: 100%;
    cursor: pointer;
}
.attachment-txt-block{
    padding-left: 90px;
    width: 240px;
    margin: 0 auto;
    background: url('../../../../assets/images/upload.png') no-repeat 15px 2px;
    background-size: 60px;
}
.dndtext{
    font-size: 26px;
    color: #545454;
    display: block;
    margin-bottom: 2px;
}
.dndtxtalt{
    font-size: 15px;
    color: #a0a0a0;
}
.del-size{
    width: 95px;
    text-align: right;
    border-left: 1px solid #d6d6d6;
    min-height: 35px;
}
.item-detail-height{
    height: calc(100vh - 142px);
    overflow: auto;
}

.greenMail {    
    margin: 3px;
    padding: 0px;
    font-size: 19px;
    color: #04c304;
}

.greyMail {    
    margin: 3px;
    padding: 0px;
    font-size: 19px;
    color: #807e7e;
}