<span *ngIf="columnName == 'Best Bid Unit Rate' && itemData && itemData.bids.length>0">
    {{auctionData.primaryCurrencyNew.currencyCode}} {{itemData.bids[0].data.baseCostPrimary | number: '.0-'+decimalPlace}} 
    <br *ngIf="itemData.currencyCode && itemData.currencyCode != auctionData.primaryCurrencyNew.currencyCode">
    <span  *ngIf="itemData.currencyCode && itemData.currencyCode != auctionData.primaryCurrencyNew.currencyCode" style="color: brown;">{{itemData.currencyCode}} {{showBestUnitRate()  | number: '.0-'+decimalPlace}}</span>
</span>
<span *ngIf="columnName == 'Best Bid Total Value' && itemData && itemData.bids.length>0"> 
    {{auctionData.primaryCurrencyNew.currencyCode}} {{itemData.bids[0].data.totalBaseCostPrimary | number: '.0-'+decimalPlace}} 
    <br *ngIf="itemData.currencyCode && itemData.currencyCode != auctionData.primaryCurrencyNew.currencyCode">
    <span *ngIf="itemData.currencyCode && itemData.currencyCode != auctionData.primaryCurrencyNew.currencyCode" style="color: brown;">{{itemData.currencyCode}} {{showBestTotalvalue() | number: '.0-'+decimalPlace}} </span>
</span>

<span *ngIf="columnName == 'Best Bid Total Value Lot Level' && itemData.singleSourceLandedAtEveryLevel"> 
    {{auctionData.primaryCurrencyNew.currencyCode}} {{itemData.singleSourceLandedAtEveryLevel | number: '.0-'+decimalPlace}}
</span>

<span *ngIf="columnName == 'Best Bid Unit Rate BidHistory'  && itemData">   
    {{auctionData.primaryCurrencyNew.currencyCode}} {{itemData.baseCostPrimary | number: '.0-'+auctionData.decimalPlace}}
     <br *ngIf="itemData.supplierCurrency != auctionData.primaryCurrencyNew.currencyCode">
    <span *ngIf="itemData.supplierCurrency != auctionData.primaryCurrencyNew.currencyCode" style="color: brown;">{{itemData.supplierCurrency}} {{showBestUnitRateBidHistory() | number: '.0-'+auctionData.decimalPlace}} </span>
</span>

<span *ngIf="columnName == 'Best Bid Total Value BidHistory'  && itemData"> 
    {{auctionData.primaryCurrencyNew.currencyCode}} {{itemData.totalBaseCostPrimary | number: '.0-'+auctionData.decimalPlace}}
    <br *ngIf="itemData.supplierCurrency != auctionData.primaryCurrencyNew.currencyCode">
    <span *ngIf="itemData.supplierCurrency != auctionData.primaryCurrencyNew.currencyCode" style="color: brown;">{{itemData.supplierCurrency}} {{showBestTotalvalueBidHistory() | number: '.0-'+auctionData.decimalPlace}} </span>
</span>
