<div class="row" *ngIf="!supplierUser" style="justify-content: space-evenly;">
	<!-- SUPPLIER NAME -->
	<div style="margin: auto 15px;">
		<mat-form-field class="full-width">
			<mat-label>Supplier Name</mat-label>
			<input matInput disabled [value]="displaySupplier.supplierName1">
		</mat-form-field>
	</div>
	<!-- SUPPLIER ID-->
	<div style="margin: auto 15px;">
		<mat-form-field class="full-width">
			<mat-label>Supplier ID</mat-label>
			<input matInput disabled [value]="displaySupplier.supplierID">
		</mat-form-field>
	</div>
	<!-- ADDITION FACTOR -->
	<!-- <div *ngIf="afMfEnabled" style="margin: auto 15px;width: 165px;">
		<mat-form-field class="full-width">
		  <mat-label>Addition Factor</mat-label>
		  <input matInput [readonly]="auctionReadOnly" [(ngModel)]="addFactor" [(decimalValue)]="auctionData.decimalPlace" numberDecimal [disabled]="!displayFlag">
		  <span matSuffix>{{auctionData.primaryCurrency?.currencyCode}}</span>
		</mat-form-field>
	</div> -->
	<!-- MULTIPLICATION FACTOR -->
	<!-- <div *ngIf="afMfEnabled" style="margin: auto 15px;width: 125px;">
		<mat-form-field class="full-width">
			<mat-label>Multiplication Factor</mat-label>
			<input matInput [readonly]="auctionReadOnly" [(ngModel)]="mulFactor" (keyup)="acceptPercent($event)" [(decimalValue)]="auctionData.decimalPlace"
				numberDecimal [disabled]="!displayFlag">
			<span matSuffix>%</span>
		</mat-form-field>
		<div *ngIf="errorFlag" class="invalid">
		  Total percentage of benefits to be paid is greater than 100%
		</div>
	</div> -->
	<!-- CURRENCY -->
	<div style="margin: auto 15px;">
		<mat-form-field class="full-width">
			<mat-label>Currency</mat-label>
			<mat-select disableOptionCentering [(ngModel)]="selectBidCurrency" [disabled]="!displayFlag || auctionReadOnly">
				<mat-option *ngFor="let bidding of auctionData.currency" [value]="bidding">
				{{bidding.currencyName}}({{bidding.currencyCode}})
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<!-- EXCHANGE RATE -->
	<div *ngIf="multipleCurrencyAuction" style="width: 120px;margin: auto 15px;">
		<mat-form-field class="full-width">
			<mat-label>Exchange Rate</mat-label>
			<input matInput [(ngModel)]="selectBidCurrency.exchangeRate" [disabled]="!displayFlag || auctionReadOnly">
			<span matSuffix>{{selectBidCurrency.currencyCode}}</span>
		</mat-form-field>
  </div>
  <!-- Calculate -->
	<!-- <div class="actions-area px-3 py-2 text-right whitebg" *ngIf="!supplierUser && !common.auctionLeader.host && afMfEnabled">
		<button class="btn btn-success btn-sm mr-2" (click)="saveCalculate();" [disabled]="!displayFlag || errorFlag  || auctionReadOnly">
      Calculate 
    </button>
  </div> -->
</div>

<div class=" p-2">
  <table class="table cust-table spacer-table">
    <thead>
      <tr>
        <th scope="col">Sr.No.</th>
        <th scope="col" width="300">Item Name</th>
        <th scope="col">Item Code</th>
        <th scope="col" *ngIf="!(selectCurrency.currencyCode==(supplierUser?auctionData.primaryCurrency:auctionData.primaryCurrency.currencyCode) )">Cost
          weightage</th>
        <th scope="col">Reliance Quantity</th> 
        <th scope="col">UOM</th> 
        <th scope="col">Currency</th>
        <th scope="col">My Unit Cost({{(supplierUser)?selectCurrency.currencyCode:bidData.currency.currencyCode}})</th>
        <th scope="col">My Total Unit
          Cost({{(supplierUser)?selectCurrency.currencyCode:bidData.currency.currencyCode}})</th>
        <th scope="col" *ngIf="!(selectCurrency.currencyCode==(supplierUser?auctionData.primaryCurrency:auctionData.primaryCurrency.currencyCode) )">Landed
          Unit Rate({{(supplierUser)?selectCurrency.currencyCode:auctionData.primaryCurrency.currencyCode}})</th>
        <th scope="col" *ngIf="!(selectCurrency.currencyCode==(supplierUser?auctionData.primaryCurrency:auctionData.primaryCurrency.currencyCode)  )">Total
          Landed Cost({{(supplierUser)?selectCurrency.currencyCode:auctionData.primaryCurrency.currencyCode}})</th>
        <th scope="col" style="border-right:0" *ngIf="status && !supplierUser"></th>
        <!-- <th scope="col" style="width: 100px;border-right:0" *ngIf="status"></th> -->
        <th scope="col" *ngIf="status && !supplierUser"></th>
      </tr>
    </thead>
    <tbody *ngFor="let lot of preliminaryData;let i = index">
      <tr>
        <td>{{i+1}}</td>
        <td class="bold" style="cursor: pointer;">
          <a href="javascriptt:void(0)" (click)="lotclick(i)" title="{{lot.lotName}}">
            <!-- (i+1)+'. '+ -->
            {{lot.lotName}}
          </a>
        </td>
        <td></td>
        <td *ngIf="!(selectCurrency.currencyCode==(supplierUser?auctionData.primaryCurrency:auctionData.primaryCurrency.currencyCode)  )"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td *ngIf="!(selectCurrency.currencyCode==(supplierUser?auctionData.primaryCurrency:auctionData.primaryCurrency.currencyCode)  )"></td>
        <td *ngIf="!(selectCurrency.currencyCode==(supplierUser?auctionData.primaryCurrency:auctionData.primaryCurrency.currencyCode)   )"></td>
        <td *ngIf="status && !supplierUser && !common.auctionLeader.host"></td>
        <!-- <td *ngIf="status">
        </td> -->
        <td *ngIf="status && !supplierUser && !common.auctionLeader.host"></td>
      </tr>
      <tr *ngFor="let item of lot.items;let itemI=index">
        <td style="padding-left: 20px;">{{itemI+1}}</td>
        <td style="padding-left: 20px;">
          <div title="{{item.itemName}}">
            <!-- (itemI+1)+'. '+ -->
            {{item.itemName}}
          </div>
        </td>
        <td>{{item.itemCode}}</td>
        <td *ngIf="!(selectCurrency.currencyCode==(supplierUser?auctionData.primaryCurrency:auctionData.primaryCurrency.currencyCode)  )">{{((item.itemWeight)?item.itemWeight:'0.00')+'
          %'}}</td>
        <td> {{item.minimumDesiredQuantity}}</td>
        <td> {{item.unitOfMeasure === "m" ? "Meter":(item.unitOfMeasure === "kg" ?
          "KiloGram" : (item.unitOfMeasure === "EA" ? "Each" :
          item.unitOfMeasure))}}</td>
        <td>{{selectCurrency.currencyCode}}</td>
        <td> {{item.bestBid |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace}}</td>
        <td>{{item.totalBestBid |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace }}</td>

        <td *ngIf="!(selectCurrency.currencyCode==(supplierUser?auctionData.primaryCurrency:auctionData.primaryCurrency.currencyCode) )">
          {{item.landedUnitRate |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace}}</td>
        <td *ngIf="!(selectCurrency.currencyCode==(supplierUser?auctionData.primaryCurrency:auctionData.primaryCurrency.currencyCode)  )">{{item.totalLandedCost
          |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace }}</td>

        <td *ngIf="status  && !supplierUser && !common.auctionLeader.host">
          <div>
            <input [readonly]="auctionReadOnly" [decimalValue]="auctionData.decimalPlace" autocomplete="off" placeholder="Unit Rate" (keyup)="onTextChange(item)"
              [disabled]="!item.itemID" [(ngModel)]="item.amount" numberDecimal class="px-2">
          </div>
        </td>
        <td *ngIf="status  && !supplierUser && !common.auctionLeader.host">
          <div>
            <button class="mr-2" type="button" mat-icon-button [disabled]="!item.itemID || item.flag  || auctionReadOnly"
              matTooltipPosition="below" (click)="onSaveClick(item)" matTooltip="Bid">
              <i class="fa fa-gavel"></i>
            </button>
            <button type="button" mat-icon-button matTooltip="Delete" (click)="deletPreliminaryBids(item)" [disabled]="!item.bestBid  || auctionReadOnly"
              matTooltipPosition="below">
              <i class="fa fa-trash"></i>
            </button>
            <button *ngIf="!item.itemID" matTooltip="Item not save it." class="header-sm-btn mr-1 redfont">
              <i class="fas fa-info-circle"> </i>
            </button>
          </div>
        </td>

      </tr>
    </tbody>
    <tbody>
      <tr>
        <td style="padding-left: 20px;" colspan="2">Total Value</td>

        <td></td>
        <td *ngIf="!(selectCurrency.currencyCode==(supplierUser?auctionData.primaryCurrency:auctionData.primaryCurrency.currencyCode)  )"></td>
        <td> </td>
        <td > </td>
        <td></td>
        <td> <span *ngIf="false">{{total.baseCost |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace}}</span></td>
        <td> {{total.variableCost |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace}}</td>

        <td *ngIf="!(selectCurrency.currencyCode==(supplierUser?auctionData.primaryCurrency:auctionData.primaryCurrency.currencyCode) )">
          {{total.landedCost |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace}}
        </td>
        <td *ngIf="!(selectCurrency.currencyCode==(supplierUser?auctionData.primaryCurrency:auctionData.primaryCurrency.currencyCode)  )">
          {{total.totalLandedCost |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace}}
        </td>

        <td *ngIf="status  && !supplierUser && !common.auctionLeader.host">
        </td>
        <td *ngIf="status  && !supplierUser && !common.auctionLeader.host">
        </td>
      </tr>
    </tbody>
  </table>
</div>