<div class="table-responsive matrix_height">
  <table *ngIf="dataSource && bidService.displayedColumn" class="table cust-table spacer-table footable mb-5" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell style="width: 180px;" *matHeaderCellDef> Auction/Lot/Item </th>
      <td style="word-wrap: break-word;" mat-cell *matCellDef="let element" [hidden]="element.type=='item'?!element.expand:false" [ngStyle]="{'background':getColor(element.type)}">
        <div class="bold pointer bluefont" *ngIf="element.type=='lot'" (click)="lotClick(element.data.lotID);">
          <span *ngIf="element.data.name && element.data.name.length>80">
            {{element.data.name | slice:0:80}} <span matTooltip="{{element.data.name}}">...</span>
          </span>
          <span *ngIf="element.data.name && element.data.name.length<80">
            {{element.data.name}}
          </span>
          <i [class]="!element.expand?'fa fa-arrow-down':'fa fa-arrow-up'"></i>
        </div>
        <div *ngIf="element.type!='lot'" [ngClass]="{'bold':element.type === 'event'}">
          <span *ngIf="element.data.name && element.data.name.length>80">
            {{element.data.name | slice:0:80}} <span matTooltip="{{element.data.name}}">...</span>
          </span>
          <span *ngIf="element.data.name && element.data.name.length<80">
            {{element.data.name}}
          </span>
        </div>
      </td>

      <td style="font-weight:bold;" mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>
    <ng-container matColumnDef="itemCode">
      <th mat-header-cell *matHeaderCellDef style="width: 100px;">Item Code </th>
      <td mat-cell *matCellDef="let element" [hidden]="element.type=='item'?!element.expand:false" [ngStyle]="{'background':getColor(element.type)}">
        {{element.data.item?.itemCode}} </td>
      <td mat-footer-cell *matFooterCellDef style="font-weight:bold;"> </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell style="width: 70px;" *matHeaderCellDef>Reliance Quantity </th> 
      <td mat-cell *matCellDef="let element" [hidden]="element.type=='item'?!element.expand:false" [ngStyle]="{'background':getColor(element.type)}">
        {{element.minimumDesiredQuantity}} </td>
      <td mat-footer-cell *matFooterCellDef style="font-weight:bold;"> </td>
    </ng-container>

    <ng-container matColumnDef="unitMeasure">
      <th mat-header-cell style="width: 100px;" *matHeaderCellDef> UOM </th>
      <td mat-cell *matCellDef="let element" [hidden]="element.type=='item'?!element.expand:false" [ngStyle]="{'background':getColor(element.type)}">{{element.unitMeasure}}
      </td>
      <td mat-footer-cell *matFooterCellDef style="font-weight:bold;"> </td>
    </ng-container>

    <ng-container matColumnDef="baselineUnit">
      <th mat-header-cell *matHeaderCellDef style="width: 150px;"> Historical Unit Rate </th>
      <td mat-cell *matCellDef="let element" [hidden]="element.type=='item'?!element.expand:false" [ngStyle]="{'background':getColor(element.type)}">
        {{(element.data.item)?(element.data.item.historicalCost?(element.data.item.historicalCost|filter:[]:null:null:null:null:null:null:decimalplace):'NA'):''}}
      </td>
      <td mat-footer-cell *matFooterCellDef style="font-weight:bold;">
      </td>
    </ng-container>

    <ng-container matColumnDef="baseline">
      <th mat-header-cell *matHeaderCellDef style="width: 150px;"> Historical Total Value </th>
      <td mat-cell *matCellDef="let element" [hidden]="element.type=='item'?!element.expand:false" [ngStyle]="{'background':getColor(element.type)}">
        {{element.data.baseline|filter:[]:null:null:null:null:null:null:decimalplace}} </td>
      <td mat-footer-cell *matFooterCellDef style="font-weight:bold;">
        {{totalValue.data.baseline|filter:[]:null:null:null:null:null:null:decimalplace}}
      </td>
    </ng-container>

    <ng-container matColumnDef="startPrice">
      <th mat-header-cell *matHeaderCellDef style="width: 150px;"> Start Price </th>
      <td mat-cell *matCellDef="let element" [hidden]="element.type=='item'?!element.expand:false" [ngStyle]="{'background':getColor(element.type)}">
        {{(element.data.item)?(element.data.item.startPrice?(element.data.item.startPrice|filter:[]:null:null:null:null:null:null:decimalplace):'NA'):''}}
      </td>
      <td mat-footer-cell *matFooterCellDef style="font-weight:bold;">
      </td>
    </ng-container>

    <ng-container *ngFor="let supplier of supplierDtls; let colIndex = index" matColumnDef="{{supplier.supplierID}}">
      <th mat-header-cell *matHeaderCellDef>
        <div class="text-center">
          {{getSupplierName(supplier) | slice:0:30}} <span *ngIf="getSupplierName(supplier).length>30" matTooltip="{{getSupplierName(supplier)}}">...</span>
        </div>
        <!-- <div class="text-center">{{type=='forward'?'H':'L'}}{{buyerData[0].rank|
          filter:buyerData[0].bids:2:'event':supplier.supplierID}}</div> -->

      </th>
      <td style="padding: 0 !important;" mat-cell *matCellDef="let element" [ngStyle]="{'background':getColor(element.type)}" [hidden]="element.type=='item'?!element.expand:false">
        <table *ngIf="element.type=='event'" class="inner-table text-center">
         
            <tr [ngStyle]="{'background':getColor(element.type)}" *ngIf="!issealedBidDis"
              [ngClass]="{'greenbg':((element.data.rank|
                        filter:element.data.bids:2:'event':supplier.supplierID)==1 && bidService.BestBidInformationShownBasedOn.key)}">
              <td colspan="2">
                <div class="bold py-1 text-center">
                  <div *ngIf="auctionData.currency.length>1" class="bold py-1 text-center" title="Total Event Cost">
                    {{((auctionData.primaryCurrency)?(auctionData.primaryCurrency+'
              '):'')+(element.data.totalLandedEventCost |
              filter:
              element.data.bids:1:'event':supplier.supplierID:null:null:null:decimalplace)}}
            
                  </div>
                  <div *ngIf="!(auctionData.currency.length>1)" class="" title="Total Event Cost">
                    {{((auctionData.primaryCurrency)?(auctionData.primaryCurrency+'
              '):'')+(element.data.totalLandedEventCost |
              filter:
              element.data.bids:11:'event':supplier.supplierID:null:null:null:decimalplace)}}
                  </div>
                </div>
              </td>
            </tr>
          <tr [ngStyle]="{'background':getColor(element.type)}">
            <td [ngClass]="{'greenbg':((element.data.rank|
            filter:element.data.bids:2:'event':supplier.supplierID)==1)}" *ngIf="bidService.BestBidInformationShownBasedOn.key && !issealedBidDis">
              <div [ngClass]="{'flex-between':!(auctionData.currency.length>1)}">
                <div [ngClass]="{
                  'matr':!(auctionData.currency.length>1),
                  'blink':((element.data.rank| filter:element.data.bids:2:'event':supplier.supplierID) == 1)}" title="Rank">{{element.data.rank|
                  filter:element.data.bids:2:'event':supplier.supplierID}}</div>
                <!-- <div *ngIf="!(auctionData.currency.length>1)" class="vertical-line align-self-stretch darkgraybg mx-2">
                </div> -->
                <!-- <div class="" title="Savings(%)">{{auc.baseline_saving_per|
                                  filter:auc.bids:1:'event':aucsup.supplierID:auc.baseline_INR:buyerData.type:decimalplace}}
                                </div> -->
                                
             <!-- Total Event Cost commented due to duplicate code -->
                <!-- <div *ngIf="!(auctionData.currency.length>1)" class="" title="Total Event Cost">
                  {{((auctionData.primaryCurrency)?(auctionData.primaryCurrency+'
                  '):'')+(element.data.totalLandedEventCost |
                  filter:
                  element.data.bids:11:'event':supplier.supplierID:null:null:null:decimalplace)}}

                </div> -->
                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
              </div>
            </td>
            <td [ngClass]="{'greenbg':((element.data.rank|
            filter:element.data.bids:2:'event':supplier.supplierID)==1 && !issealedBidDis && bidService.BestBidInformationShownBasedOn.key)}">
              <div class="bold" title="Number of Bids">
                {{element.data.count | filter: element.data.bids:3:'event':supplier.supplierID}}
              </div>
            </td>
          </tr>
         
        
          <!-- <tr [ngClass]="{'greenbg':((element.data.rank|
                          filter:element.data.bids:2:'event':supplier.supplierID)==1 && !issealedBidDis && bidService.BestBidInformationShownBasedOn.key)}">
            <td>
              <div class="bold" title="Number of Bids">
                {{element.data.count | filter: element.data.bids:3:'event':supplier.supplierID}}
              </div>
            </td>
          </tr> -->

        </table>
        <table *ngIf="element.type=='lot'" class="inner-table  text-center">
         
            <tr [ngStyle]="{'background':getColor(element.type)}" *ngIf="!issealedBidDis" [ngClass]="{'greenbg':((element.data.rank|
                            filter:element.data.bids:2:'lot':supplier.supplierID)==1 && bidService.BestBidInformationShownBasedOn.key)}">
            <td colspan="2">
              <div class="bold py-1 text-center">
                <div class="text-center" *ngIf="auctionData.currency.length>1" title="Total Lot Cost">{{((auctionData.primaryCurrency)?(auctionData.primaryCurrency+'
                  '):'')+(element.data.totalLandedLotCost | filter:
                  element.data.bids:1:'lot':supplier.supplierID:null:null:null:decimalplace)}}

                </div>
                <div class="" *ngIf="!(auctionData.currency.length>1)" title="Total Lot Cost">{{((auctionData.primaryCurrency)?(auctionData.primaryCurrency+'
                  '):'')+(element.data.totalLotCost | filter:
                  element.data.bids:11:'lot':supplier.supplierID:null:null:null:decimalplace)}}
                </div>
              </div>
            </td>
          </tr>
          <tr [ngStyle]="{'background':getColor(element.type)}">
            <td [ngClass]="{'greenbg':((element.data.rank|
            filter:element.data.bids:2:'lot':supplier.supplierID)==1)}" *ngIf="bidService.BestBidInformationShownBasedOn.key && !issealedBidDis">
              <div [ngClass]="{'flex-between':!(auctionData.currency.length>1)}">
                <div class="" [ngClass]="{'blink':((element.data.rank| filter:element.data.bids:2:'lot':supplier.supplierID) == 1)}" title="Rank">{{element.data.rank|
                  filter:element.data.bids:2:'lot':supplier.supplierID}}</div>
                <!-- <div *ngIf="!(auctionData.currency.length>1)" class="vertical-line align-self-stretch darkgraybg mx-2">
                </div> -->
                <!-- <div class="" ttitle="Savings(%)">{{lot.baseline_saving_per|
                                                  filter:lot.bids:1:'lot':lotsup.supplierID:lot.baseline_INR:buyerData.type:decimalplace}}
                              
                                                </div> -->
                <!-- Total Lot Cost commented due to duplicate code -->
                <!-- <div class="" *ngIf="!(auctionData.currency.length>1)" title="Total Lot Cost">{{((auctionData.primaryCurrency)?(auctionData.primaryCurrency+'
                  '):'')+(element.data.totalLotCost | filter:
                  element.data.bids:11:'lot':supplier.supplierID:null:null:null:decimalplace)}}

                </div> -->
                <div class="vertical-line align-self-stretch darkgraybg mx-2"></div>
              </div>
            </td>
            <td [ngClass]="{'greenbg':((element.data.rank|
            filter:element.data.bids:2:'lot':supplier.supplierID)==1 && !issealedBidDis && bidService.BestBidInformationShownBasedOn.key)}">
              <div class="">
                <div class="matr" title="Number of Bids">
                  {{element.data.count | filter: element.data.bids:3:'lot':supplier.supplierID}}
                </div>
              </div>
            </td>
          </tr>
          <!-- <tr [ngClass]="{'greenbg':((element.data.rank|
                            filter:element.data.bids:2:'lot':supplier.supplierID)==1 && !issealedBidDis && bidService.BestBidInformationShownBasedOn.key)}">
            <td>
              <div class="">
                <div class="matr" title="Number of Bids">
                  {{element.data.count | filter: element.data.bids:3:'lot':supplier.supplierID}}
                </div>
              </div>
            </td>
          </tr> -->
        </table>
        <table *ngIf="element.type=='item' && element.expand" class="inner-table">
          <tr [ngClass]="{'greenbg':((element.data.rank|
                              filter:element.data.bids:2:'item':supplier.supplierID)==1 && !issealedBidDis)}">
            <td>
              <div class="flex-between">
                <ng-container *ngIf="!issealedBidDis">
                <div class="" [ngClass]="{'blink':((element.data.rank|filter:element.data.bids:2:'item':supplier.supplierID) == 1)}" title="Rank">{{element.data.rank|
                  filter:element.data.bids:2:'item':supplier.supplierID}}</div>
                <div class="vertical-line align-self-stretch darkgraybg mx-2"> </div>
              </ng-container>
                <div *ngIf="!(auctionData.currency.length>1)" class="" title="Historical Savings(%)">
                  <ng-container *ngIf="!issealedBidDis; else seVal">
                    {{(!(element.data.item|baselineSavings:type:select_sav_bid:'per':supplier.supplierID) ?'NA':
                    (element.data.item|baselineSavings:type:select_sav_bid:'per':supplier.supplierID|filter:[]:0:null:null:null:null:null:decimalplace)+'%')}}
                   </ng-container>
                   <ng-template  #seVal>
                   {{element.data.item.historicalCost ? sService.isSealedbidSavingPerCal(element.data.item|baselineSavings:type:select_sav_bid:'per':supplier.supplierID): 'NA'}}
                   </ng-template>
                </div>

                <div *ngIf="auctionData.currency.length>1" class="" title="Unit Price in Vendor’s Currency">
                  {{element.data.baseCost |
                  filter:element.data.bids:0:'item':supplier.supplierID:null:null:null:decimalplace}}
                </div>
              </div>
            </td>
          </tr>
          <ng-container *ngIf="!issealedBidDis">
          <tr [ngClass]="{'greenbg':((element.data.rank|
                              filter:element.data.bids:2:'item':supplier.supplierID)==1)}">
            <td>
              <div class="bold py-1 text-center">
                <div *ngIf="auctionData.currency.length>1" [attr.title]="afMfEnabled ? 'Total Landed Cost' : 'Total Cost'">
                  {{((auctionData.primaryCurrency)?(auctionData.primaryCurrency+' '):'')+(element.data.totalLandedCost
                  |
                  filter:supplier.items:null:'totalLanded':null:null:null:null:decimalplace:element.data.itemID)}}

                </div>
                <div *ngIf="!(auctionData.currency.length>1)" title="Total Item Cost">
                  {{((auctionData.primaryCurrency)?(auctionData.primaryCurrency+' '):'')+(element.data.variableCost
                  |filter:element.data.bids:11:'item':supplier.supplierID:null:null:null:decimalplace)}}
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
          <tr [ngClass]="{'greenbg':((element.data.rank|
                              filter:element.data.bids:2:'item':supplier.supplierID)==1 && !issealedBidDis)}">
            <td>
              <div class="flex-between">
                <div class="matr" title="Number of Bids">
                  {{element.data.count | filter: element.data.bids:3:'item':supplier.supplierID}}
                </div>
                <ng-container *ngIf="!issealedBidDis">
                <div class="vertical-line align-self-stretch darkgraybg mx-2"> </div>
                <div *ngIf="auctionData.currency.length>1" class="text-center" [attr.title]="afMfEnabled ? 'Landed Unit Rate' : 'Unit Rate'">
                  {{((auctionData.primaryCurrency)?(auctionData.primaryCurrency+' '):'')+(element.data.landedUnitRate |
                  filter:supplier.items:null:'landed':null:null:null:null:decimalplace:element.data.itemID)}}

                </div>
                <div *ngIf="!(auctionData.currency.length>1)" class="text-center" title="Current Bid">
                  {{element.data.baseCost | filter:
                  element.data.bids:0:'item':supplier.supplierID:null:null:null:decimalplace}}
                </div>
              </ng-container>
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td mat-footer-cell *matFooterCellDef style="font-weight:bold;">
        <ng-container *ngIf="!issealedBidDis">
        {{((auctionData.primaryCurrency)?(auctionData.primaryCurrency+' '):'')+
        ((auctionData.currency.length>1)?(totalValue.totalLandedEventCost | filter:
        totalValue.data.bids:1:'event':supplier.supplierID:null:null:null:decimalplace):
        (totalValue.totalEventCost | filter:
        totalValue.data.bids:11:'event':supplier.supplierID:null:null:null:decimalplace))}}
      </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="bidders">
      <th mat-header-cell *matHeaderCellDef hidden="true"></th>
      <td mat-cell *matCellDef="let element" hidden="true"></td>
      <td mat-footer-cell *matFooterCellDef  hidden="true"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="bidService.displayedColumn;sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: bidService.displayedColumn;" [ngStyle]="{'display':(row.type=='item' && !row.expand)?'none':'table-row'}"></tr>
    <tr mat-footer-row *matFooterRowDef="bidService.displayedColumn; sticky: true" style="background-color: #fbf8d7;"></tr>
  </table>
</div>