<!-- HEADER-->
<div class="dialog-header p-2" *ngIf="!secondAcceptConfirmation && !secondDeclineConfirmation">
    <!-- <i class="fas fa-plus"> </i> -->
    <span class="dialog-header-txt"> Invitation </span>
    <i class="dialog-closex fas fa-times"  (click)="MatDialogRef.close()" *ngIf="common.internetConn && tab!=='attachView' && tab!=='remarkView'"> </i>
</div>
<!-- BODY -->
<div class="dialog-content" style="padding: 10px;" *ngIf="!secondAcceptConfirmation && !secondDeclineConfirmation">
    <div class="container-fluid">
        <div *ngIf="allRemarks.length>0" class="row">
            <div class="col-md-12 clearfix" style="max-height: 300px; overflow: auto; ">
            <app-remark [allRemarks]="allRemarks" [supplier]="true">
            </app-remark>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 mt-3">
                <mat-form-field class="full-width">
                    <mat-label>Comment</mat-label>
                    <input matInput [(ngModel)]="comment" required>
                </mat-form-field>
            </div>
        </div>

        <div class="row" style="justify-content: space-evenly;" *ngIf="auctionData.currency.length>1">
            <!-- ADDITION FACTOR -->
            <div *ngIf="additionMultiplicationFactor" style=" max-width: 250px;">
                <mat-card style="padding-top: 10px;padding-bottom: 10px;">Addition Factor :: {{addFactor}} </mat-card>
			</div>
			<!-- MULTIPLICATION FACTOR -->
            <div *ngIf="additionMultiplicationFactor" style=" max-width: 250px;">
                <mat-card style="padding-top: 10px;padding-bottom: 10px;">Multiplication Factor :: {{mulFactor}} %</mat-card>
			</div>
            <!-- CURRENCY -->
            <!-- Temporarily commented -->
            <!-- <div style="margin: auto 15px; max-width: 200px;">
                <mat-form-field class="full-width">
                    <mat-label>Currency</mat-label>
                    <mat-select disableOptionCentering [(ngModel)]="selectBidCurrency" (selectionChange)="changeCurrency();">
                        <mat-option *ngFor="let bidding of auctionData.currency" [value]="bidding">
                        {{bidding.currencyName}}({{bidding.currencyCode}})
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <div style=" max-width: 300px;">
              <mat-card style="padding-top: 10px;padding-bottom: 10px;">Currency :: {{selectBidCurrency.currencyName}} </mat-card>
            </div>

            <!-- EXCHANGE RATE -->
            <div style=" max-width: 300px;">
                <mat-card style="padding-top: 10px;padding-bottom: 10px;">Exchange Rate :: {{selectBidCurrency.exchangeRate}} {{currencyCodePrimary}}</mat-card>
            </div>
        </div>

        <div class=" p-2" *ngIf="preBid.length>0">
            <table class="table cust-table spacer-table">
                <thead>
                    <tr>
                        <th scope="col">Sr.No.</th>
                        <th scope="col" width="300">Item Name</th>
                        <th scope="col">Item Code</th>
                        <th scope="col" *ngIf="additionMultiplicationFactor">Cost weightage</th>
                        <th scope="col">Reliance Quantity</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Currency</th>
                        <th scope="col">My Unit Rate({{selectCurrency.currencyCode}})</th>
                        <th scope="col">
                            My Total Unit Rate({{selectCurrency.currencyCode}})</th>
                        <th scope="col"  *ngIf="additionMultiplicationFactor">
                            Landed Unit Rate({{selectCurrency.currencyCode}})</th>
                        <th scope="col"  *ngIf="additionMultiplicationFactor">Total
                            Landed Rate({{selectCurrency.currencyCode}})</th>
                    </tr>
                </thead>
                <tbody *ngFor="let lot of preliminaryData;let i = index">
                    <tr>
                        <td>{{i+1}}</td>
                        <td class="bold" style="cursor: pointer;">
                            <a href="javascriptt:void(0)" (click)="lotclick(i)" title="{{lot.lotName}}">
                            <!-- (i+1)+'. '+ -->
                            {{lot.lotName}}
                            </a>
                        </td>
                        <td></td>
                        <td   *ngIf="additionMultiplicationFactor"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td   *ngIf="additionMultiplicationFactor"></td>
                        <td   *ngIf="additionMultiplicationFactor"></td>
                    </tr>
                    <tr *ngFor="let item of lot.items;let itemI=index">
                        <td style="padding-left: 20px;">{{itemI+1}}</td>
                        <td style="padding-left: 20px;">
                            <div title="{{item.itemName}}">
                            <!-- (itemI+1)+'. '+ -->
                            {{item.itemName}}
                            </div>
                        </td>
                        <td>{{item.itemCode}}</td>
                        <td  *ngIf="additionMultiplicationFactor">{{((item.itemWeight)?item.itemWeight:'0.00')+'
                            %'}}</td>
                        <td> {{item.minimumDesiredQuantity}}</td>
                        <td> {{item.unitOfMeasure === "m" ? "Meter":(item.unitOfMeasure === "kg" ?
                            "KiloGram" : (item.unitOfMeasure === "EA" ? "Each" :
                            item.unitOfMeasure))}}</td>
                        <td>{{selectCurrency.currencyCode}}</td>
                        <td> {{item.bestBid |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace}}</td>
                        <td>{{item.totalBestBid |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace }}</td>

                        <td   *ngIf="additionMultiplicationFactor">
                            {{item.landedUnitRate |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace}}</td>
                        <td   *ngIf="additionMultiplicationFactor">{{item.totalLandedCost
                            |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace }}</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td style="padding-left: 20px;" colspan="2">Total Value</td>

                        <td></td>
                        <td   *ngIf="additionMultiplicationFactor"></td>
                        <td> </td>
                        <td > </td>
                        <td></td>
                        <td> <span *ngIf="false">{{total.baseCost |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace}}</span></td>
                        <td> {{total.variableCost |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace}}</td>

                        <td   *ngIf="additionMultiplicationFactor">
                            {{total.landedCost |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace}}
                        </td>
                        <td   *ngIf="additionMultiplicationFactor">
                            {{total.totalLandedCost |filter:[]:0:null:null:null:null:null:auctionData.decimalPlace}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div class="dialog-footer" *ngIf="common.internetConn && !secondAcceptConfirmation && !secondDeclineConfirmation">
    <div class="col-md-12 mb-2 mt-2 text-right">
        <button mat-flat-button class="mr-2 btn-blue" (click)="onAcceptBtn()">
            Accept
        </button>
        <button mat-flat-button class="mr-2" color="warn" type="button" (click)="onDeclineBtn()">
            Decline
        </button>
        <button mat-flat-button color="warn" type="button" (click)="onNegativeBtn()">
            Close
        </button>
    </div>
</div>

<div class="dialog-header p-2" *ngIf="common.internetConn && (secondAcceptConfirmation || secondDeclineConfirmation)">
    <span class="dialog-header-txt"> Confirm </span>
    <i class="dialog-closex fas fa-times"  (click)="MatDialogRef.close()"> </i>
</div>
<div class="dialog-content" style="padding: 10px;" *ngIf="common.internetConn && (secondAcceptConfirmation || secondDeclineConfirmation)">
    <div class="container-fluid">
        <div class="row">
            Are you sure you want to {{secondAcceptConfirmation ? 'Accept' : 'Decline'}}?
        </div>
    </div>
</div>

<div class="dialog-footer" *ngIf="common.internetConn && (secondAcceptConfirmation || secondDeclineConfirmation)">
    <div class="col-md-12 mb-2 mt-2 text-right">
        <button mat-flat-button class="mr-2 btn-blue" (click)="secondAcceptConfirmation ? accepted() : declined()" >
            Yes
        </button>
        <button mat-flat-button color="warn" type="button" (click)="onNegativeBtn()">
            No
        </button>
    </div>
</div>
