<div class="px-3 pt-3">
	<h3 class="bold bluefont font15 clearfix ">MMCS Documents
		<button class="header-sm-btn float-right ml-2" (click)="getMaterialAttachmentDetails()"> 
			<i class="fas fa-paperclip mr-1"></i> Fetch 
		</button>
		<button class="header-sm-btn float-right ml-2" *ngIf="mmcsAttchList.length>0" (click)="attachMMCS(mmcsAttchList)">
			<i class="fas fa-plus mr-1"></i> Attach
		</button> 
	</h3>    
	
	<div *ngIf="mmcsAttchList.length>0">
		<div class="mb-2 font14 border-bottom px-2"  *ngFor="let x of mmcsAttchList">
		<mat-checkbox style="vertical-align: sub;" class="mr-2" [(ngModel)]="x.selected"></mat-checkbox>
			<a class="font13" matTooltip="Download Attachment" (click)="download(x.generatedAttachmentUrl,x.fileName)"  > {{x.fileName}}</a>
		</div>
	</div>
</div>